<!--TODO: if no Yield entered, use insurance APH-->
<!--TODO: Should we show insurance APH?-->
<fieldset>
  <legend>Whole Farm Yield Information</legend>
  <!--<pre>{{defaultYields|json}}</pre>-->
  <div class="form-group row">
    <div class="col-md-12">
      <label>Please list your whole farm average yields.</label>
      <table class="table striped-table">
        <tr>
          <th style="width:12%;text-align:left;">Crop</th>
          <th class="text-center" style="width:8%;">UoM</th>
          <th style="width:10%;">{{globals.cropYears.PY1}}</th>
          <th style="width:10%;">{{globals.cropYears.PY2}}</th>
          <th style="width:10%;">{{globals.cropYears.PY3}}</th>
          <th style="width:10%;">3yr Avg</th>
          <th style="width:10%;">{{globals.cropYears.PY4}}</th>
          <th style="width:10%;">{{globals.cropYears.PY5}}</th>
          <th style="width:10%;">{{globals.cropYears.PY6}}</th>
          <th style="width:10%;">6yr Avg</th>
        </tr>
        <tr ng-repeat="c in loanCrops" ng-if="c.is_active">
          <td>{{c.name | capitalize}}</td>
          <td class="text-center">
            <select style="height:18px !important;" name="uom" ng-model="c.uom" ng-options="u.abr as u.unit for u in feeder.units" ng-change="uomChanged(c.id, c.uom)">
              <option value="">Please select ...</option>
            </select>
          </td>
          <td class="text-right">
            <digit-edit-in-place value="c.p1_yield"></digit-edit-in-place>
          </td>
          <td class="text-right">
            <digit-edit-in-place value="c.p2_yield"></digit-edit-in-place>
          </td>
          <td class="text-right">
            <digit-edit-in-place value="c.p3_yield"></digit-edit-in-place>
          </td>
          <td class="text-right">
            {{getAverage([c.p1_yield, c.p2_yield, c.p3_yield])| number:1}}
          </td>
          <td class="text-right">
            <digit-edit-in-place value="c.p4_yield"></digit-edit-in-place>
          </td>
          <td class="text-right">
            <digit-edit-in-place value="c.p5_yield"></digit-edit-in-place>
          </td>
          <td class="text-right">
            <digit-edit-in-place value="c.p6_yield"></digit-edit-in-place>
          </td>
          <td class="text-right">
            {{getAverage([c.p1_yield, c.p2_yield, c.p3_yield, c.p4_yield, c.p5_yield, c.p6_yield])| number:1}}
          </td>
        </tr>
      </table>
    </div>
  </div>
  <!--<pre>{{loan.loancrops | json}}</pre>-->
  <div class="row">
    <div class="col-md-12 text-right">
      <button style="margin-right:10px;" class="btn btn-primary">UPDATE</button>
    </div>
  </div>
</fieldset>
<!--<pre>{{units | json}}</pre>-->