<style>
    td{ font-size: 11px;}
    input[type=text]{ width: 100%;}
</style>
<fieldset>
    <legend>Insurance Information</legend>
    <tabset>
        <tab heading="AGENT/AGENCY">
            <br/>
            <div class="col-md-8 col-md-offset-1">
                <accordion close-others="true">
                    <!--<accordion close-others="false">-->
                    <accordion-group heading="No Agencies Found" ng-if="loan.insurance.agencies.length == 0">
                        There are no insurance agencies associates with this loan.
                    </accordion-group>
                    <accordion-group ng-repeat="a in loan.insurance.agencies" is-open="a.is_open">
                        <accordion-heading class="col-md-12">
                            {{a.agency}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': a.isOpen, 'glyphicon-chevron-right': !a.isOpen}"></i>
                        </accordion-heading>
                        <div class="col-md-6">
                            {{a.agency}}
                            <br/>
                            {{a.agency_address}}
                            <br/>
                            {{a.agency_city}}, {{a.agency_state}}  {{a.agency_zip}}
                            <br/>
                            {{a.agency_phone|phone}}
                            <br/>
                            {{a.agency_email}}
                        </div>
                        <div class="col-md-6">
                            {{a.agent}}
                            <br/>
                            {{a.agent_phone|phone}}
                            <br/>
                            {{a.agent_email}}
                        </div>
                    </accordion-group>
                </accordion>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-8 col-md-offset-1" style="margin:0 18px;">
                    <button class="btn btn-default btn-xs" ng-click="toggleAddNewOne()">
                        Add New
                    </button>
                </div>
            </div>
            <br/>
            <div class="row" ng-if="addNewOne">
                <div class="col-md-10 col-md-offset-1">
                    <form>
                        <label>Agency</label>
                        <input type="text" class="form-control" name="agency" ng-model="newAgency.agency"/>
                    </form>
                </div>
            </div>
        </tab>
        <tab heading="POLICIES">
            <table class="table table-striped rowed" style="width:100% !important;">
                <tr>
                    <th>ST</th>
                    <th>County</th>
                    <th>Crop</th>
                    <th>Practice</th>
                    <th>Type</th>
                    <th>Option</th>
                    <th>Level</th>
                    <th>Price</th>
                    <th>Premium</th>
                    <th>Acres</th>
                    <th>Share</th>
                    <th>Value</th>
                    <th>Agent</th>
                </tr>
                <tr ng-repeat="p in loan.insurance.policies | orderBy: ['state', 'county', 'crop', 'practice']">
                    <td class="text-left">
                        {{p.state}}
                    </td>
                    <td class="text-left">
                        {{p.county|capitalize}}
                    </td>
                    <td class="text-left">
                        {{p.crop|capitalize}}
                    </td>
                    <td class="text-left">
                        {{p.practice}}
                    </td>
                    <td class="text-center">
                        <text-edit-in-place value="p.type"></text-edit-in-place>
                    </td>
                    <td class="text-center">
                        <text-edit-in-place value="p.option"></text-edit-in-place>
                    </td>
                    <td class="text-right">
                        <percent-edit-in-place value="p.level"></percent-edit-in-place>
                    </td>
                    <td class="text-right">
                        <edit-in-place value="p.price"></edit-in-place>
                    </td>
                    <td class="text-right">
                        <edit-in-place value="p.premium"></edit-in-place>
                    </td>
                    <td class="text-right">
                        {{p.acres|number:1}}
                    </td>
                    <td class="text-right">
                        {{p.share|flexPercent:1}}
                    </td>
                    <td class="text-right">
                        {{p.value|flexCurrency:0}}
                    </td>
                    <td class="text-left">
                        {{p.agent}}
                    </td>
                </tr>
            </table>
        </tab>
        <tab heading="DATABASE">
            <table class="table table-striped rowed" style="width:100% !important;">
                <tr>
                    <th>ST</th>
                    <th>County</th>
                    <th>Crop</th>
                    <th>Practice</th>
                    <th>FSN</th>
                    <th>Landlord</th>
                    <th>APH</th>
                    <th>Share</th>
                </tr>
                <tr ng-repeat="d in loan.insurance.database | orderBy: ['state', 'county', 'crop', 'practice']">
                    <td class="text-left">
                        {{d.state}}
                    </td>
                    <td class="text-left">
                        {{d.county}}
                    </td>
                    <td class="text-left">
                        {{d.crop|capitalize}}
                    </td>
                    <td class="text-left">
                        {{d.practice}}
                    </td>
                    <td class="text-left">
                        {{d.fsn}}
                    </td>
                    <td class="text-left">
                        {{d.owner}}
                    </td>
                    <td class="text-right">
                        {{d.yield|number:1}}
                    </td>
                    <td class="text-right">
                        {{d.share|flexPercent:1}}
                    </td>
                </tr>
            </table>
        </tab>
        <tab heading="STAX/SCO">
            <h1>Supplemental Insurance</h1>
        </tab>
    </tabset>
</fieldset>
<!--<pre>{{loan.insurance.database | json}}</pre>-->