<div class="row form-group" ng-if="user_id == loan.user_id">
  <div ng-if="!loan.analyst_can_approve">
    <div class="col-md-10 alert alert-danger" role="alert">
      <h3>All loan conditions haven't been met. This loan cannot be approved for consideration at this time.</h3>
    </div>
  </div>
  <div ng-if="loan.analyst_can_approve">
    <div class="col-md-12 text-center">
      <button class="btn btn-primary" style="width:160px;" ng-disabled="{{loan.decision_date}}">Withdraw</button>
      <button class="btn btn-primary" style="width:160px;" ng-disabled="{{loan.decision_date}}">Decline</button>
      <button class="btn btn-primary" style="width:160px;" ng-disabled="{{loan.decision_date}}">Recommend (Dist)</button>
      <button class="btn btn-primary" style="width:160px;" ng-disabled="{{loan.decision_date}}">Recommend (ARM)</button>
      <button class="btn btn-primary" style="width:160px;" ng-disabled="{{!loan.analyst_can_approve || loan.decision_date}}">Approve</button>
    </div>
  </div>
</div>
<br/><br/>
<fieldset>
  <legend>Voting</legend>
  <div class="row col-md-12">
    <div></div>
    <br/>
    <table class="table table-striped rowed" style="width:98%; margin:0 auto;">
      <tr>
        <th style="width:7%;">&nbsp;</th>
        <th style="width:8%;">Role</th>
        <th style="width:18%;">User</th>
        <th style="width:10%;">Requested</th>
        <th style="width:10%;">Received</th>
        <th style="width:10%;">Vote</th>
        <th style="width:32%;">Comments</th>
      </tr>
      <tr ng-repeat="c in committee | orderBy:'role_id'">
        <td>
          <span ng-if="loan.need_vote" tooltip="Vote Needed" class="glyphicon glyphicon-exclamation-sign" style="color:#000099;font-size:18px;"></span>
          <span ng-if="!loan.need_vote" tooltip="Vote Needed" class="glyphicon glyphicon-exclamation-sign" style="color:#DDDDDD;font-size:18px;"></span>
          <span ng-if="loan.has_comment" tooltip="Comments" class="glyphicon glyphicon-exclamation-sign" style="color:#e0a02d;font-size:18px;"></span>
          <span ng-if="!loan.has_comment" tooltip="Comments" class="glyphicon glyphicon-exclamation-sign" style="color:#DDDDDD;font-size:18px;"></span>
        </td>
        <td><b>{{c.role}}</b></td>
        <td>{{c.username}}</td>
        <td class="text-center">{{c.vote_request_date | date:'M/d/yy'}}</td>
        <td class="text-center">{{c.vote_received_date | date:'M/d/yy'}}</td>
        <td ng-class="{'strong' : c.vote_id = 1}">{{c.vote.vote}}</td>
        <td>
          <span class="glyphicon glyphicon-comment" style="margin-right:10px;cursor: pointer;" ng-repeat="cc in comments | filter:{user_id : c.user_id}" tooltip="{{cc.comment}}" sglclick="commentBaloonClicked(cc.id)" ng-dblclick="commentBaloonDblClicked(cc.id)"></span>
        </td>
      </tr>
      <tr>
        <td colspan="7">
          <a ng-click="createCommittee()" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-plus-sign" style="color:#006837;"></span> Add New Member</a>
        </td>
      </tr>
    </table>
  </div>
</fieldset>
<!--<pre>{{committee | json}}</pre>-->