<a href="http://www.google.com">
    <span class="glyphicon glyphicon-plus indicon" tooltip="Addendum" ng-class="{ clrOn : row.getProperty('has_addendum'), clrOff: !row.getProperty('has_addendum') }"></span>
</a>

<a href="http://www.google.com">
    <span class="glyphicon glyphicon-retweet indicon" tooltip="Cross Collateral" ng-class="{ clrOn : row.getProperty('is_cross_colateralized'), clrOff: !row.getProperty('is_cross_colateralized') }"></span>
</a>

<a href="http://www.google.com">
    <span class="glyphicon glyphicon-fire indicon" tooltip="Bankruptcy History" ng-class="{ clrOn : row.getProperty('bankruptcy_history'), clrOff: !row.getProperty('bankruptcy_history') }"></span>
</a>

<a href="http://www.google.com">
    <span class="glyphicon glyphicon-stats indicon" tooltip="Third Party Credit Required" ng-class="{ clrOn : row.getProperty('required_3party'), clrOff: !row.getProperty('required_3party') }"></span>
</a>

<a href="http://www.google.com">
    <span class="glyphicon glyphicon-flag indicon" tooltip="Added Land in Database" ng-class="{ clrOn : row.getProperty('added_land'), clrOff: !row.getProperty('added_land') }"></span>
</a>

<a href="http://www.google.com">
    <span class="glyphicon glyphicon-tower indicon" tooltip="Controlled Disbursement" ng-class="{ clrOn : row.getProperty('controlled_disbursement'), clrOff: !row.getProperty('controlled_disbursement') }"></span>
</a>

<a ui-sref="edit/{{row.getProperty('loan_type_id')}}/{{row.getProperty('id')}}/prerequisites">
    <span class="glyphicon glyphicon-paperclip indicon" tooltip="Attachments" ng-class="{ clrOn : row.getProperty('has_attachments'), clrOff: !row.getProperty('has_attachments') }"></span>
</a>