<div class="ngHeaderSortColumn {{col.headerClass}}" ng-style="{'cursor': col.cursor}" ng-class="{ 'ngSorted': !noSortVisible }">
    <div ng-click="col.nextOrder($event)" ng-class="'colt' + col.index" class="ngHeaderText">{{col.displayName}} <span class="glyphicon glyphicon-info-sign"></span></div>
    <div class="ngSortButtonDown" ng-show="col.showSortButtonDown()"></div>
    <div class="ngSortButtonUp" ng-show="col.showSortButtonUp()"></div>
    <div class="ngSortPriority">{{col.sortPriority}}</div>
    <div ng-class="{ ngPinnedIcon: col.pinned, ngUnPinnedIcon: !col.pinned }" ng-click="togglePin(col)" ng-show="col.pinnable"></div>
</div>
<div ng-show="col.resizable" class="ngHeaderGrip" ng-click="col.gripClick($event)" ng-mousedown="col.gripOnMouseDown($event)"></div>
<!--<div class="ngHeaderSortColumn {{col.headerClass}}" ng-style="{'cursor': col.cursor}" ng-class="{ 'ngSorted': !noSortVisible }">
    <span ng-show="pending_view" ng-click="pending_view = 0; nextOrder(0)" class="glyphicon glyphicon-exclamation-sign" style="color:#FFFFFF;"></span>
    <span ng-show="!pending_view" ng-click="pending_view = 1; nextOrder(1)" class="glyphicon glyphicon-exclamation-sign" style="color:#CCCCCC;"></span>
</div>-->
