<a href="#/edit/{{row.getProperty('loan_type_id')}}/{{row.getProperty('id')}}/committee">
    <span tooltip="Vote Needed"
      tooltip-append-to-body="true"
      tooltip-placement="bottom"
      class="pendicon glyphicon glyphicon-exclamation-sign"
      ng-class="{'cBlue': row.getProperty('need_vote'), 'cGray': !row.getProperty('need_vote')}"></span>
</a>

<a href="#/edit/{{row.getProperty('loan_type_id')}}/{{row.getProperty('id')}}/comments">
    <span tooltip="Comments"
      tooltip-append-to-body="true"
      tooltip-placement="bottom"
      class="pendicon glyphicon glyphicon-exclamation-sign"
      ng-class="{'cYellow': row.getProperty('has_comment'), 'cGray': !row.getProperty('has_comment')}"></span>
</a>

<a href="#/edit/{{row.getProperty('loan_type_id')}}/{{row.getProperty('id')}}/committee">
    <span tooltip="Stale Application"
      tooltip-append-to-body="true"
      tooltip-placement="bottom"
      class="pendicon glyphicon glyphicon-exclamation-sign"
      ng-class="{'cRed': row.getProperty('is_stale'), 'cGray': !row.getProperty('is_stale')}"></span>
</a>

<a href="#/edit/{{row.getProperty('loan_type_id')}}/{{row.getProperty('id')}}/comments">
    <span tooltip="WatchList"
      tooltip-append-to-body="true"
      tooltip-placement="bottom"
      class="pendicon glyphicon glyphicon-sunglasses"
      ng-class="{'cGreen': row.getProperty('is_watched'), 'cGray': !row.getProperty('is_watched')}"></span>
</a>

<a href="#/edit/{{row.getProperty('loan_type_id')}}/{{row.getProperty('id')}}/disbursement">
    <span tooltip="Disbursement Issue"
      tooltip-append-to-body="true"
      tooltip-placement="bottom"
      class="pendicon glyphicon glyphicon-usd"
      ng-class="{'cOrange': row.getProperty('disbursement_issue'), 'cGray': !row.getProperty('disbursement_issue')}"></span>
</a>
