<!--TODO: Add ng-click to each active-->
<span tooltip="Vote Needed"
      class="pendicon glyphicon glyphicon-exclamation-sign"
      style="color:#009;" ng-if="row.getProperty('need_vote')"></span>
<span tooltip="Vote Needed"
      class="pendicon glyphicon glyphicon-exclamation-sign"
      style="color:#ddd;" ng-if="!row.getProperty('need_vote')"></span>

<span tooltip="Comments"
      class="pendicon glyphicon glyphicon-exclamation-sign"
      style="color:#e0a02d;" ng-if="row.getProperty('has_comment')"></span>
<span tooltip="Comments"
      class="pendicon glyphicon glyphicon-exclamation-sign"
      style="color:#ddd;" ng-if="!row.getProperty('has_comment')"></span>

<span tooltip="Stale Application"
      class="pendicon glyphicon glyphicon-exclamation-sign"
      style="color:#900;" ng-if="row.getProperty('is_stale')"></span>
<span tooltip="Stale Application"
      class="pendicon glyphicon glyphicon-exclamation-sign"
      style="color:#ddd;" ng-if="!row.getProperty('is_stale')"></span>

<span tooltip="WatchList"
      class="pendicon glyphicon glyphicon-eye-open"
      style="color:#900;" ng-if="row.getProperty('is_watched')"></span>
<span tooltip="WatchList"
      class="pendicon glyphicon glyphicon-eye-open"
      style="color:#ddd;" ng-if="!row.getProperty('is_watched')"></span>