<fieldset>
  <legend>Grain Storage</legend>
  <!--<pre>{{storage|json}}</pre>-->
  <table class="table table-striped rowed" style="width:97%; margin: 0 auto;">
    <tr>
      <td style="width:200px;">
        <label>Contract Date:</label>
        <br/>
        {{newStorage.contract_date|date:"MM/dd/yyyy"}}
      </td>
      <td>
        <label>Grain Buyer</label>
        <input type="text" class="form-control" name="grain_buyer" ng-model="newStorage.grain_buyer"/>
      </td>
      <td style="width:200px;">
        <label>Percent to Advance</label>
        <input type="text" class="form-control" style="width:190px;" name="advance_percent" ng-model="newStorage.advance_percent"/>
      </td>
      <td style="width:200px;">
        <label>Payment Terms</label>
        <input type="text" class="form-control" style="width:190px;" name="payment_terms" ng-model="newStorage.payment_terms"/>
      </td>
      <td style="width:200px;">
        <label>Amount Requested</label>
        <input type="text" class="form-control" style="width:190px;" name="amount_requested" ng-model="newStorage.amount_requested"/>
      </td>
    </tr>
  </table>
  <br/><br/>
  <table class="table table-striped" style="width:96%; margin: 0 auto;">
    <tr>
      <td colspan="4">
        <table class="table table-striped rowed">
          <tr>
            <th>Contract Number</th>
            <th>Commodity</th>
            <th>Delivery Due Date</th>
            <th>Landowner's Share</th>
            <th>Contract Amount</th>
            <th>Contract Price</th>
            <th>Expected Revenue</th>
            <th>Eligible Proceeds</th>
          </tr>
          <tr>
            <td colspan="8" ng-hide="storage.length > 0">
              <strong>No contracts found!</strong>
            </td>
          </tr>
          <tr ng-repeat="store in storage">
            <td>
              {{store.contract_number}}
            </td>
            <td class="text-center">
              {{store.commodity|capitalize}}
            </td>
            <td class="text-center">
              {{store.delivery_date|date:"MM/dd/yyyy"}}
            </td>
            <td class="text-right">
              {{store.owner_share|flexPercent:1}}
            </td>
            <td class="text-right">
              {{store.contract_amount|number:1}}
            </td>
            <td class="text-right">
              {{store.contract_price|flexCurrency:4}}
            </td>
            <td class="text-right">
              {{store.revenue|flexCurrency:0}}
            </td>
            <td class="text-right">
              {{store.eligible_proceeds|flexCurrency:0}}
            </td>
          </tr>
          <tr class="success" ng-if="storage.length > 0">
            <td colspan="4">Total</td>
            <td class="text-right">
              {{total_stored.contract_amount|number:1}}
            </td>
            <td>&nbsp;</td>
            <td class="text-right">
              {{total_stored.revenue|flexCurrency:0}}
            </td>
            <td class="text-right">
              {{total_stored.eligible|flexCurrency:0}}
            </td>
          </tr>
          <tr class="warning" ng-if="newStorage.amount_requested > 0">
            <td colspan="7">Residual</td>
            <td class="text-right">
              {{total_stored.remaining|flexCurrency:0}}
            </td>
          </tr>
        </table>

      </td>
    </tr>
  </table>
  <br/><br/>
  <table class="table table-striped" style="width:96%; margin: 0 auto;">
    <tr>
      <td>
        <label>Contract Number</label>
        <input type="text" class="form-control" name="contract_number" ng-model="newContract.contract_number"/>
      </td>
      <td>
        <label>Commodity</label>
        <select name="commodity" class="form-control" ng-model="newContract.commodity" ng-options="c.name as c.name for c in commodityDD">
          <option value="">Please select ...</option>
        </select>
      </td>
      <td>
        <label>Delivery Due Date</label>
        <input type="date" style="width:160px;" class="form-control" ng-model="newContract.delivery_due_date" />
      </td>
      <td>
        <label>Lien Holder</label>
        <input type="text" class="form-control" name="lien_holder" ng-model="newContract.lien_holder"/>
      </td>
      <td>
        <label>Landowner's Share</label>
        <input type="text" class="form-control" style="width:140px;" name="owner_share" ng-model="newContract.owner_share"/>
      </td>
      <td>
        <label style="display:block;">Contract Amount</label>
        <input type="text" class="form-control" style="width:140px; display:inline;" name="contract_amount" ng-model="newContract.contract_amount"/>
      </td>
      <td>
        <label>UoM</label><br/>
        <select style="display:inline;" name="uom" ng-model="newContract.uom" ng-options="u.abr as u.unit for u in feeder.units" ng-change="uomChanged(c.id, c.uom)">
          <option value="">Please select ...</option>
        </select>
      </td>
      <td>
        <label>Contract Price</label>
        <input type="text" class="form-control" style="width:140px;" name="contract_price" ng-model="newContract.contract_price"/>
      </td>
    </tr>
    <tr>
      <td colspan="6"> <!-- class="text-right">-->
        <button class="btn btn-default btn-xs" ng-click="saveStorageContract()">
          Add Contract
        </button>
      </td>
    </tr>
  </table>

  <div class="row">
    <div class="col-md-12 text-right" style="padding-top:25px;">
        <span ng-if="newapplication">
          <button style="margin-right:10px;" class="btn btn-primary" ng-click="insertGrain()">Next</button>
        </span>
        <span ng-if="!newapplication">
          <button style="margin-right:10px;" class="btn btn-primary" ng-click="updateGrain()">UPDATE</button>
        </span>
    </div>
  </div>
</fieldset>