<style>
    .list-group-item a{
        color: #333333;
        font-size: 14px;
        font-weight: bold;
        text-decoration: none;
    }
</style>
<div id="AdminSideBar" style="padding-top: 10px; width:98%;">
    <accordion>
        <accordion-group heading="Feeders">
            <ul class="list-group">
                <li class="list-group-item">
                    <a ui-sref-active="active" ui-sref="admin.agents.list">
                        Agencies
                    </a>
                </li>
                <li class="list-group-item">
                    <a ui-sref-active="active" ui-sref="admin.crops.list">
                        Crops
                    </a>
                </li>
                <li class="list-group-item">
                    <a ui-sref-active="active" ui-sref="admin.distributors.list">
                        Distributors
                    </a>
                </li>
                <li class="list-group-item">
                    <a ui-sref-active="active" ui-sref="admin.entitytypes.list">
                        Entity Types
                    </a>
                </li>
                <li class="list-group-item">
                    <a ui-sref-active="active" ui-sref="admin.instypes.list">
                        Insurance Types
                    </a>
                </li>
                <li class="list-group-item">
                    <a ui-sref-active="active" ui-sref="admin.loantypes.list">
                        Loan Types
                    </a>
                </li>
                <li class="list-group-item">
                    <a ui-sref-active="active" ui-sref="admin.locations.list">
                        Locations
                    </a>
                </li>
                <li class="list-group-item">
                    <a ui-sref-active="active" ui-sref="admin.regions.list">
                        Regions
                    </a>
                </li>
                <li class="list-group-item">
                    <a ui-sref-active="active" ui-sref="admin.roles.list">
                        Roles
                    </a>
                </li>
                <li class="list-group-item">
                    <a ui-sref-active="active" ui-sref="admin.units.list">
                        UoM
                    </a>
                </li>
            </ul>
        </accordion-group>

        <accordion-group heading="Library">
            <ul class="list-group">
                <li class="list-group-item">
                    <a ui-sref-active="active" ui-sref="admin.pdfapps.list">
                        Applications
                    </a>
                </li>
                <li class="list-group-item">
                    <a ui-sref-active="active" ui-sref="admin.resources.list">
                        Employee
                    </a>
                </li>
                <li class="list-group-item">
                    <a ui-sref-active="active" ui-sref="admin.legal.docs.list">
                        Legal
                    </a>
                </li>
                <li class="list-group-item">
                    <a ui-sref-active="active" ui-sref="admin.pols.and.procs.list">
                        Policies
                    </a>
                </li>
                <li class="list-group-item">
                    <a ui-sref-active="active" ui-sref="admin.loan.products.list">
                        Products
                    </a>
                </li>
                <li class="list-group-item">
                    <a ui-sref-active="active" ui-sref="admin.matrix.list">
                        Resp Matrix
                    </a>
                </li>
            </ul>
        </accordion-group>

        <accordion-group heading="System">
            <ul class="list-group">
                <li class="list-group-item">
                    <a ui-sref-active="active" ui-sref="admin.crops.list">
                        Archive Loans
                    </a>
                </li>
                <li class="list-group-item">
                    <a ui-sref-active="active" ui-sref="admin.crops.list">
                        QB Sync
                    </a>
                </li>
                <li class="list-group-item">
                    <a ui-sref-active="active" ui-sref="admin.crops.list">
                        Req Reconcile
                    </a>
                </li>
                <li class="list-group-item">
                    <a ui-sref-active="active" ui-sref="admin.crops.list">
                        Req Inspections
                    </a>
                </li>
            </ul>
        </accordion-group>

        <accordion-group heading="Loans">
            <ul class="list-group">
                <li class="list-group-item">
                    <a ui-sref-active="active" ui-sref="admin.grader.specs.list">
                        Budgets
                    </a>
                </li>
                <li class="list-group-item">
                    <a ui-sref-active="active" ui-sref="admin.closings.list">
                        Closing
                    </a>
                </li>
                <li class="list-group-item">
                    <a ui-sref-active="active" ui-sref="admin.committeespecs.list">
                        Committee
                    </a>
                </li>
                <li class="list-group-item">
                    <a ui-sref-active="active" ui-sref="admin.loans.list">
                        Data
                    </a>
                </li>
                <li class="list-group-item">
                    <a ui-sref-active="active" ui-sref="admin.globals.list">
                        Globals
                    </a>
                </li>
                <li class="list-group-item">
                    <a ui-sref-active="active" ui-sref="admin.grader.specs.list">
                        Insurance
                    </a>
                </li>
                <li class="list-group-item">
                    <a ui-sref-active="active" ui-sref="admin.grader.specs.list">
                        Grade
                    </a>
                </li>
                <li class="list-group-item">
                    <a ui-sref-active="active" ui-sref="admin.docs.list">
                        Prerequisites
                    </a>
                </li>
                <li class="list-group-item">
                    <a ui-sref-active="active" ui-sref="admin.crops.list">
                        UoM Conversions
                    </a>
                </li>
            </ul>
        </accordion-group>

        <accordion-group heading="Reports">
            <ul class="list-group">
                <li class="list-group-item">
                    <a ui-sref-active="active" ui-sref="admin.reports.list">
                        Reports
                    </a>
                </li>
            </ul>
        </accordion-group>

        <accordion-group heading="Users">
            <ul class="list-group">
                <li class="list-group-item">
                    <a ui-sref-active="active" ui-sref="admin.applicants.list">
                        Applicants
                    </a>
                </li>
                <li class="list-group-item">
                    <a ui-sref-active="active" ui-sref="admin.farmers.list">
                        Farmers
                    </a>
                </li>
                <li class="list-group-item">
                    <a ui-sref-active="active" ui-sref="admin.users.list">
                        Staff
                    </a>
                </li>
            </ul>
        </accordion-group>

    </accordion>
</div>