<div class="btn-group-vertical" style="padding-top: 10px; width:98%;">
    <a ui-sref-active="active" ui-sref="admin.farmers.list" class="btn btn-default">Farmers</a>
</div>
<div class="btn-group-vertical" style="width:98%;">
  <a ui-sref-active="active" ui-sref="admin.applicants.list" class="btn btn-default">Applicants</a>
</div>
<div class="btn-group-vertical" style="width:98%;">
  <a class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    Feeder Lists
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li>
      <a ui-sref-active="active" ui-sref="admin.crops.list" class="btn btn-default">Crops</a>
    </li>
    <li>
      <a ui-sref-active="active" ui-sref="admin.distributors.list" class="btn btn-default">Distributors</a>
    </li>
    <li>
      <a ui-sref-active="active" ui-sref="admin.entitytypes.list" class="btn btn-default">Entity Types</a>
    </li>
    <li>
      <a ui-sref-active="active" ui-sref="admin.instypes.list" class="btn btn-default">Insurance Types</a>
    </li>
    <li>
      <a ui-sref-active="active" ui-sref="admin.loantypes.list" class="btn btn-default">Loan Types</a>
    </li>
    <li>
      <a ui-sref-active="active" ui-sref="admin.roles.list" class="btn btn-default">Roles</a>
    </li>
    <li>
      <a ui-sref-active="active" ui-sref="admin.units.list" class="btn btn-default">Measurement Units</a>
    </li>
  </ul>
</div>
<div class="btn-group-vertical" style="width:98%;">
    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        Library Items
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li>
            <a ui-sref-active="active" ui-sref="admin.pdfapps.list" class="btn btn-default">Loan Applications (.pdf)</a>
        </li>
    </ul>
</div>
<div class="btn-group-vertical" style="width:98%;">
  <a ui-sref-active="active" ui-sref="admin.locations.list" class="btn btn-default">Locations</a>
  <a ui-sref-active="active" ui-sref="admin.regions.list" class="btn btn-default">Regions</a>
  <a ui-sref-active="active" ui-sref="admin.reports.list" class="btn btn-default">Reports</a>
  <a ui-sref-active="active" ui-sref="admin.users.list" class="btn btn-default">Users</a>
</div>