<div class="btn-group-vertical" style="padding-top: 10px; width:98%;">
  <a ui-sref-active="active" ui-sref="edit.summary" class="btn btn-default">Summary</a>
  <a ui-sref-active="active" ui-sref="edit.underwriting" class="btn btn-default">Underwriting</a>
  <a ui-sref-active="active" ui-sref="edit.terms" class="btn btn-default">Terms</a>
  <a ui-sref-active="active" ui-sref="edit.committee" class="btn btn-default">Committee</a>
  <a ui-sref-active="active" ui-sref="edit.comments" class="btn btn-default">Comments</a>
  <a ui-sref-active="active" ui-sref="edit.farmer" class="btn btn-default">Farmer</a>
  <a ui-sref-active="active" ui-sref="edit.applicant" class="btn btn-default">Applicant</a>
  <a ui-sref-active="active" ui-sref="edit.quests" class="btn btn-default">Questions</a>
  <a ui-sref-active="active" ui-sref="edit.references" class="btn btn-default">References</a>
  <a ui-sref-active="active" ui-sref="edit.financials" class="btn btn-default">
    Financials&nbsp;
    <span style="font-weight: bold; color: #006837;" ng-if="loan.fins.grade">
      [{{loan.fins.grade}}<span ng-if="loan.fins.credit_score"> - {{loan.fins.credit_score}}</span>]
    </span>
  </a>
  <a ui-sref-active="active" ui-sref="edit.plannedcrops" class="btn btn-default">Planned Crops</a>
  <a ui-sref-active="active" ui-sref="edit.prerequisites" class="btn btn-default">Prerequisites</a>
  <a ui-sref-active="active" ui-sref="edit.closing" class="btn btn-default">Closing</a>
  <a ui-sref-active="active" ui-sref="edit.disbursement" class="btn btn-default">Disbursement</a>
  <a ui-sref-active="active" ui-sref="edit.audit" class="btn btn-default">Audit</a>
  <!--<a ui-sref-active="active" ui-sref="edit.farmdetails" class="btn btn-default">Farm Details</a>-->
  <!--<a ui-sref="edit.acres" class="btn btn-default">Acres</a>-->
</div>