<div class="btn-group-vertical" style="padding-top: 10px; width:98%;">
  <a ui-sref-active="active" ui-sref="edit.summary" class="btn btn-black">Summary</a>
  <a ui-sref-active="active" ui-sref="edit.underwriting" class="btn btn-black">Underwriting</a>
  <a ui-sref-active="active" ui-sref="edit.terms" class="btn btn-black">Terms</a>
  <a ui-sref-active="active" ui-sref="edit.committee" class="btn btn-black">Committee</a>
  <a ui-sref-active="active" ui-sref="edit.comments" class="btn btn-black">Comments</a>
  <a ui-sref-active="active" ui-sref="edit.farmer" class="btn btn-black">Farmer</a>
  <a ui-sref-active="active" ui-sref="edit.applicant" class="btn btn-black">Applicant</a>
  <a ui-sref-active="active" ui-sref="edit.quests" class="btn btn-black">Questions</a>
  <a ui-sref-active="active" ui-sref="edit.references" class="btn btn-black">References</a>
  <a ui-sref-active="active" ui-sref="edit.financials" class="btn btn-black">
    Financials&nbsp;
    <span style="font-weight: bold; color: #006837;" ng-if="loan.fins.grade">
      [{{loan.fins.grade}}<span ng-if="loan.fins.credit_score"> {{loan.fins.credit_score}}</span>]
    </span>
  </a>
  <a ui-sref-active="active" ui-sref="edit.crops" class="btn btn-black">Crops</a>
  <a ui-sref-active="active" ui-sref="edit.yield" class="btn btn-black">Yield</a>
    <a ui-sref-active="active" ui-sref="edit.collateral" class="btn btn-black">Collateral</a>
    <a ui-sref-active="active" ui-sref="edit.farms" class="btn btn-black">Farms</a>
  <a ui-sref-active="active" ui-sref="edit.insurance" class="btn btn-black" ng-if="loan.quests.insInPlace">Insurance</a>
  <a ui-sref-active="active" ui-sref="edit.budgets" class="btn btn-black">Crop Budgets</a>
  <a ui-sref-active="active" ui-sref="edit.optimizer" class="btn btn-black">Optimizer</a>
  <a ui-sref-active="active" ui-sref="edit.prerequisites" class="btn btn-black">Prerequisites</a>
  <a ui-sref-active="active" ui-sref="edit.closing" class="btn btn-black">Closing</a>
  <a ui-sref-active="active" ui-sref="edit.disbursement" class="btn btn-black">Disbursement</a>
  <a ui-sref-active="active" ui-sref="edit.audit" class="btn btn-black">Audit</a>
  <!--<a ui-sref-active="active" ui-sref="edit.farmdetails" class="btn btn-black">Farm Details</a>-->
  <!--<a ui-sref="edit.acres" class="btn btn-black">Acres</a>-->
</div>