<ul class="list-group" style="padding:0;width:160px !important;">
    <li class="list-group-item butt" ng-click="toggleSidebar()">
        <span class="menuicon glyphicon glyphicon-option-vertical" tooltip="Collapse" tooltip-append-to-body="true" tooltip-placement="right"></span>
    </li>
    <li class="list-group-item lnk" ng-click="ngcLink('summary')">
        <span class="menuicon glyphicon glyphicon-credit-card" tooltip="Summary" tooltip-append-to-body="true" tooltip-placement="right"></span>
        &nbsp;Summary
    </li>
    <li class="list-group-item lnk" ng-click="ngcLink('underwriting')">
        <span class="menuicon glyphicon glyphicon-book" tooltip="Underwriting" tooltip-append-to-body="true" tooltip-placement="right"></span>
        &nbsp;Underwriting
    </li>
    <li class="list-group-item lnk" ng-click="ngcLink('terms')">
        <span class="menuicon glyphicon glyphicon-lamp" tooltip="Terms" tooltip-append-to-body="true" tooltip-placement="right"></span>
        &nbsp;Terms
    </li>
    <li class="list-group-item lnk" ng-click="ngcLink('committee')">
        <span class="menuicon glyphicon glyphicon-user" tooltip="Committee" tooltip-append-to-body="true" tooltip-placement="right"></span>
        &nbsp;Committee
    </li>
    <li class="list-group-item lnk" ng-click="ngcLink('comments')">
        <span class="menuicon glyphicon glyphicon-cloud" tooltip="Comment" tooltip-append-to-body="true" tooltip-placement="right"></span>
        &nbsp;Comment
    </li>
    <li class="list-group-item lnk"  ng-click="ngcLink('farmer')">
        <span class="menuicon glyphicon glyphicon-star" tooltip="Applicant" tooltip-append-to-body="true" tooltip-placement="right"></span>
        &nbsp;Applicant
    </li>
    <li class="list-group-item lnk" ng-click="ngcLink('quests')">
        <span class="menuicon glyphicon glyphicon-question-sign" tooltip="Questions" tooltip-append-to-body="true" tooltip-placement="right"></span>
        &nbsp;Questions
    </li>
    <li class="list-group-item lnk" ng-click="ngcLink('references')">
        <span class="menuicon glyphicon glyphicon-globe" tooltip="References" tooltip-append-to-body="true" tooltip-placement="right"></span>
        &nbsp;References
    </li>
    <li class="list-group-item lnk" ng-click="ngcLink('financials')">
        <span class="menuicon glyphicon glyphicon-yen" tooltip="Financial" tooltip-append-to-body="true" tooltip-placement="right"></span>
        &nbsp;Financial&nbsp;
    <span style="font-weight: normal; color: #000000;" >
      [B-704]
    </span>
    </li>
    <li class="list-group-item lnk" ng-click="ngcLink('crops')">
        <span class="menuicon glyphicon glyphicon-grain" tooltip="Crop" tooltip-append-to-body="true" tooltip-placement="right"></span>
        &nbsp;Crop
    </li>
    <li class="list-group-item lnk" ng-click="ngcLink('farms')">
        <span class="menuicon glyphicon glyphicon-apple" tooltip="Farm" tooltip-append-to-body="true" tooltip-placement="right"></span>
        &nbsp;Farm
    </li>
    <li class="list-group-item lnk" ng-click="ngcLink('insurance')">
        <span class="menuicon glyphicon glyphicon-scale" tooltip="Insurance" tooltip-append-to-body="true" tooltip-placement="right"></span>
        &nbsp;Insurance
    </li>
    <li class="list-group-item lnk" ng-click="ngcLink('budgets')">
        <span class="menuicon glyphicon glyphicon-piggy-bank" tooltip="Budget" tooltip-append-to-body="true" tooltip-placement="right"></span>
        &nbsp;Budget
    </li>
    <li class="list-group-item lnk" ng-click="ngcLink('optimizer')">
        <span class="menuicon glyphicon glyphicon-tasks" tooltip="Optimizer" tooltip-append-to-body="true" tooltip-placement="right"></span>
        &nbsp;Optimizer
    </li>
    <li class="list-group-item lnk" ng-click="ngcLink('collateral')">
        <span class="menuicon glyphicon glyphicon-gbp" tooltip="Collateral" tooltip-append-to-body="true" tooltip-placement="right"></span>
        &nbsp;Collateral
    </li>
    <li class="list-group-item lnk" ng-click="ngcLink('prerequisites')">
        <span class="menuicon glyphicon glyphicon-paperclip" tooltip="Prerequisite" tooltip-append-to-body="true" tooltip-placement="right"></span>
        &nbsp;Prerequisite
    </li>
    <li class="list-group-item lnk" ng-click="ngcLink('closing')">
        <span class="menuicon glyphicon glyphicon-tower" tooltip="Closing" tooltip-append-to-body="true" tooltip-placement="right"></span>
        &nbsp;Closing
    </li>
    <li class="list-group-item lnk" ng-click="ngcLink('disbursement')">
        <span class="menuicon glyphicon glyphicon-ice-lolly-tasted" tooltip="Disbursement" tooltip-append-to-body="true" tooltip-placement="right"></span>
        &nbsp;Disbursement
    </li>
    <li class="list-group-item lnk" ng-click="ngcLink('audit')">
        <span class="menuicon glyphicon glyphicon-sunglasses" tooltip="Audit" tooltip-append-to-body="true" tooltip-placement="right"></span>
        &nbsp;Audit
    </li>
</ul>