<ul class="list-group">
    <li class="list-group-item butt" ng-click="toggleSidebar()">
        <span class="menuicon glyphicon glyphicon-option-horizontal" tooltip="Full Menu" tooltip-append-to-body="true" tooltip-placement="right"></span>
    </li>
    <li class="list-group-item">
        <span class="menuicon glyphicon glyphicon-credit-card" tooltip="Summary" tooltip-append-to-body="true" tooltip-placement="right" ng-click="ngcLink('summary')"></span>
    </li>
    <li class="list-group-item">
        <span class="menuicon glyphicon glyphicon-book" tooltip="Underwriting" tooltip-append-to-body="true" tooltip-placement="right" ng-click="ngcLink('underwriting')"></span>
    </li>
    <li class="list-group-item">
        <span class="menuicon glyphicon glyphicon-lamp" tooltip="Terms" tooltip-append-to-body="true" tooltip-placement="right" ng-click="ngcLink('terms')"></span>
    </li>
    <li class="list-group-item">
        <span class="menuicon glyphicon glyphicon-user" tooltip="Committee" tooltip-append-to-body="true" tooltip-placement="right" ng-click="ngcLink('committee')"></span>
    </li>
    <li class="list-group-item">
        <span class="menuicon glyphicon glyphicon-cloud" tooltip="Comments" tooltip-append-to-body="true" tooltip-placement="right" ng-click="ngcLink('comments')"></span>
    </li>
    <li class="list-group-item">
        <span class="menuicon glyphicon glyphicon-star" tooltip="Applicant" tooltip-append-to-body="true" tooltip-placement="right" ng-click="ngcLink('farmer')"></span>
    </li>
    <li class="list-group-item">
        <span class="menuicon glyphicon glyphicon-question-sign" tooltip="Questions" tooltip-append-to-body="true" tooltip-placement="right" ng-click="ngcLink('quests')"></span>
    </li>
    <li class="list-group-item">
        <span class="menuicon glyphicon glyphicon-globe" tooltip="References" tooltip-append-to-body="true" tooltip-placement="right" ng-click="ngcLink('references')"></span>
    </li>
    <li class="list-group-item">
        <span class="menuicon glyphicon glyphicon-yen" tooltip="Financial" tooltip-append-to-body="true" tooltip-placement="right" ng-click="ngcLink('financials')"></span>
    </li>
    <li class="list-group-item">
        <span class="menuicon glyphicon glyphicon-grain" tooltip="Crop" tooltip-append-to-body="true" tooltip-placement="right" ng-click="ngcLink('crops')"></span>
    </li>
    <li class="list-group-item">
        <span class="menuicon glyphicon glyphicon-apple" tooltip="Farm" tooltip-append-to-body="true" tooltip-placement="right" ng-click="ngcLink('farms')"></span>
    </li>
    <li class="list-group-item">
        <span class="menuicon glyphicon glyphicon-scale" tooltip="Insurance" tooltip-append-to-body="true" tooltip-placement="right" ng-click="ngcLink('insurance')"></span>
    </li>
    <li class="list-group-item">
        <span class="menuicon glyphicon glyphicon-piggy-bank" tooltip="Budget" tooltip-append-to-body="true" tooltip-placement="right" ng-click="ngcLink('budgets')"></span>
    </li>
    <li class="list-group-item">
        <span class="menuicon glyphicon glyphicon-tasks" tooltip="Optimizer" tooltip-append-to-body="true" tooltip-placement="right" ng-click="ngcLink('optimizer')"></span>
    </li>
    <li class="list-group-item">
        <span class="menuicon glyphicon glyphicon-gbp" tooltip="Collateral" tooltip-append-to-body="true" tooltip-placement="right" ng-click="ngcLink('collateral')"></span>
    </li>
    <li class="list-group-item">
        <span class="menuicon glyphicon glyphicon-paperclip" tooltip="Prerequisite" tooltip-append-to-body="true" tooltip-placement="right" ng-click="ngcLink('prerequisites')"></span>
    </li>
    <li class="list-group-item">
        <span class="menuicon glyphicon glyphicon-tower" tooltip="Closing" tooltip-append-to-body="true" tooltip-placement="right" ng-click="ngcLink('closing')"></span>
    </li>
    <li class="list-group-item">
        <span class="menuicon glyphicon glyphicon-ice-lolly-tasted" tooltip="Disbursement" tooltip-append-to-body="true" tooltip-placement="right" ng-click="ngcLink('disbursement')"></span>
    </li>
    <li class="list-group-item">
        <span class="menuicon glyphicon glyphicon-sunglasses" tooltip="Audit" tooltip-append-to-body="true" tooltip-placement="right" ng-click="ngcLink('audit')"></span>
    </li>
</ul>