<!--<pre>{{states | json}}</pre>-->
<form class="form-horizontal" location="form">
    <div class="form-group">
        <label class="col-sm-2 control-label">Location</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" ng-model="location.location" placeholder="Location"/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Phone</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" ng-model="location.phone" ui-mask="(999) 999-9999"/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Display</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" ng-model="location.loc_abr" placeholder="Display Abbreviation"/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Region</label>
        <div class="col-sm-6">
            <select name="region_id" class="form-control" ng-model="location.region_id" ng-options="r.id as r.region for r in regions">
                <option value="">Please select ...</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Address</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" ng-model="location.address" placeholder="Address"/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">City</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" ng-model="location.city" placeholder="City"/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">State</label>
        <div class="col-sm-6">
            <select name="state" class="form-control" ng-model="location.state" ng-options="s.abr as s.state for s in states.data">
                <option value="">Please select ...</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Zip</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" ng-model="location.zip" placeholder="Zip Code"/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Manager</label>
        <div class="col-sm-6">
            <select name="manager_id" class="form-control" ng-model="location.manager_id" ng-options="u.id as u.username for u in users">
                <option value="">Please select ...</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-6">
            <a class="btn btn-success" ng-click="saveLocation(location.id, location)" ui-sref="admin.locations.list">Submit</a>
            &nbsp;&nbsp;&nbsp;
            <a ui-sref="admin.locations.list" class="btn btn-default">Cancel</a>
        </div>
    </div>
</form>
<br><br/>