<div ng-controller="AdminUnitsController">
    <div ui-view></div>
    <!--<pre>{{units | json}}</pre>-->
    <table class="table table-striped table-bordered table-hover table-condensed">
        <tr>
            <th style="width:15%;">Unit</th>
            <th style="width:15%;">Abr</th>
            <th style="width:15%;">Convert to Pounds</th>
            <th style="width:15%;">Convert from Pounds</th>
            <th style="width:15%;">Actions</th>
        </tr>
        <tr ng-repeat="u in feeder.units">
            <td>
                {{ u.unit | capitalize:true }}
            </td>
            <td class="text-center">
                {{ u.abr }}
            </td>
            <td ng-class=gtZero(u.toPounds)>
                {{u.toPounds | number:0}}
            </td>
            <!-- I really don't see the need for this.  For conversion just divide 1 / u.toPounds(target) * u.toPounds(destination) -->
            <td ng-class=gtZero(u.fromPounds)>
                {{1 / u.toPounds | number:6}}
            </td>
            <td style="white-space: nowrap">
                <a class="btn btn-success" ui-sref="admin.units.edit({unitId:u.id})">edit</a>
                <button class="btn btn-danger" ng-really-message="This action cannot be undone. Are you sure?" ng-really-click="removeUnit($index, u.id)">del</button>
            </td>
        </tr>
    </table>

    <button class="btn btn-default" ng-click="addUnit()">Add New Unit</button>
    <br/><br/><br/><br/>
</div>