<fieldset>
  <legend>Grain Storage Loan Calculation</legend>
  <!--<pre>{{storage|json}}</pre>-->
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <table class="table table-striped">
        <tr>
          <td style="width:20%;">
            <label>Advance Percentage:</label>
            &nbsp;&nbsp;&nbsp;
            {{storage[0].advance_percent|flexPercent:1}}
          </td>
          <td style="width:60%;">&nbsp;</td>
          <td style="width:20%;">
            <label>Date:</label>
            &nbsp;&nbsp;&nbsp;
            {{storage[0].contract_date}}
          </td>
        </tr>
      </table>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div ng-include="'angular/views/loans/partials/storage_contract.html'"></div>
    </div>
  </div>
</fieldset>