<fieldset>
  <legend>AFFILIATES INFORMATION</legend>

  <div class="row form-group">
    <table class="table table-striped rowed" style="width:90%;margin: 0 auto;">
      <tr>
        <th>Affiliated Entity</th>
        <th>Percent Owned</th>
      </tr>
      <tr ng-if="!affiliates || affiliates.length == 0">
        <td colspan="2">
          <b>No affiliated entities found!</b>
        </td>
      </tr>
      <tr ng-repeat="a in affiliates">
        <td>
          <text-edit-in-place value="a.entity_name"></text-edit-in-place>
        </td>
        <td class="text-center">
          <percent-edit-in-place value="a.percent_owned"></percent-edit-in-place>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <a ng-click="createAffilate()" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-plus-sign" style="color:#006837;"></span> Add New Affiliated Entity</a>
        </td>
      </tr>
    </table>
  </div>
</fieldset>
<!--<pre>{{quests | json}}</pre>-->