<style>
  td{ font-size: 11px;}
  input[type=text]{ width: 100%;}
</style>
<fieldset>
  <legend>Insurance Information</legend>
  <!--<pre>{{loan.insurance | json}}</pre>-->
  <tabset>
    <tab heading="Summary">
      <table class="table table-striped rowed" style="width:100% !important;">
        <tr>
          <th style="width:10%;">Crop</th>
          <th style="width:7%;">Type</th>
          <th style="width:7%;">Option</th>
          <th style="width:7%;">Price</th>
          <th style="width:7%;">Level</th>
          <th style="width:10%;">Guarantee</th>
          <th style="width:7%;">Premium</th>
          <th style="width:7%;">Share</th>
          <th style="width:10%;">Value</th>
          <th style="width:10%;">Risk (Margin)</th>
          <th style="width:10%;">Cash Flow</th>
        </tr>

        <tr ng-repeat="sum in ins_sum">
          <td>
            {{sum.crop}}
          </td>
          <td class="text-center">
            {{sum.type}}
          </td>
          <td class="text-center">
            {{sum.option}}
          </td>
          <td class="text-right">
            {{sum.price|flexCurrency:4}}
          </td>
          <td class="text-right">
            {{sum.level|flexPercent:1}}
          </td>
          <td class="text-right">
            {{sum.guarantee|flexCurrency:2}}
          </td>
          <td class="text-right">
            {{sum.premium|flexCurrency:4}}
          </td>
          <td class="text-right">
            {{sum.share|flexPercent:1}}
          </td>
          <td class="text-right">
            {{sum.value|flexCurrency:0}}
          </td>
          <td class="text-right">
            {{sum.risk|number:2}}
          </td>
          <td class="text-right">
            {{sum.cash_flow|flexCurrency:0}}
          </td>
        </tr>
        <tr class="success">
          <td colspan="8">Total</td>
          <td class="text-right">
            {{259466 | flexCurrency:0}}
          </td>
          <td></td>
          <td></td>
        </tr>
      </table>

    </tab>
    <tab heading="Agent/Agency">
      <br/>
      <div class="col-md-8 col-md-offset-1">
        <!--<accordion close-others="true">-->
        <accordion close-others="false">
          <accordion-group heading="No Agencies Found" ng-if="agencies.length == 0">
            There are no insurance agencies associates with this loan.
          </accordion-group>
          <accordion-group ng-repeat="a in agencies" is-open="a.isOpen">
            <accordion-heading class="col-md-12">
              {{a.agency}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': a.isOpen, 'glyphicon-chevron-right': !a.isOpen}"></i>
            </accordion-heading>
            <div class="col-md-6">
              {{a.agency}}
              <br/>
              {{a.address}}
              <br/>
              {{a.city}}, {{a.state}}  {{a.zip}}
              <br/>
              {{a.phone|phone}}
              <br/>
              {{a.email}}
            </div>
            <div class="col-md-6">
              {{a.agent}}
              <br/>
              {{a.agent_phone|phone}}
              <br/>
              {{a.agent_email}}
            </div>
          </accordion-group>
        </accordion>
      </div>
      <br/>
      <div class="row">
        <div class="col-md-8 col-md-offset-1" style="margin:0 18px;">
          <button class="btn btn-default btn-xs" ng-click="toggleAddNewOne()">
            Add New
          </button>
        </div>
      </div>
      <br/>
      <div class="row" ng-if="addNewOne">
        <div class="col-md-10 col-md-offset-1">
          <form>
            <label>Agency</label>
            <input type="text" class="form-control" name="agency" ng-model="newAgency.agency"/>
          </form>
        </div>
      </div>
    </tab>
    <tab heading="Policies">
      <table class="table table-striped rowed" style="width:100% !important;">
        <tr>
          <th style="width:8%;">Agent</th>
          <th style="width:12%;">Locale</th>
          <th style="width:5%;">FSN</th>
          <th style="width:8%;">Crop</th>
          <th style="width:7%;">Type</th>
          <th style="width:7%;">Option</th>
          <th style="width:7%;">Price</th>
          <th style="width:6%;">Level</th>
          <th style="width:7%;">Acres</th>
          <th style="width:7%;">Yield</th>
          <th style="width:9%;">Guarantee</th>
          <th style="width:7%;">Premium</th>
          <th style="width:6%;">Share</th>
          <th style="width:9%;">Value</th>
        </tr>

        <tr ng-repeat="i in insurance.policies">
          <td>{{i.agent}}</td>
          <td>{{i.locale}}</td>
          <td>{{i.fsn}}</td>
          <td>{{i.practice}}</td>
          <td>
            <select style="height:18px !important;" name="ins_type" ng-model="i.type" ng-options="t.type as t.type for t in feeder.instypes">
              <option value="">Type</option>
            </select>
          </td>
          <td class="text-center">
            <text-edit-in-place value="i.option"></text-edit-in-place>
          </td>
          <td class="text-right" ng-class=gtZero(i.price)>
            {{i.price | flexCurrency:4}}
          </td>
          <td class="text-right" ng-class=gtZero(i.level)>
            <percent-edit-in-place value="i.level"></percent-edit-in-place>
          </td>
          <td class="text-center">
            {{i.acres | number:1}}
          </td>
          <td class="text-center">
            {{i.yield | number:1}}
          </td>
          <td ng-class=gtZero(i.guarantee)>
            {{i.guarantee | flexCurrency:2}}
          </td>
          <td ng-class=gtZero(i.premium)>
            <edit-in-place value="i.premium"></edit-in-place>
          </td>
          <td ng-class=gtZero(i.share)>
            <percent-edit-in-place value="i.share"></percent-edit-in-place>
          </td>
          <td class="text-right" ng-class=gtZero(i.value)>
            {{i.value | flexCurrency:0}}
          </td>
        </tr>

        <tr class="success">
          <td>Total</td>
          <td colspan="7">&nbsp;</td>
          <td class="text-center">
            {{insurance.total_acres | number:1}}
          </td>
          <td colspan="4">&nbsp;</td>
          <td class="text-right" ng-class=gtZero(insurance.total_value)>
            {{insurance.total_value | flexCurrency:0}}
          </td>
        </tr>
      </table>

    </tab>
  </tabset>
</fieldset>
<!--<pre>{{insurance | json}}</pre>-->
