<style>
  td{ font-size: 11px;}
  input[type=text]{ width: 100%;}
</style>
<fieldset>
  <legend>Insurance Information</legend>
  <!--<pre>{{loan.insurance | json}}</pre>-->
  <div class="row" style="display:none;">
    <div class="form-group col-md-3">
      <label>Agency</label>
      <input type="text" class="form-control" ng-model="insurance[0].agency"/>
    </div>
    <div class="form-group col-md-3">
      <label>Agent</label>
      <input type="text" class="form-control" ng-model="insurance[0].agent"/>
    </div>
    <div class="form-group col-md-3">
      <label>Email</label>
      <input type="text" class="form-control" ng-model="insurance[0].agent_email"/>
    </div>
    <div class="form-group col-md-3">
      <label>Phone</label>
      <input type="text" name="phone" ui-mask="(999) 999-9999" ng-model="insurance[0].agent_phone" class="form-control"/>
    </div>
  </div>
  <br/><br/>
  <div class="row col-md-12">
    <table class="table table-striped rowed" style="width:100% !important;">
      <tr>
        <th style="width:13%;">Locale</th>
        <th style="width:13%;">Crop</th>
        <th style="width:9%;">Type</th>
        <th style="width:9%;">Option</th>
        <th style="width:7%;">Price</th>
        <th style="width:6%;">Level</th>
        <th style="width:7%;">Acres</th>
        <th style="width:7%;">Yield</th>
        <th style="width:9%;">Guaranty</th>
        <th style="width:7%;">Premium</th>
        <th style="width:6%;">Share</th>
        <th style="width:9%;">Value</th>
      </tr>

      <tr ng-repeat="i in insurance.policies">
        <td>{{i.locale}}</td>
        <td>{{i.practice}}</td>
        <td>
          <select name="ins_type" ng-model="i.type" ng-options="t.type as t.type for t in feeder.instypes">
            <option value="">Type</option>
          </select>
        </td>
        <td class="text-center">
          <text-edit-in-place value="i.option"></text-edit-in-place>
        </td>
        <td class="text-right" ng-class=gtZero(i.price)>
          {{i.price | flexCurrency:4}}
        </td>
        <td class="text-right" ng-class=gtZero(i.level)>
          <percent-edit-in-place value="i.level"></percent-edit-in-place>
        </td>
        <td class="text-center">
          {{i.acres | number:1}}
        </td>
        <td class="text-center">
          {{i.yield | number:1}}
        </td>
        <td ng-class=gtZero(i.guarantee)>
          {{i.guarantee | flexCurrency:2}}
        </td>
        <td ng-class=gtZero(i.premium)>
          <edit-in-place value="i.premium"></edit-in-place>
        </td>
        <td ng-class=gtZero(i.share)>
          <percent-edit-in-place value="i.share"></percent-edit-in-place>
        </td>
        <td class="text-right" ng-class=gtZero(i.value)>
          {{i.value | flexCurrency:0}}
        </td>
      </tr>
      
      <tr class="warning" ng-if="insurance.cropAcres.corn > 0">
        <td colspan="2" class="text-right">
          <strong>Corn</strong>
        </td>
        <td colspan="4">&nbsp;</td>
        <td class="text-center">
          {{insurance.cropAcres.corn || 0 | number:1}}
        </td>
        <td>&nbsp;</td>
        <td class="text-right" ng-class="gtZero(insurance.cropGuars.corn)">
          {{insurance.cropGuars.corn || 0 | flexCurrency:2}}
        </td>
        <td colspan="2">&nbsp;</td>
        <td class="text-right" ng-class="gtZero(insurance.cropTotals.corn)">
          {{insurance.cropTotals.corn || 0 | flexCurrency:0}}
        </td>
      </tr>
      <tr class="warning" ng-if="insurance.cropAcres.soybeans > 0">
        <td colspan="2" class="text-right">
          <strong>Soybeans</strong>
        </td>
        <td colspan="4">&nbsp;</td>
        <td class="text-center">
          {{insurance.cropAcres.soybeans || 0 | number:1}}
        </td>
        <td>&nbsp;</td>
        <td class="text-right" ng-class="gtZero(insurance.cropGuars.soybeans)">
          {{insurance.cropGuars.soybeans || 0 | flexCurrency:2}}
        </td>
        <td colspan="2">&nbsp;</td>
        <td class="text-right" ng-class="gtZero(insurance.cropTotals.soybeans)">
          {{insurance.cropTotals.soybeans || 0 | flexCurrency:0}}
        </td>
      </tr>
      <tr class="warning" ng-if="insurance.cropAcres.sorghum > 0">
        <td colspan="2" class="text-right">
          <strong>Sorghum</strong>
        </td>
        <td colspan="4">&nbsp;</td>
        <td class="text-center">
          {{insurance.cropAcres.sorghum || 0 | number:1}}
        </td>
        <td>&nbsp;</td>
        <td class="text-right" ng-class="gtZero(insurance.cropGuars.sorghum)">
          {{insurance.cropGuars.sorghum || 0 | flexCurrency:2}}
        </td>
        <td colspan="2">&nbsp;</td>
        <td class="text-right" ng-class="gtZero(insurance.cropTotals.sorghum)">
          {{insurance.cropTotals.sorghum || 0 | flexCurrency:0}}
        </td>
      </tr>
      <tr class="warning" ng-if="insurance.cropAcres.wheat > 0">
        <td colspan="2" class="text-right">
          <strong>Wheat</strong>
        </td>
        <td colspan="4">&nbsp;</td>
        <td class="text-center">
          {{insurance.cropAcres.wheat || 0 | number:1}}
        </td>
        <td>&nbsp;</td>
        <td class="text-right" ng-class="gtZero(insurance.cropGuars.wheat)">
          {{insurance.cropGuars.wheat || 0 | flexCurrency:2}}
        </td>
        <td colspan="2">&nbsp;</td>
        <td class="text-right" ng-class="gtZero(insurance.cropTotals.wheat)">
          {{insurance.cropTotals.wheat || 0 | flexCurrency:0}}
        </td>
      </tr>
      <tr class="warning" ng-if="insurance.cropAcres.cotton > 0">
        <td colspan="2" class="text-right">
          <strong>Cotton</strong>
        </td>
        <td colspan="4">&nbsp;</td>
        <td class="text-center">
          {{insurance.cropAcres.cotton || 0 | number:1}}
        </td>
        <td>&nbsp;</td>
        <td class="text-right" ng-class="gtZero(insurance.cropGuars.cotton)">
          {{insurance.cropGuars.cotton || 0 | flexCurrency:2}}
        </td>
        <td colspan="2">&nbsp;</td>
        <td class="text-right" ng-class="gtZero(insurance.cropTotals.cotton)">
          {{insurance.cropTotals.cotton || 0 | flexCurrency:0}}
        </td>
      </tr>
      <tr class="warning" ng-if="insurance.cropAcres.rice > 0">
        <td colspan="2" class="text-right">
          <strong>Rice</strong>
        </td>
        <td colspan="4">&nbsp;</td>
        <td class="text-center">
          {{insurance.cropAcres.rice || 0 | number:1}}
        </td>
        <td>&nbsp;</td>
        <td class="text-right" ng-class="gtZero(insurance.cropGuars.rice)">
          {{insurance.cropGuars.rice || 0 | flexCurrency:2}}
        </td>
        <td colspan="2">&nbsp;</td>
        <td class="text-right" ng-class="gtZero(insurance.cropTotals.rice)">
          {{insurance.cropTotals.rice || 0 | flexCurrency:0}}
        </td>
      </tr>
      <tr class="warning" ng-if="insurance.cropAcres.peanuts > 0">
        <td colspan="2" class="text-right">
          <strong>Peanuts</strong>
        </td>
        <td colspan="4">&nbsp;</td>
        <td class="text-center">
          {{insurance.cropAcres.peanuts || 0 | number:1}}
        </td>
        <td>&nbsp;</td>
        <td class="text-right" ng-class="gtZero(insurance.cropGuars.peanuts)">
          {{insurance.cropGuars.peanuts || 0 | flexCurrency:2}}
        </td>
        <td colspan="2">&nbsp;</td>
        <td class="text-right" ng-class="gtZero(insurance.cropTotals.peanuts)">
          {{insurance.cropTotals.peanuts || 0 | flexCurrency:0}}
        </td>
      </tr>
      <tr class="warning" ng-if="insurance.cropAcres.sugarcane > 0">
        <td colspan="2" class="text-right">
          <strong>Sugar Cane</strong>
        </td>
        <td colspan="4">&nbsp;</td>
        <td class="text-center">
          {{insurance.cropAcres.sugarcane || 0 | number:1}}
        </td>
        <td>&nbsp;</td>
        <td class="text-right" ng-class="gtZero(insurance.cropGuars.sugarcane)">
          {{insurance.cropGuars.sugarcane || 0 | flexCurrency:2}}
        </td>
        <td colspan="2">&nbsp;</td>
        <td class="text-right" ng-class="gtZero(insurance.cropTotals.sugarcane)">
          {{insurance.cropTotals.sugarcane || 0 | flexCurrency:0}}
        </td>
      </tr>

      <tr class="success">
        <td>Total</td>
        <td colspan="5">&nbsp;</td>
        <td class="text-center">
          {{insurance.total_acres | number:1}}
        </td>
        <td colspan="4">&nbsp;</td>
        <td class="text-right" ng-class=gtZero(insurance.total_value)>
          {{insurance.total_value | flexCurrency:0}}
        </td>
      </tr>
    </table>
  </div>
</fieldset>
<!--<pre>{{insurance | json}}</pre>-->
