<style>
  .rowed td{border:1px solid #dddddd; }
  .totaline td{
    border-top:1px solid #333333 !important;
    border-bottom:1px solid #333333 !important;
  }
  .pc_gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 100%;
    height: 300px;
  }
  .ngHeaderContainer .ngHeaderCell{
    text-align: center;
  }
  .bright{ border-right: 1px solid #333 !important; }
  .bleft{ border-left: 1px solid #333 !important; }
  .red{ color: red; }
</style>
<fieldset>
<legend>Financial Information</legend>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <table class="table table-striped">
      <tr>
        <td style="width:16%;">
          <label>Credit Score</label>
        </td>
        <td style="width:24%;">
          <input type="text" class="form-control" ng-model="loan.fins.credit_score" style="width:80px;"/>
        </td>
        <td style="width:20%;">
          <input type="checkbox" name="cpa_financials" ng-value="true" ng-model="loan.fins.cpa_financials"/>&nbsp;
          CPA Financials
        </td>
        <td style="width:20%">&nbsp;</td>
        <td style="width:10%;">
          Grade
        </td>
        <td style="width:20%;">
          {{loan.fins.grade}}
        </td>
      </tr>
      <tr ng-if="loan.is_fast_tracked || loan.loan_type_id == 4 || loan.loan_type_id == 5">
        <td>
          <label>Amount Requested</label>
        </td>
        <td>
          <input type="text" class="form-control" ng-model="loan.fins.amount_requested"/>
        </td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </table>
  </div>
</div>

<br/><br/>

<!-- PLANNED CROP CONSTRAINTS -->
<div class="row" ng-hide="loan.loan_type_id == 2">
  <div class="col-md-12">
    <table class="table table-striped rowed">
      <tr>
        <th style="width:25%;">Planned Crop Constraints</th>
        <th style="width:15%;">Acres</th>
        <th style="width:15%;">Total Exp/Ac</th>
        <th style="width:15%;">100% Ag-Pro</th>
        <th style="width:15%;">35% Cap-Bridge</th>
        <th style="width:15%;">35% Ag-Vest</th>
      </tr>
      <tr ng-repeat="c in loanCrops" ng-if="c.acres > 0">
        <td>{{c.crop}}</td>
        <td class="text-center">{{c.acres | number: 1}}</td>
        <td class="text-right">
          {{c.tea | displaynullcurrency}}
        </td>
        <td class="text-right">
          {{ c.tea * c.acres | displaynullcurrency }}
        </td>
        <td class="text-right">
          {{ c.tea * c.acres * 0.35 | displaynullcurrency}}
        </td>
        <td class="text-right">
          {{ c.tea * c.acres * 0.35 | displaynullcurrency}}
        </td>
      </tr>
      <tr class="success">
        <td class="text-left">
          Total
        </td>
        <td class="text-center" ng-class=gtZero(getTotalAcres())>
          {{getTotalAcres() | displaynull}}
        </td>
        <td class="text-center"> - </td>
        <td ng-class=gtZero(getTotalPCC_AgPro())>
          {{getTotalPCC_AgPro() | displaynullcurrency}}
        </td>
        <td ng-class=gtZero(getTotalPCC_AgPro())>
          {{getTotalPCC_AgPro() * .35 | displaynullcurrency}}
        </td>
        <td ng-class=gtZero(getTotalPCC_AgPro())>
          {{getTotalPCC_AgPro() * .35 | displaynullcurrency}}
        </td>
      </tr>
    </table>
  </div>
</div>
<!-- PLANNED CROP CONSTRAINTS -->

<!-- INCOME CONSTRAINTS-->
<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      <tr>
        <th style="width:50%;">Income Constraints</th>
        <th style="width:15%;">Revenue</th>
        <th style="width:15%;">Expenses</th>
        <th style="width:20%;">Income</th>
      </tr>
      <tr>
        <td>Year 1</td>
        <td class="text-right">
          <div class="input-group" style="width:200px;">
            <span class="input-group-addon">$</span>
            <input type="text" class="form-control text-right" ng-model="loan.fins.year_1_revenue" ng-change="calcIncomeConstraints(loan.fins)" style="width:200px;"/>
          </div>
        </td>
        <td class="text-right">
          <div class="input-group" style="width:200px;">
            <span class="input-group-addon">$</span>
            <input type="text" class="form-control text-right" ng-model="loan.fins.year_1_expenses" ng-change="calcIncomeConstraints(loan.fins)" style="width:200px;"/>
          </div>
        </td>
        <td class="text-right">
          {{loan.fins.year_1_income | displaynullcurrency}}
        </td>
      </tr>
      <tr>
        <td>Year 2</td>
        <td class="text-right">
          <div class="input-group" style="width:200px;">
            <span class="input-group-addon">$</span>
            <input type="text" class="form-control text-right" ng-model="loan.fins.year_2_revenue" ng-change="calcIncomeConstraints(loan.fins)" style="width:200px;"/>
          </div>
        </td>
        <td class="text-right">
          <div class="input-group" style="width:200px;">
            <span class="input-group-addon">$</span>
            <input type="text" class="form-control text-right" ng-model="loan.fins.year_2_expenses" ng-change="calcIncomeConstraints(loan.fins)" style="width:200px;"/>
          </div>
        </td>
        <td class="text-right">
          {{loan.fins.year_2_income | displaynullcurrency}}
        </td>
      </tr>
      <tr>
        <td>Year 3</td>
        <td class="text-right">
          <div class="input-group" style="width:200px;">
            <span class="input-group-addon">$</span>
            <input type="text" class="form-control text-right" ng-model="loan.fins.year_3_revenue" ng-change="calcIncomeConstraints(loan.fins)" style="width:200px;"/>
          </div>
        </td>
        <td class="text-right">
          <div class="input-group" style="width:200px;">
            <span class="input-group-addon">$</span>
            <input type="text" class="form-control text-right" ng-model="loan.fins.year_3_expenses" ng-change="calcIncomeConstraints(loan.fins)" style="width:200px;"/>
          </div>
        </td>
        <td class="text-right">
          {{loan.fins.year_3_income | displaynullcurrency}}
        </td>
      </tr>
      <tr>
        <td>Average</td>
        <td class="text-right">
          {{loan.fins.average_revenue | displaynullcurrency}}
        </td>
        <td class="text-right">
          {{loan.fins.average_expense | displaynullcurrency}}
        </td>
        <td class="text-right">
          {{loan.fins.total_income | displaynullcurrency}}
        </td>
      </tr>
    </table>
  </div>
</div>
<!-- INCOME CONSTRAINTS-->

<!-- BALANCE SHEET CONSTRAINTS-->
<div class="row">
  <div class="col-md-12">
    <table class="table table-striped rowed">
      <tr>
        <th>Balance Sheet Constraint</th>
        <th style="width:140px;">Asset</th>
        <th style="width:100px;">Discount</th>
        <th style="width:140px;">Adj Value</th>
        <th style="width:140px;">Liability</th>
        <th>Reserve</th>
      </tr>
      <tr>
        <td>Current</td>
        <td class="text-right">
          <div class="input-group" style="width:120px;">
            <span class="input-group-addon">$</span>
            <input type="text" class="form-control text-right" ng-model="loan.fins.current_assets" style="width:120px;"/>
          </div>
        </td>
        <td class="text-right">
          <div class="input-group" style="width:80px;">
            <input type="text" class="form-control text-right" ng-model="loan.fins.current_asset_factor"/>
            <span class="input-group-addon">%</span>
          </div>
        </td>
        <td class="text-right">
          {{ loan.fins.current_asset_adj = loan.fins.current_assets * ((100 - loan.fins.current_assets_factor) / 100) | noCentsCurrency}}
        </td>
        <td class="text-right">
          <div class="input-group" style="width:120px;">
            <span class="input-group-addon">$</span>
            <input type="text" class="form-control text-right" ng-model="loan.fins.current_asset_liability"/>
          </div>
        </td>
        <td class="text-right">
          {{ loan.fins.current_asset_reserve = (loan.fins.current_assets * ((100 - loan.fins.current_asset_factor) / 100)) - loan.fins.current_asset_liability | noCentsCurrency}}
        </td>
      </tr>
      <tr>
        <td>Intermediate</td>
        <td class="text-right">
          <div class="input-group" style="width:120px;">
            <span class="input-group-addon">$</span>
            <input type="text" class="form-control text-right" ng-model="loan.fins.intermediate_assets" style="width:120px;"/>
          </div>
        </td>
        <td class="text-right">
          <div class="input-group" style="width:80px;">
            <input type="text" class="form-control text-right" ng-model="loan.fins.intermediate_asset_factor"/>
            <span class="input-group-addon">%</span>
          </div>
        </td>
        <td class="text-right">
          {{ loan.fins.intermediate_asset_adj = loan.fins.intermediate_assets * ((100 - loan.fins.intermediate_assets_factor) / 100) | noCentsCurrency}}
        </td>
        <td class="text-right">
          <div class="input-group" style="width:120px;">
            <span class="input-group-addon">$</span>
            <input type="text" class="form-control text-right" ng-model="loan.fins.intermediate_asset_liability"/>
          </div>
        </td>
        <td class="text-right">
          {{ loan.fins.intermediate_asset_reserve = (loan.fins.intermediate_assets * ((100 - loan.fins.intermediate_asset_factor) / 100)) - loan.fins.intermediate_asset_liability | noCentsCurrency}}
        </td>
      </tr>
      <tr>
        <td>Fixed</td>
        <td class="text-right">
          <div class="input-group" style="width:120px;">
            <span class="input-group-addon">$</span>
            <input type="text" class="form-control text-right" ng-model="loan.fins.fixed_assets" style="width:120px;"/>
          </div>
        </td>
        <td class="text-right">
          <div class="input-group" style="width:80px;">
            <input type="text" class="form-control text-right" ng-model="loan.fins.fixed_asset_factor"/>
            <span class="input-group-addon">%</span>
          </div>
        </td>
        <td class="text-right">
          {{ loan.fins.fixed_asset_adj = loan.fins.fixed_assets * ((100 - loan.fins.fixed_assets_factor) / 100) | noCentsCurrency}}
        </td>
        <td class="text-right">
          <div class="input-group" style="width:120px;">
            <span class="input-group-addon">$</span>
            <input type="text" class="form-control text-right" ng-model="loan.fins.fixed_asset_liability"/>
          </div>
        </td>
        <td class="text-right">
          {{ loan.fins.fixed_asset_reserve = (loan.fins.fixed_assets * ((100 - loan.fins.fixed_asset_factor) / 100)) - loan.fins.fixed_asset_liability | noCentsCurrency}}
        </td>
      </tr>
      <tr>
        <td>Total</td>
        <td class="text-right">
          {{loan.fins.total_assets = (loan.fins.current_assets * 1) + (loan.fins.intermediate_assets * 1) + (loan.fins.fixed_assets * 1)  | noCentsCurrency}}
        </td>
        <td class="text-right">&nbsp;</td>
        <td class="text-right">
          {{ loan.fins.total_asset_adj = (loan.fins.current_asset_adj * 1) + (loan.fins.intermediate_asset_adj * 1) + (loan.fins.fixed_asset_adj * 1) | noCentsCurrency}}
        </td>
        <td class="text-right">
          {{ loan.fins.total_liability = (loan.fins.current_asset_liability * 1) + (loan.fins.intermediate_asset_liability * 1) + (loan.fins.fixed_asset_liability * 1) | noCentsCurrency}}
        </td>
        <td class="text-right">
          {{ loan.fins.total_reserve = (loan.fins.current_asset_reserve * 1) + (loan.fins.intermediate_asset_reserve * 1) + (loan.fins.fixed_asset_reserve * 1) | noCentsCurrency}}
        </td>
      </tr>
    </table>
  </div>
</div>
<!-- BALANCE SHEET CONSTRAINTS-->

<!-- RATIO CONSTRAINTS -->
<div class="row">
<div class="col-md-12">
<table class="table table-striped rowed">
<tr>
  <th style="width: 35%;">Ratio Constraints</th>
  <th style="width: 12%;">Ratios</th>
  <th class="bright" style="width: 12%;">
    Res Adj
  </th>
  <th style="width: 10%;">A</th>
  <th style="width: 10%;">B</th>
  <th style="width: 10%;">C</th>
  <th style="width: 10%;">D</th>
</tr>
<tr>
  <td>Debt to Asset [<=]</td>
  <td ng-class=gtZero(loan_grader.debt2asset_ratio)>
    {{loan_grader.debt2asset_ratio | displaynullpercent}}
  </td>
  <td class="bright"  ng-class=gtZero(loan_grader.debt2asset_ratio_adj)>
    {{loan_grader.debt2asset_ratio_adj | displaynullpercent}}
  </td>
  <td class="text-right" ng-class="{red: loan_grader.debt2asset_ratio_adj > grads[0].debt2asset }">
    {{grads[0].debt2asset | displaynullpercent}}
  </td>
  <td class="text-right" ng-class="{red: loan_grader.debt2asset_ratio_adj > grads[1].debt2asset }">
    {{grads[1].debt2asset | displaynullpercent}}
  </td>
  <td class="text-right" ng-class="{red: loan_grader.debt2asset_ratio_adj > grads[2].debt2asset }">
    {{grads[2].debt2asset | displaynullpercent}}
  </td>
  <td class="text-right" ng-class="{red: loan_grader.debt2asset_ratio_adj > grads[3].debt2asset }">
    {{grads[3].debt2asset | displaynullpercent}}
  </td>
</tr>
<tr>
  <td>Current Ratio [>=]</td>
  <td ng-class=gtZero(loan_grader.ratio_current)>
    {{loan_grader.ratio_current | displaynullpercent}}
  </td>
  <td class="bright" ng-class=gtZero(loan_grader.ratio_current_adj)>
    {{loan_grader.ratio_current_adj | displaynullpercent}}
  </td>
  <td class="text-right" ng-class="{red: loan_grader.ratio_current_adj < grads[0].current_ratio }">
    {{grads[0].current_ratio | displaynullpercent}}
  </td>
  <td class="text-right" ng-class="{red: loan_grader.ratio_current_adj < grads[1].current_ratio }">
    {{grads[1].current_ratio | displaynullpercent}}
  </td>
  <td class="text-right" ng-class="{red: loan_grader.ratio_current_adj < grads[2].current_ratio }">
    {{grads[2].current_ratio | displaynullpercent}}
  </td>
  <td class="text-right" ng-class="{red: loan_grader.ratio_current_adj < grads[3].current_ratio }">
    {{grads[3].current_ratio | displaynullpercent}}
  </td>
</tr>
<tr>
  <td>Working Capital [>=]</td>
  <td ng-class=gtZero(loan_grader.capWork)>
    {{loan_grader.capWork | displaynullpercent}}
  </td>
  <td class="bright" ng-class=gtZero(loan_grader.capWork_adj)>
    {{loan_grader.capWork_adj | displaynullpercent}}
  </td>
  <td class="text-right" ng-class="{red: loan_grader.capWork_adj < grads[0].working_capital }">
    {{grads[0].working_capital | displaypercent}}
  </td>
  <td class="text-right" ng-class="{red: loan_grader.capWork_adj < grads[1].working_capital }">
    {{grads[1].working_capital | displaypercent}}
  </td>
  <td class="text-right" ng-class="{red: loan_grader.capWork_adj < grads[2].working_capital }">
    {{grads[2].working_capital | displaypercent}}
  </td>
  <td class="text-right" ng-class="{red: loan_grader.capWork_adj < grads[3].working_capital }">
    {{grads[3].working_capital | displaypercent}}
  </td>
</tr>
<tr>
  <td>Borrowing Capacity [>=]</td>
  <td ng-class=gtZero(loan_grader.capBorrow)>
    {{loan_grader.capBorrow | displaynullpercent}}
  </td>
  <td class="bright" ng-class=gtZero(loan_grader.capBorrow_adj)>
    {{loan_grader.capBorrow_adj | displaynullpercent}}
  </td>
  <td class="text-right" ng-class="{red: loan_grader.capBorrow_adj <= grads[0].borrowing_capacity }">
    {{grads[0].borrowing_capacity | displaypercent}}
  </td>
  <td class="text-right" ng-class="{red: loan_grader.capBorrow_adj <= grads[1].borrowing_capacity }">
    {{grads[1].borrowing_capacity | displaypercent}}
  </td>
  <td class="text-right" ng-class="{red: loan_grader.capBorrow_adj <= grads[2].borrowing_capacity }">
    {{grads[2].borrowing_capacity | displaypercent}}
  </td>
  <td class="text-right" ng-class="{red: loan_grader.capBorrow_adj <= grads[3].borrowing_capacity }">
    {{grads[3].borrowing_capacity | displaypercent}}
  </td>
</tr>
<tr>
  <td>Credit Score [>=]</td>
  <td></td>
  <td class="bright text-center">
    {{loan.fins.credit_score | displaynull}}
  </td>
  <td class="text-center" ng-class="{red: loan.fins.credit_score < grads[0].credit_score }">
    {{grads[0].credit_score}}
  </td>
  <td class="text-center" ng-class="{red: loan.fins.credit_score < grads[1].credit_score }">
    {{grads[1].credit_score}}
  </td>
  <td class="text-center" ng-class="{red: loan.fins.credit_score < grads[2].credit_score }">
    {{grads[2].credit_score}}
  </td>
  <td class="text-center" ng-class="{red: loan.fins.credit_score < grads[3].credit_score }">
    {{grads[3].credit_score}}
  </td>
</tr>
<tr>
  <td>Years Farming [>=]</td>
  <td></td>
  <td class="text-center bright">
    {{farmer.farm_exp | displaynull}}
  </td>
  <td class="text-center" ng-class="{red: farmer.farm_exp < grads[0].years_farming }">
    {{grads[0].years_farming}}
  </td>
  <td class="text-center" ng-class="{red: farmer.farm_exp < grads[1].years_farming }">
    {{grads[1].years_farming}}
  </td>
  <td class="text-center" ng-class="{red: farmer.farm_exp < grads[2].years_farming }">
    {{grads[2].years_farming}}
  </td>
  <td class="text-center" ng-class="{red: farmer.farm_exp < grads[3].years_farming }">
    {{grads[3].years_farming}}
  </td>
</tr>
<tr>
  <td>CPA Financials</td>
  <td></td>
  <td class="bright text-center">
    {{loan.fins.cpa_financials | boolean}}
  </td>
  <td class="text-center" ng-class="{red: !grads[0].cpa_financials }">
    {{grads[0].cpa_financials | boolean}}
  </td>
  <td class="text-center">&nbsp;</td>
  <td class="text-center">&nbsp;</td>
  <td class="text-center">&nbsp;</td>
</tr>
<tr>
  <td>Bankruptcy</td>
  <td></td>
  <td class="text-center bright">
    {{ quests.bankruptcy | boolean}}
  </td>
  <td class="text-center" ng-class="{red: quests.bankruptcy }">
    {{grads[0].bankruptcy | boolean}}
  </td>
  <td class="text-center" ng-class="{red: quests.bankruptcy }">
    {{grads[1].bankruptcy | boolean}}
  </td>
  <td class="text-center" ng-class="{red: quests.bankruptcy }">
    {{grads[2].bankruptcy | boolean}}
  </td>
  <td class="text-center" ng-class="{red: !quests.bankruptcy }">
    {{grads[3].bankruptcy | boolean}}
  </td>
</tr>
<tr>
  <td>Judgement</td>
  <td></td>
  <td class="text-center bright">
    {{ quests.judgements | boolean}}
  </td>
  <td class="text-center" ng-class="{red: quests.judgements }">
    {{grads[0].judgement| boolean}}
  </td>
  <td class="text-center" ng-class="{red: loan.quests.judgements }">
    {{grads[1].judgement | boolean}}
  </td>
  <td class="text-center" ng-class="{red: quests.judgements }">
    {{grads[2].judgement | boolean}}
  </td>
  <td class="text-center" ng-class="{red: !quests.judgements }">
    {{grads[3].judgement | boolean}}
  </td>
</tr>
<tr>
  <td>Any Type Max Loan Constraint</td>
  <td></td>
  <td class="bright"></td>
  <td class="text-right" ng-class=gtZero(grads[0].all_max_loan)>
    {{grads[0].all_max_loan | displaynullcurrency}}
  </td>
  <td class="text-right" ng-class=gtZero(grads[1].all_max_loan)>
    {{grads[1].all_max_loan | displaynullcurrency}}
  </td>
  <td class="text-right" ng-class=gtZero(grads[2].all_max_loan)>
    {{grads[2].all_max_loan | displaynullcurrency}}
  </td>
  <td class="text-right" ng-class=gtZero(grads[3].all_max_loan)>
    {{grads[3].all_max_loan | displaynullcurrency}}
  </td>
</tr>
<tr ng-if="loan.loan_type_id == 3">
  <td>Ag-Pro Max Loan Constraint</td>
  <td></td>
  <td class="bright"></td>
  <td class="text-right" ng-class=gtZero(grads[0].ag_pro_max_loan)>
    {{grads[0].ag_pro_max_loan | displaynullcurrency}}
  </td>
  <td class="text-right"ng-class=gtZero(grads[1].ag_pro_max_loan)>
    {{grads[1].ag_pro_max_loan | displaynullcurrency}}
  </td>
  <td class="text-right"ng-class=gtZero(grads[2].ag_pro_max_loan)>
    {{grads[2].ag_pro_max_loan | displaynullcurrency}}
  </td>
  <td class="text-right"ng-class=gtZero(grads[3].ag_pro_max_loan)>
    {{grads[3].ag_pro_max_loan | displaynullcurrency}}
  </td>
</tr>
<tr ng-if="loan.loan_type_id == 4">
  <td>Capital Bridge Max Loan Constraint</td>
  <td></td>
  <td class="bright"></td>
  <td class="text-right" ng-class=gtZero(grads[0].capital_bridge_max_loan)>
    {{grads[0].capital_bridge_max_loan | displaynullcurrency}}
  </td>
  <td class="text-right" ng-class=gtZero(grads[1].capital_bridge_max_loan)>
    {{grads[1].capital_bridge_max_loan | displaynullcurrency}}
  </td>
  <td class="text-right" ng-class=gtZero(grads[2].capital_bridge_max_loan)>
    {{grads[2].capital_bridge_max_loan | displaynullcurrency}}
  </td>
  <td class="text-right" ng-class=gtZero(grads[3].capital_bridge_max_loan)>
    {{grads[3].capital_bridge_max_loan | displaynullcurrency}}
  </td>
</tr>
<tr ng-if="loan.loan_type_id == 5">
  <td>Ag-Vest Max Loan Constraint</td>
  <td></td>
  <td class="class-right bright"></td>
  <td class="text-right" ng-class=gtZero(grads[0].ag_vest_max_loan)>
    {{grads[0].ag_vest_max_loan | displaynullcurrency}}
  </td>
  <td class="text-right" ng-class=gtZero(grads[1].ag_vest_max_loan)>
    {{grads[1].ag_vest_max_loan | displaynullcurrency}}
  </td>
  <td class="text-right" ng-class=gtZero(grads[2].ag_vest_max_loan)>
    {{grads[2].ag_vest_max_loan | displaynullcurrency}}
  </td>
  <td class="text-right" ng-class=gtZero(grads[3].ag_vest_max_loan)>
    {{grads[3].ag_vest_max_loan | displaynullcurrency}}
  </td>
</tr>
<tr ng-if="loan.loan_type_id == 3">
  <td>Ag-Pro Max Rate of Avg Expenses</td>
  <td></td>
  <td class="class-right bright"></td>
  <td class="text-right" ng-class=gtZero(grads[0].ag_pro_max_rate)>
    {{grads[0].ag_pro_max_rate | displaynullpercent}}
  </td>
  <td class="text-right" ng-class=gtZero(grads[1].ag_pro_max_rate)>
    {{grads[1].ag_pro_max_rate | displaynullpercent}}
  </td>
  <td class="text-right" ng-class=gtZero(grads[2].ag_pro_max_rate)>
    {{grads[2].ag_pro_max_rate | displaynullpercent}}
  </td>
  <td class="text-right" ng-class=gtZero(grads[3].ag_pro_max_rate)>
    {{grads[3].ag_pro_max_rate | displaynullpercent}}
  </td>
</tr>
<tr ng-if="loan.loan_type_id == 4">
  <td>Capital Bridge Max Rate of Avg Expenses</td>
  <td></td>
  <td class="class-right bright"></td>
  <td class="text-right" ng-class=gtZero(grads[0].capital_bridge_max_rate)>
    {{grads[0].capital_bridge_max_rate | displaynullpercent}}
  </td>
  <td class="text-right" ng-class=gtZero(grads[1].capital_bridge_max_rate)>
    {{grads[1].capital_bridge_max_rate | displaynullpercent}}
  </td>
  <td class="text-right" ng-class=gtZero(grads[2].capital_bridge_max_rate)>
    {{grads[2].capital_bridge_max_rate | displaynullpercent}}
  </td>
  <td class="text-right" ng-class=gtZero(grads[3].capital_bridge_max_rate)>
    {{grads[3].capital_bridge_max_rate | displaynullpercent}}
  </td>
</tr>
<tr ng-if="loan.loan_type_id == 5">
  <td>Ag-Vest Max Rate of Avg Expenses</td>
  <td></td>
  <td class="class-right bright"></td>
  <td class="text-right" ng-class=gtZero(grads[0].ag_vest_max_rate)>
    {{grads[0].ag_vest_max_rate | displaynullpercent}}
  </td>
  <td class="text-right" ng-class=gtZero(grads[1].ag_vest_max_rate)>
    {{grads[1].ag_vest_max_rate | displaynullpercent}}
  </td>
  <td class="text-right" ng-class=gtZero(grads[2].ag_vest_max_rate)>
    {{grads[2].ag_vest_max_rate | displaynullpercent}}
  </td>
  <td class="text-right" ng-class=gtZero(grads[3].ag_vest_max_rate)>
    {{grads[3].ag_vest_max_rate | displaynullpercent}}
  </td>
</tr>
</table>
</div>
</div>
<!-- RATIO CONSTRAINTS -->

<!-- SUMMARY PANEL-->
<div class="row" style="display:none;">
  <div class="col-md-12">
    <table class="table table-striped rowed" style="width:40%">
      <tr>
        <th>Borrower Rating</th>
        <th>
          {{loan.grade.grade}}
        </th>
      </tr>
      <tr ng-if="loan.loan_type_id == 3">
        <td>Ag-Pro Max Loan Addition</td>
        <td class="text-right" ng-class=gtZero(loan.grade.ag_pro_max)>
          {{loan.grade.ag_pro_max | displaynullcurrency}}
        </td>
      </tr>
      <tr ng-if="loan.loan_type_id == 4">
        <td>Capital Bridge Max Loan</td>
        <td class="text-right" ng-class=gtZero(loan.grade.cap_bridge_max)>
          {{loan.grade.cap_bridge_max | displaynullcurrency}}
        </td>
      </tr>
      <tr ng-if="loan.loan_type_id == 5">
        <td>Ag-Vest Max Loan</td>
        <td class="text-right" ng-class=gtZero(loan.grade.ag_vest_max)>
          {{loan.grade.ag_vest_max | displaynullcurrency}}
        </td>
      </tr>
    </table>
  </div>
</div>
<!-- SUMMARY PANEL-->
</fieldset>
<!--<pre>{{loan_grader | json}}</pre>-->
<!--<pre>{{loan.grader | json}}</pre>-->
<!--<pre>{{grads | json}}</pre>-->