<fieldset>
  <legend>AFFILIATES INFORMATION</legend>

  <div class="row form-group">
    <table class="table table-striped rowed" style="width:90%;margin: 0 auto;">
      <tr>
        <th>Affiliated Entity</th>
        <th>Percent Owned</th>
      </tr>
      <tr ng-if="!affiliates">
        <td colspan="2">
          <b>No affiliated entities found!</b>
        </td>
      </tr>
      <tr ng-repeat="a in affiliates">
        <td>{{a.entity_name | capitalize}}</td>
        <td>{{a.percent_owned | number:1}}%</td>
      </tr>
    </table>
  </div>
  <br/><br/>
  <div class="row form-group">
    <div class="col-md-10 col-md-offset-1">
      <div class="col-md-4">
        <label>Affiliate Name:</label>
        <input type="text" class="form-control" name="entity_name" ng-model="newAffiliate.entity_name"/>
      </div>
      <div class="col-md-1">&nbsp;</div>
      <div class="col-md-3">
        <label>Percent Owned:</label>
        <input type="text" class="form-control" name="percent_owned" ng-model="newAffiliate.percent_owned"/>
      </div>
      <div class="col-md-1">&nbsp;</div>
      <div class="col-md-2">
        <br/><button class="btn btn-sm btn-success" ng-click="newAffilate()">Add</button>
      </div>
    </div>
  </div>
  <br/><br/>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <button ng-click="moveFromAffiliates()" class="btn btn-success">Next</button>
    </div>
  </div>
</fieldset>
<!--<pre>{{quests | json}}</pre>-->