<fieldset>
  <!--<pre>{{applicant | json}}</pre>-->
  <legend>APPLICANT INFORMATION</legend>

  <!-- APPLICANT / SSN -->
  <div class="row">
    <div class="form_group col-md-8">
      <label>Company Name or Last Name, First Name:</label>
      <input type="text" ng-model="applicant.applicant" class="form-control"/>
    </div>
    <div class="form-group col-md-3">
      <label>Entity Type</label><br>
      <input type="radio" name="entity_type_id" ng-model="applicant.entity_type_id" value="2"/> <label>I</label>&nbsp;&nbsp;&nbsp;&nbsp;
      <input type="radio" name="entity_type_id" ng-model="applicant.entity_type_id" value="5"/> <label>S</label>&nbsp;&nbsp;&nbsp;&nbsp;
      <input type="radio" name="entity_type_id" ng-model="applicant.entity_type_id" value="4"/> <label>P</label>&nbsp;&nbsp;&nbsp;&nbsp;
      <input type="radio" name="entity_type_id" ng-model="applicant.entity_type_id" value="3"/> <label>J</label>&nbsp;&nbsp;&nbsp;&nbsp;
      <input type="radio" name="entity_type_id" ng-model="applicant.entity_type_id" value="1"/> <label>C</label>
    </div>
  </div>
  <!-- APPLICANT / SSN / DOB -->

  <!-- ADDRESS / PHONE -->
  <div class="row">
    <div class="form-group col-md-5">
      <label>Mailing Address:</label>
      <input type="text" name="address" ng-model="applicant.address" class="form-control"/>
    </div>
    <div class="form-group col-md-3">
      <label>City:</label>
      <input type="text" name="city" ng-model="applicant.city" class="form-control"/>
    </div>
    <div class="form-group col-md-2">
      <label>State:</label>
      <select name="state" ng-model="applicant.state_id" class="form-control" ng-options="s.id as s.state for s in feeder.states">
        <option value="">Please select ...</option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <label>Zip:</label>
      <input type="text" name="zip" ng-model="applicant.zip" class="form-control"/>
    </div>
  </div>
  <!-- ADDRESS / PHONE -->

  <!-- PHONE / EMAIL / SSN / DOB -->
  <div class="row">
    <div class="form-group col-md-3">
      <label>Phone:</label>
      <input type="text" name="phone" ui-mask="(999) 999-9999" ng-model="applicant.phone" class="form-control"/>
    </div>
    <div class="form-group col-md-5">
      <label>Email Address:</label>
      <input type="text" name="email" ng-model="applicant.email" class="form-control"/>
    </div>
    <div class="form-group col-md-2">
      <label>SSN / Tax ID Number:</label>
      <input type="text" name="ssn" ui-mask="999-99-9999" ng-model="applicant.ssn" class="form-control"/>
    </div>
    <div class="form-group col-md-2">
      <label>DOB or Incorporation:</label>
      <input type="text" name="dob" ui-mask="99/99/9999" ng-model="applicant.dob" class="form-control" style="width: 120px;"/>
    </div>
  </div>
  <!-- PHONE / EMAIL / SSN / DOB -->

  <!-- SPOUSE / SSN -->
  <div class="row" ng-if="applicant.entity_type_id == '5'">
    <div class="form-group col-md-3">
      <label>Spouse</label>
      <input type="text" name="spouse" ng-model="applicant.spouse" class="form-control"/>
    </div>
    <div class="form-group col-md-3">
      <label>Spouse SSN:</label>
      <input type="text" name="spouse_ssn" ng-model="applicant.spouse_ssn" ui-mask="999-99-9999" class="form-control"/>
    </div>
    <div class="form-group col-md-3">
      <label>Spouse Phone:</label>
      <input type="text" name="spouse_phone" ui-mask="(999) 999-9999" ng-model="applicant.spouse_phone" class="form-control"/>
    </div>
    <div class="form-group col-md-3">
      <label>Spouse Email:</label>
      <input type="text" name="spouse_email" ng-model="applicant.spouse_email" class="form-control"/>
    </div>
  </div>
  <!-- SPOUSE / SSN -->

</fieldset>
<br/><br/>
<!--CORPORATION-->
<fieldset ng-show="applicant.entity_type_id == '1'">
  <!--<pre>{{corps | json}}</pre>-->
  <legend>CORPORATION INFORMATION</legend>
  <div>
    <div class="row">
      <div class="form-group col-md-6">
        <label>President (Last, First, MI):</label>
        <input type="text" name="pres" ng-model="corps.president" class="form-control"/>
      </div>
      <div class="form-group col-md-6">
        <label>Vice-President (Last, First, MI):</label>
        <input type="text" name="vpres" ng-model="corps.vicepresident" class="form-control"/>
      </div>
      </div>
    <div class="row">
      <div class="form-group col-md-6">
        <label>Secretary (Last, First, MI):</label>
        <input type="text" name="secretary" ng-model="corps.secretary" class="form-control"/>
      </div>
      <div class="form-group col-md-6">
        <label>Treasurer (Last, First, MI):</label>
        <input type="text" name="treasurer" ng-model="corps.treasurer" class="form-control"/>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-12">
        <label>Corporation Details.</label>
        <textarea name="corp_details" ng-model="corps.description" class="form-control" style="height:120px;"></textarea>
      </div>
    </div>
  </div>
</fieldset>
<!--JOINT VENTURE-->
<fieldset ng-show="applicant.entity_type_id == '3'">
  <legend>JOINT VENTURES INFORMATION</legend>
  <!--<pre>{{joints | json}}</pre>-->
  <table id="tblJoints" class="tblLanding" style="width:96%; margin:0 auto;">
    <tr class="landing_header_row clr-darkgreen" style="color:white;">
      <th style="width:20%;" data-ng-click="doSort('name')">Name</th>
      <th style="width:20%;" data-ng-click="doSort('SSN')">SSN</th>
      <th style="width:20%;" data-ng-click="doSort('Phone')">Phone</th>
      <th style="width:20%;" data-ng-click="doSort('Email')">Email</th>
      <th style="width:20%;">Percent Owned</th>
    </tr>
    <tr ng-if="joints.length == 0" class="landing_data_row">
      <td colspan="5"><b>No joint ventures found!</b></td>
    </tr>
    <tr ng-repeat="j in joints" class="landing_data_row">
      <td>{{j.partner | capitalize}}</td>
      <td>{{j.ssn | ssnum}}</td>
      <td>{{j.phone | phone}}</td>
      <td>{{j.email}}</td>
      <td class="text-right">{{j.percent_owned | number:1}}</td>
    </tr>
  </table>
  <br/>
  <div class="row">
    <div class="form-group col-sm-12">
      <!-- Partner/SSN/DOB -->
      <div class="row">
        <div class="form_group col-sm-6">
          <label><span class="req">*</span>
            Name:
          </label>
          <input type="text" id="partner" ng-model="newVenture.partner" class="form-control"/>
        </div>
        <div class="form-group col-sm-3">
          <label><span class="req">*</span>
            SSN / Tax ID:</label>
          <input type="text" class="form-control" name="ssn" ui-mask="999-99-9999" ng-model="newVenture.ssn" style="width: 150px;"/>
        </div>
        <div class="col-sm-3">
          <label>Percent Owned:</label>
          <input type="text" name="percent_owned" ng-model="newVenture.percent_owned" class="form-control" style="width:100px;"/>
        </div>
      </div>
      <!-- FARMER/SSN/DOB -->

      <!-- ADDRESS -->
      <div class="row">
        <div class="form-group col-sm-4">
          <label>Mailing Address:</label>
          <input type="text" name="address" ng-model="newVenture.address" class="form-control"/>
        </div>
        <div class="form-group col-sm-3">
          <label>City:</label>
          <input type="text" name="city" ng-model="newVenture.city" class="form-control"/>
        </div>
        <div class="form-group col-sm-2">
          <label>State:</label>
          <select name="state" ng-model="newVenture.state_id" class="form-control" ng-options="s.id as s.state for s in feeder.states">
            <option value="">Please select ...</option>
          </select>
        </div>
        <div class="form-group col-sm-2">
          <label>Zip:</label>
          <input type="text" name="zip" ng-model="newVenture.zip" class="form-control"/>
        </div>
      </div>
      <!-- ADDRESS -->

      <!-- PHONE / EMAIL / INFO -->
      <div class="row">
        <div class="form-group col-sm-4">
          <label>Phone:</label>
          <input type="text" name="phone" ui-mask="(999) 999-9999" ng-model="newVenture.phone" class="form-control"/>
        </div>
        <div class="form-group col-sm-4">
          <label>Email Address:</label>
          <input type="text" name="email" ng-model="newVenture.email" class="form-control"/>
        </div>
      </div>
      <!-- PHONE / EMAIL / DOB -->
    </div>
    <div class="row">
      <div class="col-sm-12 text-left">
        <button style="margin-left:15px;" class="btn btn-sm btn-primary" ng-click="createVenture()">Save</button>
      </div>
    </div>
  </div>
  </form>
  </div>
</fieldset>
<!--PARTNERSHIP-->
<fieldset ng-show="applicant.entity_type_id == '4'">
  <legend>PARTNER INFORMATION</legend>
  <!--<pre>{{partners | json}}</pre>-->
  <table id="tblPartner" class="tblLanding" style="width:96%; margin:0 auto;">
    <tr class="landing_header_row clr-darkgreen" style="color:white;">
      <th style="width:20%;" data-ng-click="doSort('name')">Name</th>
      <th style="width:20%;" data-ng-click="doSort('SSN')">SSN</th>
      <th style="width:20%;" data-ng-click="doSort('Phone')">Phone</th>
      <th style="width:20%;" data-ng-click="doSort('Email')">Email</th>
      <th style="width:20%;">Percent Owned</th>
    </tr>
    <tr ng-if="partners.length == 0" class="landing_data_row">
      <td colspan="5"><b>No partners found!</b></td>
    </tr>
    <tr ng-repeat="p in partners" class="landing_data_row">
      <td>{{p.partner | capitalize}}</td>
      <td>{{p.ssn | ssnum}}</td>
      <td>{{p.phone | phone}}</td>
      <td>{{p.email}}</td>
      <td class="text-right">{{p.percent_owned | number:1}}</td>
    </tr>
  </table>
  <br/>
    <div class="row">
      <div class="form-group col-sm-12">
        <!-- Partner/SSN/DOB -->
        <div class="row">
          <div class="form_group col-sm-6">
            <label><span class="req">*</span>
              Name:
            </label>
            <input type="text" id="partner" ng-model="newPartner.partner" class="form-control"/>
          </div>
          <div class="form-group col-sm-3">
            <label><span class="req">*</span>
              SSN / Tax ID:</label>
            <input type="text" class="form-control" name="ssn" ui-mask="999-99-9999" ng-model="newPartner.ssn" style="width: 150px;"/>
          </div>
          <div class="col-sm-3">
            <label>Percent Owned:</label>
            <input type="text" name="percent_owned" ng-model="newPartner.percent_owned" class="form-control" style="width:100px;"/>
          </div>
        </div>
        <!-- FARMER/SSN/DOB -->

        <!-- ADDRESS -->
        <div class="row">
          <div class="form-group col-sm-4">
            <label>Mailing Address:</label>
            <input type="text" name="address" ng-model="newPartner.address" class="form-control"/>
          </div>
          <div class="form-group col-sm-3">
            <label>City:</label>
            <input type="text" name="city" ng-model="newPartner.city" class="form-control"/>
          </div>
          <div class="form-group col-sm-2">
            <label>State:</label>
            <select name="state" ng-model="newPartner.state_id" class="form-control" ng-options="s.id as s.state for s in feeder.states">
              <option value="">Please select ...</option>
            </select>
          </div>
          <div class="form-group col-sm-2">
            <label>Zip:</label>
            <input type="text" name="zip" ng-model="newPartner.zip" class="form-control"/>
          </div>
        </div>
        <!-- ADDRESS -->

        <!-- PHONE / EMAIL / INFO -->
        <div class="row">
          <div class="form-group col-sm-4">
            <label>Phone:</label>
            <input type="text" name="phone" ui-mask="(999) 999-9999" ng-model="newPartner.phone" class="form-control"/>
          </div>
          <div class="form-group col-sm-4">
            <label>Email Address:</label>
            <input type="text" name="email" ng-model="newPartner.email" class="form-control"/>
          </div>
        </div>
        <!-- PHONE / EMAIL / DOB -->
      </div>
      <div class="row">
        <div class="col-sm-12 text-left">
          <button style="margin-left:15px;" class="btn btn-sm btn-primary" ng-click="createPartner()">Save</button>
        </div>
      </div>
    </div>
  </form>
  </div>
</fieldset>

<!-- UPDATE BUTTON -->
<div class="row">
  <br/>
  <div class="col-md-12 text-right">
    <button style="margin-right:10px;" class="btn btn-primary" ng-click="createApplicant()">NEXT</button>
  </div>
</div>