<fieldset>
  <!--TODO: Date-->
  <legend>Grain Storage Loan Calculation</legend>
  <br/><br/>
  <table class="table table-striped rowed">
    <tr>
      <td>
        <label>Loan Customer</label>
      </td>
      <td>
        LFH Planting, LLC
      </td>
    </tr>
    <tr>
      <td>
        <label>Grain Buyer</label>
      </td>
      <td>
        Holly Ridge Rice &amp; Grain
      </td>
    </tr>
    <tr>
      <td>
        <label>Lien Holder</label>
      </td>
      <td>
        Ag Resource Management
      </td>
    </tr>
    <tr>
      <td>
        <label>Amount of Advance</label>
      </td>
      <td>
        75%
      </td>
    </tr>
    <tr>
      <td>
        <label>Payment Terms</label>
      </td>
      <td>
        15
        &nbsp;<small>allow this number of days after Delvery Due Date for processing and payment according to usual terms of Grain Buyer</small>
      </td>
    </tr>
    <tr>
      <td>
        <label>Contract Info</label>
      </td>
      <td>
        <div ng-include="'angular/views/loans/partials/storage_contract.html'"></div>
      </td>
    </tr>
  </table>

</fieldset>