<style>
  td{ font-size: 10px;}
</style>
<fieldset>
  <legend>Insurance Information</legend>
  <!--<pre>{{loan | json}}</pre>-->
  <div class="row" style="display:none;">
    <div class="form-group col-xs-3">
      <label>Agency</label>
      <input type="text" class="form-control" ng-model="insurance[0].agency"/>
    </div>
    <div class="form-group col-xs-3">
      <label>Agent</label>
      <input type="text" class="form-control" ng-model="insurance[0].agent"/>
    </div>
    <div class="form-group col-xs-3">
      <label>Email</label>
      <input type="text" class="form-control" ng-model="insurance[0].agent_email"/>
    </div>
    <div class="form-group col-xs-3">
      <label>Phone</label>
      <input type="text" name="phone" ui-mask="(999) 999-9999" ng-model="insurance[0].agent_phone" class="form-control"/>
    </div>
  </div>
  <br/><br/>
  <div class="row col-xs-12">
    <table class="table table-striped rowed">
      <tr>
        <th style="width:6%;">Policy</th>
        <th style="width:10%;">Agency</th>
        <th style="width:13%;">Locale</th>
        <th style="width:12%;">Crop</th>
        <th style="width:2%;">T</th>
        <th style="width:2%;">O</th>
        <th style="width:6%;">Price</th>
        <th style="width:6%;">Level</th>
        <th style="width:5%;">Acres</th>
        <th style="width:5%;">APH</th>
        <th style="width:6%;">Share</th>
        <th style="width:5%;">Prem</th>
        <th style="width:8%;">Guar</th>
        <th style="width:8%;">Value</th>
      </tr>
      <tr ng-if="insurance.length == 0">
        <td colspan="14"><strong>No insurance policies found.</strong></td>
      </tr>
      <!--<tr>
        <td colspan="13"><pre>{{insurance | json}}</pre></td>
      </tr>-->
      <tr ng-repeat="i in insurance">
        <td>{{i.policy}}</td>
        <!--TODO: Add Agent Info in hover-->
        <td>{{i.agency}}</td>
        <td>{{i.locale}}</td>
        <td>{{i.practice}}</td>
        <td class="text-center">{{i.type}}</td>
        <td class="text-center">{{i.option}}</td>
        <td ng-class=gtZero(i.price)>
          {{i.price | displaynullcurrency}}
        </td>
        <td class="text-right">
          {{i.level | displaynullpercent}}
        </td>
        <td class="text-right">
          {{i.acres | number:1}}
        </td>
        <td class="text-right">
          {{i.aph | number:1}}
        </td>
        <td ng-class=gtZero(i.share)>
          {{i.share | displaynullpercent}}
        </td>
        <td ng-class=gtZero(i.premium)>
          {{i.premium | displaynullcurrency}}
        </td>
        <td ng-class=gtZero(calcGuaranty(i))>
          {{i.guaranty | displaynullcurrency}}
        </td>
        <td ng-class=gtZero(i.value)>
          {{i.value | displaynullcurrency}}
        </td>
      </tr>

      <tr class="success">
        <td>Total</td>
        <td colspan="12">&nbsp;</td>
        <td  ng-class=gtZero(loan.total_ins_value)>
          {{loan.total_ins_value | displaynullcurrency}}
        </td>
      </tr>
    </table>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-1">&nbsp;</div>
        <div class="col-xs-10">
          <form>
            <div class="row form-group">
              <!--AGENCY-->
              <!--TODO: Typeahead must describe branches-->
              <div class="col-xs-2">
                <label>Agency</label>
              </div>
              <div class="col-xs-3">
                <input type="text" id="agency" ng-model="newPolicy.agency" typeahead="a.agency for a in feeder.agencies | filter:$viewValue | limitTo:8" class="form-control" typeahead-on-select="onAgencySelect($item, $model, $label)" autocomplete="false"/>
              </div>
              <!--LOCALE-->
              <div class="col-xs-2">
                <label>Locale</label>
              </div>
              <div class="col-xs-3">
                <!--TODO: HARD CODED! (get from loan.farms)-->
                <select name="locale" class="form-control" ng-model="newPolicy.loancounty_id">
                  <option value="">Please select ...</option>
                  <option value="1309">LA - Madison</option>
                  <option value="1317">LA - Richland</option>
                  <option value="1337">LA - West Carroll</option>
                  <option value="1628">MS - Warren</option>
                </select>
              </div>
            </div>
            <div class="row form-group">
              <!--AGENT-->
              <div class="col-xs-2">
                <label>Agent</label>
              </div>
              <div class="col-xs-3">
                <input type="text" id="agent" ng-model="newPolicy.agent" typeahead="a.agent for a in agencyAgents | filter:$viewValue | limitTo:8" class="form-control" typeahead-on-select="onAgentSelect($item, $model, $label)" autocomplete="false"/>
              </div>
              <!--POLICY-->
              <div class="col-xs-2">
                <label>Policy</label>
              </div>
              <div class="col-xs-3">
                <input type="text" class="form-control" ng-model="newPolicy.policy"/>
              </div>
            </div>
            <div class="row form-group">
              <!--AGENT_PHONE-->
              <div class="col-xs-2">
                <label>Agent's Phone</label>
              </div>
              <div class="col-xs-3">
                <input type="text" class="form-control" name="agents_phone" ng-model="newPolicy.agent_phone" ui-mask="(999) 999-9999"/>
              </div>
              <!--TYPE-->
              <div class="col-xs-2">
                <label>Type</label>
              </div>
              <div class="col-xs-3">
                <select name="type" class="form-control" ng-model="newPolicy.type" ng-options="t.type as t.type for t in feeder.instypes">
                  <option value="">Please select ...</option>
                </select>
              </div>
            </div>
            <div class="row form-group">
              <!--AGENT_EMAIL-->
              <div class="col-xs-2">
                <label>Agent's Email</label>
              </div>
              <div class="col-xs-3">
                <input type="text" class="form-control" name="agent_email" ng-model="newPolicy.agent_email"/>
              </div>
              <!--OPTION-->
              <div class="col-xs-2">
                <label>Option</label>
              </div>
              <div class="col-xs-3">
                <input type="text" class="form-control" ng-model="newPolicy.option"/>
              </div>
            </div>
            <div class="row form-group">
              <!--CROP SELECT-->
              <div class="col-xs-2">
                <label>Crop / Practice</label>
              </div>
              <div class="col-xs-3">
                <select name="loancrop_id" class="form-control" ng-model="newPolicy.loancrop_id" ng-options="c.id as c.crop for c in feeder.crops">
                  <option value="">Please select...</option>
                </select>
              </div>
              <!--CROP PRACTICE-->
              <div class="col-xs-2">
                <label>Crop Practice</label>
              </div>
              <!--TODO: HARD CODED!-->
              <div class="col-xs-3">
                <span ng-if="newPolicy.loancrop_id != 2">
                  <select name="croppractice_id"
                          class="form-control"
                          ng-model="newPolicy.croppractice_id"
                          ng-change="getPracticeDefaults(newPolicy.loancounty_id, newPolicy.loancrop_id, newPolicy.croppractice_id)">
                    <option value="">Please select...</option>
                    <option value="1">IRR</option>
                    <option value="2">NI</option>
                  </select>
                </span>
                <span ng-if="newPolicy.loancrop_id == 2">
                  <select name="croppractice_id"
                          class="form-control"
                          ng-model="newPolicy.croppractice_id"
                          ng-change="getPracticeDefaults(newPolicy.loancounty_id, newPolicy.loancrop_id, newPolicy.croppractice_id)">
                    <option value="">Please select...</option>
                    <option value="1">IRR</option>
                    <option value="2">NI</option>
                    <option value="3">FACIR</option>
                    <option value="4">FACNI</option>
                  </select>
                </span>
              </div>
            </div>
            <div class="row form-group">
              <!--ACRES-->
              <div class="col-xs-2">
                <label>Acres</label>
              </div>
              <div class="col-xs-3">
                <input type="text" class="form-control" ng-model="newPolicy.acres"/>
              </div>
              <!--LEVEL-->
              <div class="col-xs-2">
                <label>Level</label>
              </div>
              <div class="col-xs-3">
                <input type="text" class="form-control" ng-model="newPolicy.level"/>
              </div>
            </div>
            <div class="row form-group">
              <!--PRICE-->
              <div class="col-xs-2">
                <label>Price</label>
              </div>
              <div class="col-xs-3">
                <input type="text" class="form-control" ng-model="newPolicy.price"/>
              </div>
              <!--APH-->
              <div class="col-xs-2">
                <label>APH</label>
              </div>
              <div class="col-xs-3">
                <input type="text" class="form-control" ng-model="newPolicy.aph"/>
              </div>
            </div>
            <div class="row form-group">
              <!--PREMIUM-->
              <div class="col-xs-2">
                <label>Premium</label>
              </div>
              <div class="col-xs-3">
                <input type="text" class="form-control" ng-model="newPolicy.premium"/>
              </div>
              <!--SHARE-->
              <div class="col-xs-2">
                <label>Share %</label>
              </div>
              <div class="col-xs-3">
                <input type="text" class="form-control" ng-model="newPolicy.share"/>
              </div>
            </div>

            <div class="row">&nbsp;</div>
            <div class="row">
              <div class="col-xs-10 form-group text-left">
                <input type="submit" class="btn btn-xs btn-danger" value="Add Policy" ng-click="addNewPolicy(newPolicy)"/>
              </div>
            </div>
          </form>
        </div>
        <div class="col-xs-1">&nbsp;</div>
      </div>
    </div>
  </div>
  <br/><br/>
  <div class="row">
    <div class="col-md-12 text-right">
      <button style="margin-right:10px;" class="btn btn-primary" ng-click="updateinsurance()">
        NEXT
      </button>
    </div>
  </div>
</fieldset>
<!--<pre>{{insurance | json}}</pre>-->
