<fieldset>
  <legend>REFERENCES INFORMATION</legend>

  <div class="row form-group">
    <table class="table table-striped rowed" style="width:90%;margin: 0 auto;">
      <tr>
        <th>Creditor</th>
        <th>City, State</th>
        <th>Contact</th>
        <th>Phone</th>
        <th>Email</th>
      </tr>
      <tr ng-if="!references">
        <td colspan="5">
          <b>No references found!</b>
        </td>
      </tr>
      <tr ng-repeat="r in references">
        <td>{{r.creditor | capitalize}}</td>
        <td>{{r.city_state}}</td>
        <td>{{r.contact}}</td>
        <td>{{r.phone | phone}}</td>
        <td>{{r.email}}</td>
      </tr>
    </table>
  </div>
  <br/><br/>
  <div class="row form-group">
    <div class="col-md-12">
      <div class="col-md-4">
        <label>Creditor:</label>
        <input type="text" class="form-control" name="creditor" ng-model="newReference.creditor"/>
      </div>
      <div class="col-md-4">
        <label>City, State:</label>
        <input type="text" class="form-control" name="city_state" ng-model="newReference.city_state"/>
      </div>
      <div class="col-md-4">&nbsp;</div>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-12">
      <div class="col-md-4">
        <label>Contact:</label>
        <input type="text" class="form-control" name="contact" ng-model="newReference.contact"/>
      </div>
      <div class="col-md-4">
        <label>Phone:</label>
        <input type="text" class="form-control" name="phone" ng-model="newReference.phone" ui-mask="(999) 999-9999"/>
      </div>
      <div class="col-md-4">
        <label>Email:</label>
        <input type="text" class="form-control" name="email" ng-model="newReference.email"/>
      </div>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-12">
      <div class="col-md-4">
        <button class="btn btn-sm btn-success" ng-click="createNewReference(newReference)">Add</button>
      </div>
    </div>
  </div>
  <br/><br/>
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <button class="btn btn-success" ng-click="moveFromReferences()">NEXT</button>
    </div>
  </div>
  <br/><br/>
</fieldset>
<!--<pre>{{quests | json}}</pre>-->