<style>
  .rowed td{border:1px solid #dddddd; }
</style>
<!--<pre>{{globals | json}}</pre>-->
<fieldset>
  <legend>Whole Farm Yield Information</legend>
  <div class="form-group row">
    <div class="col-md-12">
      <label>Please list your whole farm average yields.</label>
      <table class="table striped-table">
        <tr>
          <th style="width:12%;text-align:left;">Crop</th>
          <th class="text-center" style="width:8%;">UOM</th>
          <th style="width:10%;">{{globals.PY1}}</th>
          <th style="width:10%;">{{globals.PY2}}</th>
          <th style="width:10%;">{{globals.PY3}}</th>
          <th style="width:10%;">3yr Avg</th>
          <th style="width:10%;">{{globals.PY4}}</th>
          <th style="width:10%;">{{globals.PY5}}</th>
          <th style="width:10%;">{{globals.PY6}}</th>
          <th style="width:10%;">6yr Avg</th>
        </tr>
        <tr ng-if="loan.loanCrops.length == 0">
          <td colspan="10">
            <strong>No Crops Selected. Please go back to 'Crops' to select the crops you are considering.</strong>
          </td>
        </tr>
        <tr ng-repeat="c in loan.loanCrops" ng-if="c.is_active">
          <td>{{c.name | capitalize}}</td>
          <td class="text-center">
            <select name="uom" ng-model="c.uom" ng-options="u.abr as u.unit for u in feeder.units" ng-change="uomChanged(c.id, c.uom)">
              <option value="">Please select ...</option>
            </select>
          </td>
          <td style="text-align: center;">
            <input type="text" class="form-control text-right" ng-model="c.p1_yield"/>
          </td>
          <td style="text-align: center;">
            <input type="text" class="form-control text-right" ng-model="c.p2_yield"/>
          </td>
          <td style="text-align: center;">
            <input type="text" class="form-control text-right" ng-model="c.p3_yield"/>
          </td>
          <td class="text-right">
            {{averageArray([c.p1_yield, c.p2_yield, c.p3_yield])| number:1}}
          </td>
          <td style="text-align: center;">
            <input type="text" class="form-control text-right" ng-model="c.p4_yield"/>
          </td>
          <td style="text-align: center;">
            <input type="text" class="form-control text-right" ng-model="c.p5_yield"/>
          </td>
          <td style="text-align: center;">
            <input type="text" class="form-control text-right" ng-model="c.p6_yield"/>
          </td>
          <td class="text-right">
            {{averageArray([c.p1_yield, c.p2_yield, c.p3_yield, c.p4_yield, c.p5_yield, c.p6_yield])| number:1}}
          </td>
        </tr>
      </table>
    </div>
  </div>
  <!--<pre>{{loan.loanCrops | json}}</pre>-->
  <div class="row">
    <div class="col-md-12 text-right">
      <button style="margin-right:10px;" class="btn btn-primary" ng-click="updateYield()">
        NEXT
      </button>
    </div>
  </div>
</fieldset>
<!--<pre>{{units | json}}</pre>-->