<style>
  th{ text-align: left; }
  .uline{ border-botton: 1px solid #333 !Important; }
  .rowed td{border:1px solid #dddddd; }
  .lg-text{ font-size: 16px;}
</style>
<fieldset>
  <legend>Loan Exceptions</legend>
  <div class="row">
    <div class="form-group col-md-9 col-md-offset-1">
      <div ng-include="'angular/views/loans/partials/loan_exceptions.html'"></div>
    </div>
  </div>
</fieldset>
<br/><br/>
<fieldset>
  <legend>Collateral Conditions</legend>
  <!-- TODO See Notes -->
  <div class="row">
    <div class="form-group col-md-6 col-md-offset-1">
      <p style="display:none;"><a ng-click="createCollateralCondition()" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-plus-sign" style="color:#006837;"></span> Add New Condition</a></p><br>
      <p class="lg-text" ng-class="{clrOn: loan.conditions_asa, clrOff: !loan.conditions_asa}">
        <input type="checkbox" class="squaredFour" ng-model="loan.conditions_asa"/>
        &nbsp;
        Agricultural Security Agreement on Crops and Equipment
      </p>

      <p class="lg-text" ng-class="{clrOn: loan.conditions_aci, clrOff: !loan.conditions_aci}">
        <input type="checkbox" class="squaredFour" ng-model="loan.conditions_aci"/>
        &nbsp;
        Assignment of Crop Insurance
      </p>
      <p ng-show="loan.conditions_aci" ng-hide="!loan.conditions_aci">
      <table class="table table-striped" ng-show="loan.conditions_aci" ng-hide="!loan.conditions_aci">
        <tr>
          <th>Agency</th>
          <th>Agent</th>
          <th>Policy</th>
        </tr>
        <tr>
          <td>State Farm</td>
          <td>Bilbo Baggins</td>
          <td>357869</td>
        </tr>
        <tr>
          <td>State Farm</td>
          <td>Bilbo Baggins</td>
          <td>357904</td>
        </tr>
      </table>
      </p>

      <p class="lg-text" ng-class="{clrOn: loan.conditions_areb, clrOff: !loan.conditions_areb}">
        <input type="checkbox" class="squaredFour" ng-model="loan.conditions_areb"/>
        &nbsp;
        Assignment of Crop Rebate
      </p>
      <p ng-show="loan.conditions_areb" ng-hide="!loan.conditions_areb">
      <table class="table table-striped" ng-show="loan.conditions_areb" ng-hide="!loan.conditions_areb">
        <tr>
          <td style="width:50%;">Crop</td>
          <td style="width:20%;">Acreage</td>
          <td style="width:30%;">Total Rebate</td>
        </tr>
      </table>
      </p>

      <p class="lg-text" ng-class="{clrOn: loan.conditions_adis, clrOff: !loan.conditions_adis}">
        <input type="checkbox" class="squaredFour" ng-model="loan.conditions_adis"/>
        &nbsp;
        Approval by Distributor
      </p>
      <p ng-show="loan.conditions_adis" ng-hide="!loan.conditions_adis">
      <table class="table table-striped" ng-show="loan.conditions_adis" ng-hide="!loan.conditions_adis">
        <tr>
          <td style="width:50%;">Approval Pending</td>
          <td style="width:20%;">JSI</td>
          <td style="width:30%;">Marie Osmond</td>
        </tr>
      </table>
      </p>
      <p class="lg-text" ng-class="{clrOn: loan.conditions_pg, clrOff: !loan.conditions_pg}">
        <input type="checkbox" class="squaredFour" ng-model="loan.conditions_pg"/>
        &nbsp;
        Personal Guarantee
      </p>
      <p ng-show="loan.conditions_pg" ng-hide="!loan.conditions_pg">
      <table class="table table-striped" ng-show="loan.conditions_pg" ng-hide="!loan.conditions_pg">
        <tr ng-repeat="pg in loan.guarantors">
          <td>{{pg.guarantor}}</td>
        </tr>
        <tr>
          <td>
            <form ng-submit="addGuarantor()">
              <input type="text" ng-model="newGuarantor.guarantor"/>
              <button type="submit">                         <span class="glyphicon glyphicon-plus"></span>
              </button>
            </form>
          </td>
        </tr>
      </table>
      </p>

      <p class="lg-text" ng-class="{clrOn: loan.conditions_ccl, clrOff: !loan.conditions_ccl}">
        <input type="checkbox" class="squaredFour" ng-model="loan.conditions_ccl"/>
        &nbsp;
        Cross-Collateralized Loan
      </p>
      <p ng-show="loan.conditions_ccl" ng-hide="!loan.conditions_ccl">
      <table class="table table-striped" ng-show="loan.conditions_ccl" ng-hide="!loan.conditions_ccl">
        <tr>
          <td style="width:60%;">Name</td>
          <td style="width:20%;">Loan Id</td>
          <td style="width:20%;">Amount</td>
        </tr>
      </table>
      </p>

      <p class="lg-text" ng-class="{clrOn: loan.conditions_afsa, clrOff: !loan.conditions_afsa}">
        <input type="checkbox" class="squaredFour" ng-model="loan.conditions_afsa"/>
        &nbsp;
        Assignment of FSA Direct and LDP Payment
      </p>
      <p ng-show="loan.collateral_conditions.afsa" ng-hide="!loan.conditions_afsa">
      <table class="table table-striped" ng-show="loan.conditions_afsa" ng-hide="!loan.conditions_afsa">
        <tr>
          <td style="width:60%;">Credit Limit Verified</td>
          <td style="width:20%;">PHI</td>
          <td style="width:20%;">82K</td>
        </tr>
      </table>
      </p>
      <p class="lg-text" ng-class="{clrOn: loan.conditions_cd, clrOff: !loan.conditions_cd}">
        <input type="checkbox" class="squaredFour" ng-model="loan.conditions_cd"/>
        &nbsp;
        Controlled Disbursement
      </p>
    </div>
  </div>
</fieldset>
<br/><br/>
<fieldset>
  <!-- TODO: Trigger a LENDA -->
  <legend>Collateral Summary</legend>
  <div class="row">
    <div class="form-group col-md-10 col-md-offset-1">
      <table class="table table-striped rowed">
        <tr>
          <th style="width:37%;">&nbsp;</th>
          <th style="width:15%;">
            Prior Lien
          </th>
          <th style="width:12%;">
            Mkt Value
          </th>
          <th style="width:12%;">
            Disc. %
          </th>
          <th style="width:12%;">
            Non RP
          </th>
          <th style="width:12%;">
            Value
          </th>
        </tr>
        <tr>
          <td>Projected Crops</td>
          <td ng-class=gtZero(prior_lien.projected_crops)>
            <null-edit-in-place value="prior_lien.projected_crops"></null-edit-in-place>
          </td>
          <td class="text-right">
            {{loan.fins.adj_prod | currency}}
          </td>
          <td class="text-right">
            <percent-edit-in-place value="loan.fins.disc_prod_percent"></percent-edit-in-place>
          </td>
          <td class="text-right">
            {{loan.fins.non_rp_percent | number:1}}%
          </td>
          <td class="text-right">
            {{loan.fins.pc_value = ((prior_lien.projected_crops * 1 + loan.fins.adj_prod * 1) * ((loan.fins.disc_prod_percent/100) + (loan.fins.non_rp_percent/100))) | displaynullcurrency}}
          </td>
        </tr>
        <tr>
          <td>Crop Ins Over Discounted Crops</td>
          <td ng-class=gtZero(prior_lien.ins_over_discount)>
            <null-edit-in-place value="prior_lien.ins_over_discount"></null-edit-in-place>
          </td>
          <td class="text-right">
            {{loan.fins.ins_disc_prod | currency}}
          </td>
          <td class="text-right">
            <percent-edit-in-place value="loan.fins.disc_ins_percent"></percent-edit-in-place>
          </td>
          <td class="text-right">
            {{loan.fins.non_rp_percent | number:1}}%
          </td>
          <td class="text-right">
            {{loan.fins.iod_value = ((prior_lien.ins_over_discount * 1 + loan.fins.ins_disc_prod * 1) * ((loan.fins.disc_ins_percent/100) + (loan.fins.non_rp_percent/100))) | displaynullcurrency}}
          </td>
        </tr>
        <tr>
          <td>FSA Payments</td>
          <td ng-class=gtZero(prior_lien.fsa_payments)>
            <null-edit-in-place value="prior_lien.fsa_payments"></null-edit-in-place>
          </td>
          <td class="text-right">
            {{loan.fins.total_fsa_payment | currency}}
          </td>
          <td class="text-right">
            <percent-edit-in-place value="loan.fins.disc_ins_percent"></percent-edit-in-place>
          </td>
          <td class="text-right">
            {{loan.fins.non_rp_percent | number:1}}%
          </td>
          <td class="text-right">
            {{loan.fins.fsa_value = ((prior_lien.fsa_payments * 1 + loan.fins.total_fsa_payment * 1) * ((loan.fins.disc_ins_percent/100) + (loan.fins.non_rp_percent/100))) | currency}}
          </td>
        </tr>
        <tr>
          <td>Claims</td>
          <td ng-class=gtZero(prior_lien.claims)>
            <null-edit-in-place value="prior_lien.claims"></null-edit-in-place>
          </td>
          <td class="text-right">
            {{loan.fins.total_claims | currency}}
          </td>
          <td class="text-right">
            <percent-edit-in-place value="loan.fins.disc_ins_percent"></percent-edit-in-place>
          </td>
          <td class="text-right">
            {{loan.fins.non_rp_percent | number:1}}%
          </td>
          <td class="text-right">
            {{loan.fins.claims_value = ((prior_lien.claims * 1 + loan.fins.total_claims * 1) * ((loan.fins.disc_ins_percent/100) + (loan.fins.non_rp_percent/100))) | currency}}
          </td>
        </tr>
        <tr>
          <td>Equipment</td>
          <td class="text-center">
            <null-edit-in-place value="0.00"></null-edit-in-place>
          </td>
          <td class="text-right">
            {{0 | currency}}
          </td>
          <td class="text-right">
            <percent-edit-in-place value="20.0"></percent-edit-in-place>
          </td>
          <td class="text-right">
            {{0 | number:1}}%
          </td>
          <td class="text-right">
            {{0 | currency}}
          </td>
        </tr>
        <tr>
          <td>Real Estate</td>
          <td class="text-center">
            <null-edit-in-place value="0.00"></null-edit-in-place>
          </td>
          <td class="text-right">
            {{0 | currency}}
          </td>
          <td class="text-right">
            <percent-edit-in-place value="40.0"></percent-edit-in-place>
          </td>
          <td class="text-right">
            {{0 | number:1}}%
          </td>
          <td class="text-right">
            {{0 | currency}}
          </td>
        </tr>
        <tr class="success">
          <td>Total Value</td>
          <td ng-class=gtZero(prior_lien.total)>
            {{prior_lien.total | displaynullcurrency}}
          </td>
          <td class="text-right">
            {{loan.fins.adj_prod * 1 + loan.fins.ins_disc_prod * 1 + loan.fins.total_fsa_payment * 1 + loan.fins.total_claims * 1 | currency}}
          </td>
          <td class="text-right">&nbsp;</td>
          <td class="text-right">&nbsp;</td>
          <td class="text-right">
            {{loan.fins.pc_value * 1 + loan.fins.iod_value * 1 + loan.fins.fsa_value * 1 + loan.fins.claims_value * 1 | currency}}
          </td>
        </tr>
      </table>
    </div>
  </div>
</fieldset>
<br/><br/>
        <!--TODO: Addendums-->
<fieldset ng-if="loan.has_addendum">
  <legend>Loan History (Hardcoded for styling only)</legend>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped rowed">
        <tr>
          <th style="width:3%;">&nbsp;</th>
          <th clas="text-center" style="width:9%;">Date</th>
          <th clas="text-center" style="width:9%;">Acres</th>
          <th clas="text-center" style="width:9%;">Revenue</th>
          <th clas="text-center" style="width:9%;">ARM</th>
          <th clas="text-center" style="width:9%;">{{loan.distributor}}</th>
          <th class="text-center" style="width:9%;">Other</th>
          <th class="text-center" style="width:9%;">CF</th>
          <th class="text-center" style="width:9%;">Ins</th>
          <th class="text-center" style="width:9%;">Collateral</th>
          <th class="text-center" style="width:9%;">RM</th>
        </tr>
        <tr>
          <td>
            <span class="glyphicon glyphicon-usd"></span>
          </td>
          <td>
            9/15/14
          </td>
          <td>
            2,200
          </td>
          <td class="text-right">
            $1,085,440
          </td>
          <td class="text-right">
            $357,239
          </td>
          <td class="text-right">
            $547,960
          </td>
          <td class="text-right">
            44,000
          </td>
          <td class="text-right">
            $156,000
          </td>
          <td class="text-right">
            $848,560
          </td>
          <td class="text-right">
            $800,000
          </td>
          <td class="text-right">
            $200,000
          </td>
        </tr>
        <tr>
          <td>
            <span class="glyphicon glyphicon-plus"></span>
          </td>
          <td>
            9/15/14
          </td>
          <td>
            2,200
          </td>
          <td class="text-right">
            $1,085,440
          </td>
          <td class="text-right">
            $257,239
          </td>
          <td class="text-right">
            $547,960
          </td>
          <td class="text-right">
            44,000
          </td>
          <td class="text-right">
            $198,027
          </td>
          <td class="text-right">
            $848,560
          </td>
          <td class="text-right">
            $809,000
          </td>
          <td class="text-right">
            $3,801
          </td>
        </tr>
        <tr>
          <td>
            <span class="glyphicon glyphicon-record"></span>
          </td>
          <td>
            3/14/14
          </td>
          <td>
            2,000
          </td>
          <td class="text-right">
            $971,200
          </td>
          <td class="text-right">
            $233,953
          </td>
          <td class="text-right">
            $481,610
          </td>
          <td class="text-right">
            41,800
          </td>
          <td class="text-right">
            $181,637
          </td>
          <td class="text-right">
            $760,190
          </td>
          <td class="text-right">
            $705,264
          </td>
          <td class="text-right">
            $(10,299)
          </td>
        </tr>
      </table>
    </div>
  </div>
</fieldset>