<style>
  th{ text-align: left; }
  .uline{ border-botton: 1px solid #333 !Important; }
  .rowed td{border:1px solid #dddddd; }
  .lg-text{ font-size: 16px;}
</style>
<!--LOAN EXCEPTIONS-->
<fieldset>
  <legend>Loan Exceptions</legend>
  <div class="row">
    <div class="form-group col-md-10 col-md-offset-1">

    <!--<div class="col-md-12" style="padding-left:20px;">-->

      <p class="lg-text" ng-if="loanExceptions.length == 0">This loan has no exceptions.</p>
      <p class="lg-text" ng-repeat="e in loanExceptions">
        <span class="glyphicon glyphicon-flash" aria-hidden="true"></span>&nbsp;{{e.msg}}
      </p>
      <!--<button ng-click="createExceptions()">Exceptions</button>-->
      <!--<button ng-click="createBankruptcy('99')">Bankruptcy</button>-->
    </div>
  </div>
</fieldset>
<br/><br/>
<!--LOAN CONDITIONS-->
<fieldset>
  <legend>Loan/Collateral Conditions</legend>
  <div class="row">
    <div class="form-group col-md-10 col-md-offset-1">
      <div ng-include="'angular/views/loans/partials/collateral_conditions.html'"></div>
    </div>
  </div>
</fieldset>
<br/><br/>
<!--COLLATERAL SUMMARY-->
<fieldset>
  <legend>Collateral Summary</legend>
  <div class="row">
    <div class="form-group col-md-10 col-md-offset-1">
      <div ng-include="'angular/views/loans/partials/underwriting_collateral_table.html'"></div>
    </div>
  </div>
</fieldset>
<br/><br/>
<!--TODO: Addendums-->
<!--<fieldset ng-if="loan.has_addendum">-->
<fieldset>
  <legend>Loan History</legend>
  <!-- TODO: Hardcoded for styling only-->
  <div class="row">
    <div class="col-md-12">
      <div ng-include="'angular/views/loans/partials/underwriting_loanhistory_summary.html'"></div>
    </div>
  </div>
</fieldset>