<style>
  th{ text-align: left; }
  .uline{ border-botton: 1px solid #333 !Important; }
  .rowed td{border:1px solid #dddddd; }
  .lg-text{ font-size: 16px;}
</style>
<!--LOAN EXCEPTIONS-->
<fieldset>
  <legend>Loan Exceptions</legend>
  <div class="row">
    <div class="form-group col-md-10 col-md-offset-1">

    <!--<div class="col-md-12" style="padding-left:20px;">-->

      <p class="lg-text" ng-if="loanExceptions.length == 0">This loan has no exceptions.</p>
      <p class="lg-text" ng-repeat="e in loanExceptions">
        <span class="glyphicon glyphicon-flash" aria-hidden="true"></span>&nbsp;{{e.msg}}
      </p>
      <!--<button ng-click="createExceptions()">Exceptions</button>-->
      <!--<button ng-click="createBankruptcy('99')">Bankruptcy</button>-->
    </div>
  </div>
</fieldset>
<br/><br/>
<!--LOAN CONDITIONS-->
<fieldset>
  <legend>Loan/Collateral Conditions</legend>
  <div class="row">
    <div class="form-group col-md-10 col-md-offset-1">
      <div ng-include="'angular/views/loans/partials/collateral_conditions.html'"></div>
    </div>
  </div>
</fieldset>
<br/><br/>
<!--COLLATERAL SUMMARY-->
<fieldset ng-if="loan.loan_type_id != 7">
  <legend>Collateral Summary</legend>
  <div class="row">
    <div class="form-group col-md-10 col-md-offset-1">
      <div ng-include="'angular/views/loans/partials/underwriting_collateral_table.html'"></div>
    </div>
  </div>
</fieldset>
<br/><br/>
<!--TODO: Addendums-->
<fieldset ng-if="loan.has_addendum">
  <legend>Loan History</legend>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped rowed">
        <tr>
          <th style="width:3%;">&nbsp;</th>
          <th class="text-center" style="width:10%;">Orig Date</th>
          <th class="text-center" style="width:10%;">ARM</th>
          <th class="text-center" style="width:10%;">{{quests.distributor}}</th>
          <th class="text-center" style="width:10%;">Committment</th>
          <th class="text-center" style="width:10%;">Change</th>
          <th class="text-center" style="width:10%;">Change</th>
          <th class="text-center" style="width:10%;">Other</th>
          <th class="text-center" style="width:10%;">Total</th>
          <th class="text-center" style="width:10%;">Proc Fee</th>
        </tr>
        <tr>
          <td class="text-center">
            <span class="glyphicon glyphicon-usd"></span>
          </td>
          <td class="text-right">
            9/15/14
          </td>
          <td class="text-right">
            $357,239
          </td>
          <td class="text-right">
            $547,960
          </td>
          <td class="text-right">
            $905,199
          </td>
          <td class="text-right">
            $100,000
          </td>
          <td class="text-right">
            127%
          </td>
          <td class="text-right">
            $44,000
          </td>
          <td class="text-right">
            $949,199
          </td>
          <td class="text-right">
            $1,000.00
          </td>
        </tr>
        <tr>
          <td class="text-center">
            <span class="glyphicon glyphicon-plus"></span>
          </td>
          <td class="text-right">
            4/14/14
          </td>
          <td class="text-right">
            $257,239
          </td>
          <td class="text-right">
            $547,960
          </td>
          <td class="text-right">
            $805,199
          </td>
          <td class="text-right">
            $89,636
          </td>
          <td class="text-right">
            113%
          </td>
          <td class="text-right">
            $44,000
          </td>
          <td class="text-right">
            $849,199
          </td>
          <td class="text-right">
            $896.36
          </td>
        </tr>
        <tr>
          <td class="text-center">
            <span class="glyphicon glyphicon-record"></span>
          </td>
          <td class="text-right">
            3/14/14
          </td>
          <td class="text-right">
            $233,953
          </td>
          <td class="text-right">
            $481,610
          </td>
          <td class="text-right">
            $715,563
          </td>
          <td class="text-right">
            $715,563
          </td>
          <td class="text-right">
            100%
          </td>
          <td class="text-right">
            $41,800
          </td>
          <td class="text-right">
            $757,363
          </td>
          <td class="text-right">
            $7,155.63
          </td>
        </tr>
        <tr class="success">
          <td>&nbsp;</td>
          <td>Loan Total</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td class="text-right">$905,199</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td class="text-right">$9,051.99</td>
        </tr>
      </table>
    </div>
  </div>
</fieldset>