<style>
    label{ display:inline; }
    #filtered div{ min-height: 34px; }
</style>
<div class="frmFull_Page" style="margin-top: 18px;">
    <!--<pre>{{users | json}}</pre>-->
    <!--<pre>{{user | json}}</pre>-->
    <div class="row">
        <div class="col-md-12">
            <h3>My Preferred Settings</h3>
        </div>
    </div>
    <br><br>
    <form>
        <fieldset class="col-md-12" style="margin-top:-30px;">
            <legend>MY INFORMATION</legend>
            <div class="row">
                <div class="form-group col-md-3">
                  <label>Username:</label>
                  <input type="text" class="form-control" name="username" ng-model="user.username"/>
                </div>
                <div class="form-group col-md-3">
                        <label>Email:</label>
                        <input type="text" class="form-control" name="email" ng-model="user.email"/>
                    </div>
                <div class="form-group col-md-3">
                        <label>Default Location:</label>
                        <select class="form-control" name="loc_id" ng-model="user.loc_id" ng-options="loc.id as loc.location for loc in feeder.locations">
                            <option value="">Please select ...</option>
                        </select>
                    </div>
                <div class="form_group col-md-3">
                    <label>Home Page</label>
                    <select class="form-control" name="homepage" ng-model="user.homepage" ng-options="o.abr as o.option for o in feeder.hpOpts">
                        <option value="">Please select ...</option>
                    </select>
                </div>
            </div>
        </fieldset>

        <fieldset id="filtered" class="col-md-12" style="margin-top:18px;">
          <legend>FILTERS</legend>
          <div class="row">
            <!--STATUS-->
              <div class="form-group col-md-2">
                  <label>Status:</label>
              </div>
              <div class="form-group col-md-4">
                  <input type="checkbox" name="In-Progress" ng-model="user.cbStatusInProgress"> <span class="glyphicon glyphicon-wrench" tooltip="In_Progress" style="color: #000099;"></span>
                  &nbsp;&nbsp;&nbsp;
                  <input type="checkbox" name="Recommended" ng-model="user.cbStatusRecommended"> <span class="glyphicon glyphicon-share-alt" tooltip="Recommended"></span>
                  &nbsp;&nbsp;&nbsp;
                  <input type="checkbox" name="Withdrawn" ng-model="user.cbStatusWithdrawn"> <span class="glyphicon glyphicon-remove-sign" tooltip="Withdrawn" style="color: #E0A02D;"></span>
                  &nbsp;&nbsp;&nbsp;
                  <input type="checkbox" name="Approved" ng-model="user.cbStatusApproved"> <span class="glyphicon glyphicon-thumbs-up" tooltip="Approved" style="color: #009900;"></span>
                  &nbsp;&nbsp;&nbsp;
                  <input type="checkbox" name="Denied" ng-model="user.cbStatusDenied"> <span class="glyphicon glyphicon-thumbs-down" tooltip="Denied" style="color: #990000;"></span>
                  &nbsp;&nbsp;&nbsp;
                  <input type="checkbox" name="Paid" ng-model="user.cbStatusPaid"> <span class="glyphicon glyphicon-ok" tooltip="Paid" style="color: #009900;"></span>
              </div>
            <!--APP DATE-->
              <div class="form-group col-md-2">
                  <label>Application Date:</label>
              </div>
              <div class="form-group col-md-2">
                <input type="radio" ng-model="user.togAppDate" value="all"/>
                <span style="font:normal 12px sans-serif">All</span>
                &nbsp;
                <input type="radio" ng-model="user.togAppDate" value="equal" />
                <span style="font:normal 12px sans-serif">=</span>
                &nbsp;
                <input type="radio" ng-model="user.togAppDate" value="before"/>
                <span style="font:normal 12px sans-serif"><</span>
                &nbsp;
                <input type="radio" ng-model="user.togAppDate" value="after" />
                <span style="font:normal 12px sans-serif">> </span>
              </div>
              <div class="form-group col-md-2">
                  <input class="form-control" type="text" name="user.appDate" placeholder="Set Filter" ng-hide="user.togAppDate == 'all'"/>
              </div>
          </div>
          <div class="row">
            <!--REGION-->
              <div class="form-group col-md-2">
                <label>Region:</label>
              </div>
              <div class="form-group col-md-4">
                  <select class="form-control" name="filterRegions" ng-model="user.filterRegions" ng-options="r.id as r.region for r in feeder.regions">
                      <option value="">All</option>
                  </select>
              </div>
            <!--CLOSE DATE-->
            <div class="form-group col-md-2">
              <label>Close Date:</label>
            </div>
            <div class="form-group col-md-2">
              <input type="radio" ng-model="user.togCloseDate" value="all"/>
              <span style="font:normal 12px sans-serif">All</span>
              &nbsp;
              <input type="radio" ng-model="user.togCloseDate" value="equal" />
              <span style="font:normal 12px sans-serif">=</span>
              &nbsp;
              <input type="radio" ng-model="user.togCloseDate" value="before"/>
              <span style="font:normal 12px sans-serif"><</span>
              &nbsp;
              <input type="radio" ng-model="user.togCloseDate" value="after"/>
              <span style="font:normal 12px sans-serif">> </span>
            </div>
            <div class="form-group col-md-2">
              <input class="form-control" type="text" name="user.closeDate" placeholder="Set Filter" ng-hide="user.togCloseDate == 'all'"/>
            </div>
          </div>
          <div class="row">
            <!--LOCATION-->
              <div class="form-group col-md-2">
                <label>Location:</label>
              </div>
              <div class="form-group col-md-4">
                  <select class="form-control" name="filterLocations" ng-model="user.filterLocations" ng-options="l.id as l.location for l in feeder.locations">
                      <option value="">All</option>
                  </select>
              </div>
            <!--TOTAL COMMIT-->
            <div class="form-group col-md-2">
              <label>Commit - Total:</label>
            </div>
            <div class="form-group col-md-2">
              <input type="radio" name="togCommitTotal" ng-model="user.togCommitTotal" value="all"/>
              <span style="font:normal 12px sans-serif">All</span>
              &nbsp;
              <input type="radio" name="togCommitTotal" ng-model="user.togCommitTotal" value="equal" />
              <span style="font:normal 12px sans-serif">=</span>
              &nbsp;
              <input type="radio" name="togCommitTotal" ng-model="user.togCommitTotal" value="before"/>
              <span style="font:normal 12px sans-serif"><</span>
              &nbsp;
              <input type="radio" name="togCommitTotal" ng-model="user.togCommitTotal" value="after"/>
              <span style="font:normal 12px sans-serif">> </span>
            </div>
            <div class="form-group col-md-2">
              <input class="form-control" type="text" name="commitTotal" ng-model="user.commitTotal" placeholder="Set Filter" ng-hide="user.togCommitTotal == 'all'"/>
            </div>
          </div>
          <div class="row">
            <!--ANALYST-->
            <div class="form-group col-md-2">
              <label>Analyst:</label>
            </div>
            <div class="form-group col-md-4">
              <select class="form-control" name="filterAnalysts" ng-model="user.filterAnalysts" ng-options="u.id as u.username for u in users | filter : {is_staff : true}">
                <option value="">All</option>
              </select>
            </div>
            <!--TOTAL ARM-->
            <div class="form-group col-md-2">
              <label>Commit - ARM:</label>
            </div>
            <div class="form-group col-md-2">
              <input type="radio" name="togCommitArm" ng-model="user.togCommitArm" value="all"/>
              <span style="font:normal 12px sans-serif">All</span>
              &nbsp;
              <input type="radio" name="togCommitArm" ng-model="user.togCommitArm" value="equal" />
              <span style="font:normal 12px sans-serif">=</span>
              &nbsp;
              <input type="radio" name="togCommitArm" ng-model="user.togCommitArm" value="before"/>
              <span style="font:normal 12px sans-serif"><</span>
              &nbsp;
              <input type="radio" name="togCommitArm" ng-model="user.togCommitArm" value="after"/>
              <span style="font:normal 12px sans-serif">> </span>
            </div>
            <div class="form-group col-md-2">
              <input class="form-control" type="text" name="commitArm" ng-model="user.commitArm" placeholder="Set Filter" ng-hide="user.togCommitArm == 'all'"/>
            </div>
          </div>
          <div class="row">
            <!--FARMER-->
            <div class="form-group col-md-2">
              <label>Farmers:</label>
            </div>
            <div class="form-group col-md-4">
              <select class="form-control" name="filterFarmers" ng-model="user.filterFarmers" ng-options="f.id as f.farmer for f in farmers">
                <option value="">All</option>
              </select>
            </div>
            <!--DIST COMMIT-->
            <div class="form-group col-md-2">
              <label>Commit - Distributor:</label>
            </div>
            <div class="form-group col-md-2">
              <input type="radio" name="togCommitDist" ng-model="user.togCommitDist" value="all"/>
              <span style="font:normal 12px sans-serif">All</span>
              &nbsp;
              <input type="radio" name="togCommitDist" ng-model="user.togCommitDist" value="equal" />
              <span style="font:normal 12px sans-serif">=</span>
              &nbsp;
              <input type="radio" name="togCommitDist" ng-model="user.togCommitDist" value="before"/>
              <span style="font:normal 12px sans-serif"><</span>
              &nbsp;
              <input type="radio" name="togCommitDist" ng-model="user.togCommitDist" value="after"/>
              <span style="font:normal 12px sans-serif">> </span>
            </div>
            <div class="form-group col-md-2">
              <input class="form-control" type="text" name="commitDist" ng-model="user.commitDist" placeholder="Set Filter" ng-hide="user.togCommitDist == 'all'"/>
            </div>
          </div>
          <div class="row">
            <!--CROP YEARS-->
            <div class="form-group col-md-2">
              <label>Crop Years:</label>
            </div>
            <div class="form-group col-md-4">
              <select class="form-control" name="filterCropYears" ng-model="user.filterCropYears" ng-options="y.id as y.year for y in cropYears">
                <option value="">All</option>
              </select>
            </div>
            <!--OTHER COMMIT-->
            <div class="form-group col-md-2">
              <label>Commit - Other:</label>
            </div>
            <div class="form-group col-md-2">
              <input type="radio" name="togCommitOther" ng-model="user.togCommitOther" value="all"/>
              <span style="font:normal 12px sans-serif">All</span>
              &nbsp;
              <input type="radio" name="togCommitOther" ng-model="user.togCommitOther" value="equal" />
              <span style="font:normal 12px sans-serif">=</span>
              &nbsp;
              <input type="radio" name="togCommitOther" ng-model="user.togCommitOther" value="before"/>
              <span style="font:normal 12px sans-serif"><</span>
              &nbsp;
              <input type="radio" name="togCommitOther" ng-model="user.togCommitOther" value="after"/>
              <span style="font:normal 12px sans-serif">> </span>
            </div>
            <div class="form-group col-md-2">
              <input class="form-control" type="text" name="commitOther" ng-model="user.commitOther" placeholder="Set Filter" ng-hide="user.togCommitOther == 'all'"/>
            </div>
          </div>
          <div class="row">
            <!--SEASONS-->
            <div class="form-group col-md-2">
              <label>Seasons:</label>
            </div>
            <div class="form-group col-md-4">
              <select class="form-control" name="filterSeasons" ng-model="user.filterSeasons" ng-options="s.abr as s.season for s in feeder.seasons">
                <option value="">All</option>
              </select>
            </div>
            <!--FEE-->
            <div class="form-group col-md-2">
              <label>Fee:</label>
            </div>
            <div class="form-group col-md-2">
              <input type="radio" name="togFee" ng-model="user.togFee" value="all"/>
              <span style="font:normal 12px sans-serif">All</span>
              &nbsp;
              <input type="radio" name="togFee" ng-model="user.togFee" value="equal" />
              <span style="font:normal 12px sans-serif">=</span>
              &nbsp;
              <input type="radio" name="togFee" ng-model="user.togFee" value="before"/>
              <span style="font:normal 12px sans-serif"><</span>
              &nbsp;
              <input type="radio" name="togFee" ng-model="user.togFee" value="after"/>
              <span style="font:normal 12px sans-serif">> </span>
            </div>
            <div class="form-group col-md-2">
              <input class="form-control" type="text" name="fee" ng-model="user.fee" placeholder="Set Filter" ng-hide="user.togFee == 'all'"/>
            </div>
          </div>
          <div class="row">
            <!--LOAN TYPE-->
            <div class="form-group col-md-2">
              <label>Loan Types:</label>
            </div>
            <div class="form-group col-md-4">
              <select class="form-control" name="filterLoanTypes" ng-model="user.filterLoanTypes" ng-options="l.id as l.loantype for l in feeder.loantypes">
                <option value="">All</option>
              </select>
            </div>
            <!--ARM RATE-->
            <div class="form-group col-md-2">
              <label>Rate - ARM:</label>
            </div>
            <div class="form-group col-md-2">
              <input type="radio" name="togRateArm" ng-model="user.togRateArm" value="all"/>
              <span style="font:normal 12px sans-serif">All</span>
              &nbsp;
              <input type="radio" name="togRateArm" ng-model="user.togRateArm" value="equal" />
              <span style="font:normal 12px sans-serif">=</span>
              &nbsp;
              <input type="radio" name="togRateArm" ng-model="user.togRateArm" value="before"/>
              <span style="font:normal 12px sans-serif"><</span>
              &nbsp;
              <input type="radio" name="togRateArm" ng-model="user.togRateArm" value="after"/>
              <span style="font:normal 12px sans-serif">> </span>
            </div>
            <div class="form-group col-md-2">
              <input class="form-control" type="text" name="rateArm" ng-model="user.rateArm" placeholder="Set Filter" ng-hide="user.togRateArm == 'all'"/>
            </div>
          </div>
          <div class="row">
            <!--DISTRIBUTOR-->
            <div class="form-group col-md-2">
              <label>Distributors:</label>
            </div>
            <div class="form-group col-md-4">
              <select class="form-control" name="filterRateDist" ng-model="user.filterRateDist" ng-options="d.id as d.distributor for d in feeder.distributors">
                <option value="">All</option>
              </select>
            </div>
            <!--DIST RATE-->
            <div class="form-group col-md-2">
              <label>Rate - Distributor:</label>
            </div>
            <div class="form-group col-md-2">
              <input type="radio" name="togRateDist" ng-model="user.togRateDist" value="all"/>
              <span style="font:normal 12px sans-serif">All</span>
              &nbsp;
              <input type="radio" name="togRateDist" ng-model="user.togRateDist" value="equal" />
              <span style="font:normal 12px sans-serif">=</span>
              &nbsp;
              <input type="radio" name="togRateDist" ng-model="user.togRateDist" value="before"/>
              <span style="font:normal 12px sans-serif"><</span>
              &nbsp;
              <input type="radio" name="togRateDist" ng-model="user.togRateDist" value="after"/>
              <span style="font:normal 12px sans-serif">> </span>
            </div>
            <div class="form-group col-md-2">
              <input class="form-control" type="text" name="rateDist" ng-model="user.rateDist" placeholder="Set Filter" ng-hide="user.togRateDist == 'all'"/>
            </div>
          </div>
          <div class="row">
            <!--AGENCY-->
            <div class="form-group col-md-2">
              <label>Agencies:</label>
            </div>
            <div class="form-group col-md-4">
              <select class="form-control" name="filterAgencies" ng-model="user.filterAgencies" ng-options="a.id as a.name for a in feeder.agencies">
                <option value="">All</option>
              </select>
            </div>
            <!--TOTAL ACRES-->
            <div class="form-group col-md-2">
              <label>Acres - Total:</label>
            </div>
            <div class="form-group col-md-2">
              <input type="radio" name="togAcresTotal" ng-model="user.togAcresTotal" value="all"/>
              <span style="font:normal 12px sans-serif">All</span>
              &nbsp;
              <input type="radio" name="togAcresTotal" ng-model="user.togAcresTotal" value="equal" />
              <span style="font:normal 12px sans-serif">=</span>
              &nbsp;
              <input type="radio" name="togAcresTotal" ng-model="user.togAcresTotal" value="before"/>
              <span style="font:normal 12px sans-serif"><</span>
              &nbsp;
              <input type="radio" name="togAcresTotal" ng-model="user.togAcresTotal" value="after"/>
              <span style="font:normal 12px sans-serif">> </span>
            </div>
            <div class="form-group col-md-2">
              <input class="form-control" type="text" name="acresTotal" ng-model="user.acresTotal" placeholder="Set Filter" ng-hide="user.togAcresTotal == 'all'"/>
            </div>
          </div>

          <div class="row">
            <!--ADDENDUM-->
            <div class="form-group col-md-2">
              <label>Addendums:</label>
            </div>
            <div class="form-group col-md-4">
              <input type="radio" name="filterAddendum" ng-model="user.filterAddendums" value = "1"> Yes
              &nbsp;&nbsp;
              <input type="radio" name="filterAddendum" ng-model="user.filterAddendums" value = "0"> No
            </div>
            <!--ACRES - CORN-->
            <div class="form-group col-md-2">
              <label>Acres - Corn:</label>
            </div>
            <div class="form-group col-md-2">
              <input type="radio" name="togAcresCorn" ng-model="user.togAcresCorn" value="all"/>
              <span style="font:normal 12px sans-serif">All</span>
              &nbsp;
              <input type="radio" name="togAcresCorn" ng-model="user.togAcresCorn" value="equal" />
              <span style="font:normal 12px sans-serif">=</span>
              &nbsp;
              <input type="radio" name="togAcresCorn" ng-model="user.togAcresCorn" value="before"/>
              <span style="font:normal 12px sans-serif"><</span>
              &nbsp;
              <input type="radio" name="togAcresCorn" ng-model="user.togAcresCorn" value="after"/>
              <span style="font:normal 12px sans-serif">> </span>
            </div>
            <div class="form-group col-md-2">
              <input class="form-control" type="text" name="acresCorn" ng-model="user.acresCorn" placeholder="Set Filter" ng-hide="user.togAcresCorn == 'all'"/>
            </div>
          </div>
          <div class="row">
            <!--COMMENTS-->
            <div class="form-group col-md-2">
              <label>Comments:</label>
            </div>
            <div class="form-group col-md-4">
              <input type="radio" name="filterComments" ng-model="user.filterComments" value = "1"> Yes
              &nbsp;&nbsp;
              <input type="radio" name="filterComments" ng-model="user.filterComments" value = "0"> No
            </div>
            <!--ACRES - BEANS-->
            <div class="form-group col-md-2">
              <label>Acres - Soybeans:</label>
            </div>
            <div class="form-group col-md-2">
              <input type="radio" name="togAcresBeans" ng-model="user.togAcresBeans" value="all"/>
              <span style="font:normal 12px sans-serif">All</span>
              &nbsp;
              <input type="radio" name="togAcresBeans" ng-model="user.togAcresBeans" value="equal" />
              <span style="font:normal 12px sans-serif">=</span>
              &nbsp;
              <input type="radio" name="togAcresBeans" ng-model="user.togAcresBeans" value="before"/>
              <span style="font:normal 12px sans-serif"><</span>
              &nbsp;
              <input type="radio" name="togAcresBeans" ng-model="user.togAcresBeans" value="after"/>
              <span style="font:normal 12px sans-serif">> </span>
            </div>
            <div class="form-group col-md-2">
              <input class="form-control" type="text" name="acresBeans" ng-model="user.acresBeans" placeholder="Set Filter" ng-hide="user.togAcresBeans == 'all'"/>
            </div>
          </div>
          <div class="row">
            <!--BANKRUPTCY-->
            <div class="form-group col-md-2">
              <label>Bankruptcy:</label>
            </div>
            <div class="form-group col-md-4">
              <input type="radio" name="filterBankruptcy" ng-model="user.filterBankruptcy" value = "1"> Yes
              &nbsp;&nbsp;
              <input type="radio" name="filterComments" ng-model="user.filterComments" value = "0"> No
            </div>
            <!--ACRES - SORGHUM-->
            <div class="form-group col-md-2">
              <label>Acres - Sorghum:</label>
            </div>
            <div class="form-group col-md-2">
              <input type="radio" name="togAcresSorghum" ng-model="user.togAcresSorghum" value="all"/>
              <span style="font:normal 12px sans-serif">All</span>
              &nbsp;
              <input type="radio" name="togAcresSorghum" ng-model="user.togAcresSorghum" value="equal" />
              <span style="font:normal 12px sans-serif">=</span>
              &nbsp;
              <input type="radio" name="togAcresSorghum" ng-model="user.togAcresSorghum" value="before"/>
              <span style="font:normal 12px sans-serif"><</span>
              &nbsp;
              <input type="radio" name="togAcresSorghum" ng-model="user.togAcresSorghum" value="after"/>
              <span style="font:normal 12px sans-serif">> </span>
            </div>
            <div class="form-group col-md-2">
              <input class="form-control" type="text" name="acresSorghum" ng-model="user.acresSorghum" placeholder="Set Filter" ng-hide="user.togAcresSorghum == 'all'"/>
            </div>
          </div>
          <div class="row">
            <!--THIRD PARTY-->
            <div class="form-group col-md-2">
              <label>Third Party:</label>
            </div>
            <div class="form-group col-md-4">
              <input type="radio" name="filterThirdParty" ng-model="user.filterThirdParty" value = "1"> Yes
              &nbsp;&nbsp;
              <input type="radio" name="filterThirdParty" ng-model="user.filterThirdParty" value = "0"> No
            </div>
            <!--ACRES - WHEAT-->
            <div class="form-group col-md-2">
              <label>Acres - Wheat:</label>
            </div>
            <div class="form-group col-md-2">
              <input type="radio" name="togAcresWheat" ng-model="user.togAcresWheat" value="all"/>
              <span style="font:normal 12px sans-serif">All</span>
              &nbsp;
              <input type="radio" name="togAcresWheat" ng-model="user.togAcresWheat" value="equal" />
              <span style="font:normal 12px sans-serif">=</span>
              &nbsp;
              <input type="radio" name="togAcresWheat" ng-model="user.togAcresWheat" value="before"/>
              <span style="font:normal 12px sans-serif"><</span>
              &nbsp;
              <input type="radio" name="togAcresWheat" ng-model="user.togAcresWheat" value="after"/>
              <span style="font:normal 12px sans-serif">> </span>
            </div>
            <div class="form-group col-md-2">
              <input class="form-control" type="text" name="acresWheat" ng-model="user.acresWheat" placeholder="Set Filter" ng-hide="user.togAcresWheat == 'all'"/>
            </div>
          </div>
          <div class="row">
            <!--ADDED LAND-->
            <div class="form-group col-md-2">
              <label>Added Land:</label>
            </div>
            <div class="form-group col-md-4">
              <input type="radio" name="filterAddedLand" ng-model="user.filterAddedLand" value = "1"> Yes
              &nbsp;&nbsp;
              <input type="radio" name="filterAddedLand" ng-model="user.filterAddedLand" value = "0"> No
            </div>
            <!--ACRES - COTTON-->
            <div class="form-group col-md-2">
              <label>Acres - Cotton:</label>
            </div>
            <div class="form-group col-md-2">
              <input type="radio" name="togAcresCotton" ng-model="user.togAcresCotton" value="all"/>
              <span style="font:normal 12px sans-serif">All</span>
              &nbsp;
              <input type="radio" name="togAcresCotton" ng-model="user.togAcresCotton" value="equal" />
              <span style="font:normal 12px sans-serif">=</span>
              &nbsp;
              <input type="radio" name="togAcresCotton" ng-model="user.togAcresCotton" value="before"/>
              <span style="font:normal 12px sans-serif"><</span>
              &nbsp;
              <input type="radio" name="togAcresCotton" ng-model="user.togAcresCotton" value="after"/>
              <span style="font:normal 12px sans-serif">> </span>
            </div>
            <div class="form-group col-md-2">
              <input class="form-control" type="text" name="acresCotton" ng-model="user.acresCotton" placeholder="Set Filter" ng-hide="user.togAcresCotton == 'all'"/>
            </div>
          </div>
          <div class="row">
            <!--CONTROLLED DISBURSEMENT-->
            <div class="form-group col-md-2">
              <label>Controlled Disb:</label>
            </div>
            <div class="form-group col-md-4">
              <input type="radio" name="filterControlledDisbursements" ng-model="user.filterControlledDisbursements" value = "1"> Yes
              &nbsp;&nbsp;
              <input type="radio" name="filterControlledDisbursements" ng-model="user.filterControlledDisbursements" value = "0"> No
            </div>
            <!--ACRES - RICE-->
            <div class="form-group col-md-2">
              <label>Acres - Rice:</label>
            </div>
            <div class="form-group col-md-2">
              <input type="radio" name="togAcresRice" ng-model="user.togAcresRice" value="all"/>
              <span style="font:normal 12px sans-serif">All</span>
              &nbsp;
              <input type="radio" name="togAcresRice" ng-model="user.togAcresRice" value="equal" />
              <span style="font:normal 12px sans-serif">=</span>
              &nbsp;
              <input type="radio" name="togAcresRice" ng-model="user.togAcresRice" value="before"/>
              <span style="font:normal 12px sans-serif"><</span>
              &nbsp;
              <input type="radio" name="togAcresRice" ng-model="user.togAcresRice" value="after"/>
              <span style="font:normal 12px sans-serif">> </span>
            </div>
            <div class="form-group col-md-2">
              <input class="form-control" type="text" name="acresRice" ng-model="user.acresRice" placeholder="Set Filter" ng-hide="user.togAcresRice == 'all'"/>
            </div>
          </div>
          <div class="row">
            <!--ATTACHMENTS-->
            <div class="form-group col-md-2">
              <label>Attachments:</label>
            </div>
            <div class="form-group col-md-4">
              <input type="radio" name="filterAttachments" ng-model="user.filterAttachments" value = "1"> Yes
              &nbsp;&nbsp;
              <input type="radio" name="filterAttachments" ng-model="user.filterAttachments" value = "0"> No
            </div>
            <!--ACRES - PEANUTS-->
            <div class="form-group col-md-2">
              <label>Acres - Peanuts:</label>
            </div>
            <div class="form-group col-md-2">
              <input type="radio" name="togAcresPeanuts" ng-model="user.togAcresPeanuts" value="all"/>
              <span style="font:normal 12px sans-serif">All</span>
              &nbsp;
              <input type="radio" name="togAcresPeanuts" ng-model="user.togAcresPeanuts" value="equal" />
              <span style="font:normal 12px sans-serif">=</span>
              &nbsp;
              <input type="radio" name="togAcresPeanuts" ng-model="user.togAcresPeanuts" value="before"/>
              <span style="font:normal 12px sans-serif"><</span>
              &nbsp;
              <input type="radio" name="togAcresPeanuts" ng-model="user.togAcresPeanuts" value="after"/>
              <span style="font:normal 12px sans-serif">> </span>
            </div>
            <div class="form-group col-md-2">
              <input class="form-control" type="text" name="acresPeanuts" ng-model="user.acresPeanuts" placeholder="Set Filter" ng-hide="user.togAcresPeanuts == 'all'"/>
            </div>
          </div>
          <div class="row">
            <!--LIMIT CLOSE-->
            <div class="form-group col-md-2">
              <label>Limit Close:</label>
            </div>
            <div class="form-group col-md-4">
              <input type="radio" name="filterLimitClose" ng-model="user.filterLimitClose" value = "1"> Yes
              &nbsp;&nbsp;
              <input type="radio" name="filterLimitClose" ng-model="user.filterLimitClose" value = "0"> No
            </div>
            <!--ACRES - CANE-->
            <div class="form-group col-md-2">
              <label>Acres - Sugar Cane:</label>
            </div>
            <div class="form-group col-md-2">
              <input type="radio" name="togAcresCane" ng-model="user.togAcresCane" value="all"/>
              <span style="font:normal 12px sans-serif">All</span>
              &nbsp;
              <input type="radio" name="togAcresCane" ng-model="user.togAcresCane" value="equal" />
              <span style="font:normal 12px sans-serif">=</span>
              &nbsp;
              <input type="radio" name="togAcresCane" ng-model="user.togAcresCane" value="before"/>
              <span style="font:normal 12px sans-serif"><</span>
              &nbsp;
              <input type="radio" name="togAcresCane" ng-model="user.togAcresCane" value="after"/>
              <span style="font:normal 12px sans-serif">> </span>
            </div>
            <div class="form-group col-md-2">
              <input class="form-control" type="text" name="acresCane" ng-model="user.acresCane" placeholder="Set Filter" ng-hide="user.togAcresCane == 'all'"/>
            </div>
          </div>
          <div class="row">
            <!--LIMIT EXCEEDED-->
            <div class="form-group col-md-2">
              <label>Limit Exceeded:</label>
            </div>
            <div class="form-group col-md-4">
              <input type="radio" name="filterLimitExceeded" ng-model="user.filterLimitExceeded" value = "1"> Yes
              &nbsp;&nbsp;
              <input type="radio" name="filterLimitExceeded" ng-model="user.filterLimitExceeded" value = "0"> No
            </div>
            <!-- -->
            <div class="form-group col-md-6">&nbsp;</div>
          </div>
        </fieldset>

        <fieldset class="col-md-12" style="margin-top:18px;">
          <legend>OPTIONAL DISPLAY FIELDS</legend>
          <div class="alert alert-danger" role="alert">
            <p>You may only choose up to four optional fields</p>
          </div>
          <div class="row">
            <div class="form-group col-md-4">
                <input type="checkbox" name="show_region"/>
                Region
            </div>
            <div class="form-group col-md-4">
                <input type="checkbox" name="show_commit_total"/>
                Commit-Total
            </div>
            <div class="form-group col-md-4">
                <input type="checkbox" name="show_acres_total"/>
                Acres -- Total
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-4">
                <input type="checkbox" name="show_season"/>
                Season
            </div>
            <div class="form-group col-md-4">
                <input type="checkbox" name="show_commit_arm" checked/>
                Commit-ARM
            </div>
            <div class="form-group col-md-4">
                <input type="checkbox" name="show_acres_corn"/>
                Acres -- Corn
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-4">
                <input type="checkbox" name="show_distributor"/>
                Distributor
            </div>
            <div class="form-group col-md-4">
                <input type="checkbox" name="show_commit_dist"/>
                Commit-Dist
            </div>
            <div class="form-group col-md-4">
                <input type="checkbox" name="show_acres_soybean"/>
                Acres -- Soybeans
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-4">
                <input type="checkbox" name="show_agency"/>
                Agency
            </div>
            <div class="form-group col-md-4">
                <input type="checkbox" name="show_commit_other"/>
                Commit-Other
            </div>
            <div class="form-group col-md-4">
                <input type="checkbox" name="show_acres_cotton"/>
                Acres -- Sorghum
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-4">&nbsp;</div>
            <div class="form-group col-md-4">
                <input type="checkbox" name="show_fee_percentage"/>
                Fee Percentage
            </div>
            <div class="form-group col-md-4">
                <input type="checkbox" name="show_acres_wheat"/>
                Acres -- Wheat
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-4">&nbsp;</div>
            <div class="form-group col-md-4">
                <input type="checkbox" name="show_fee_total"/>
                Fee Total
            </div>
            <div class="form-group col-md-4">
                <input type="checkbox" name="show_acres_cotton"/>
                Acres -- Cotton
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-4">&nbsp;</div>
            <div class="form-group col-md-4">
                <input type="checkbox" name="show_rate_arm"/>
                ARM Rate
            </div>
            <div class="form-group col-md-4">
                <input type="checkbox" name="show_acres_rice"/>
                Acres -- Rice
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-4">&nbsp;</div>
            <div class="form-group col-md-4">
                <input type="checkbox" name="show_rate_dist"/>
                Distributor Rate
            </div>
            <div class="form-group col-md-4">
                <input type="checkbox" name="show_acres_peanuts"/>
                Acres -- Peanuts
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-4">&nbsp;</div>
            <div class="form-group col-md-4">
              <input type="checkbox" name="show_balance_due"/>
              Balance Due
            </div>
            <div class="form-group col-md-4">
                <input type="checkbox" name="show_acres_sugarcane"/>
                Acres -- Sugar Cane
            </div>
          </div>
        </fieldset>

        <fieldset class="col-md-12" style="margin-top:18px;display:none;">
            <legend>REPORT PREFERENCES</legend>
            <div class="row">
                <div class="form-group col-md-12">
                    <label>Printing Destination Settings</label>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4 offset-col-md-3">
                    <label>Default Sort Order for Reports:</label><br />
                    <table class="table table-striped">
                        <tr>
                            <td>
                                <select>
                                    <option value="">None</option>
                                    <option value="Region">Region</option>
                                    <option value="Location">Location</option>
                                    <option value="Analyst">Analyst</option>
                                    <option value="Farmer">Farmer</option>
                                    <option value="Applicant">Applicant</option>
                                    <option value="Crop Year">Crop Year</option>
                                    <option value="Season">Season</option>
                                    <option value="Loan Type">Loan Type</option>
                                    <option value="Addendum">Addendum</option>
                                    <option value="Agency">Agency</option>
                                    <option value="Distributor">Distributor</option>
                                </select>
                            </td>
                            <td>
                                <input type="checkbox" name="soRegion_sort" value="Yes"/> Subtotal
                                &nbsp;&nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <select>
                                    <option value="">None</option>
                                    <option value="Region">Region</option>
                                    <option value="Location">Location</option>
                                    <option value="Analyst">Analyst</option>
                                    <option value="Farmer">Farmer</option>
                                    <option value="Applicant">Applicant</option>
                                    <option value="Crop Year">Crop Year</option>
                                    <option value="Season">Season</option>
                                    <option value="Loan Type">Loan Type</option>
                                    <option value="Addendum">Addendum</option>
                                </select>
                            </td>
                            <td>
                                <input type="checkbox" name="soRegion_sort" value="Yes"/> Subtotal
                                &nbsp;&nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <select>
                                    <option value="">None</option>
                                    <option value="Region">Region</option>
                                    <option value="Location">Location</option>
                                    <option value="Analyst">Analyst</option>
                                    <option value="Farmer">Farmer</option>
                                    <option value="Applicant">Applicant</option>
                                    <option value="Crop Year">Crop Year</option>
                                    <option value="Season">Season</option>
                                    <option value="Loan Type">Loan Type</option>
                                    <option value="Addendum">Addendum</option>
                                </select>
                            </td>
                            <td>
                                <input type="checkbox" name="soRegion_sort" value="Yes"/> Subtotal
                                &nbsp;&nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <select>
                                    <option value="">None</option>
                                    <option value="Region">Region</option>
                                    <option value="Location">Location</option>
                                    <option value="Analyst">Analyst</option>
                                    <option value="Farmer">Farmer</option>
                                    <option value="Applicant">Applicant</option>
                                    <option value="Crop Year">Crop Year</option>
                                    <option value="Season">Season</option>
                                    <option value="Loan Type">Loan Type</option>
                                    <option value="Addendum">Addendum</option>
                                </select>
                            </td>
                            <td>
                                <input type="checkbox" name="soRegion_sort" value="Yes"/> Subtotal
                                &nbsp;&nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <select>
                                    <option value="">None</option>
                                    <option value="Region">Region</option>
                                    <option value="Location">Location</option>
                                    <option value="Analyst">Analyst</option>
                                    <option value="Farmer">Farmer</option>
                                    <option value="Applicant">Applicant</option>
                                    <option value="Crop Year">Crop Year</option>
                                    <option value="Season">Season</option>
                                    <option value="Loan Type">Loan Type</option>
                                    <option value="Addendum">Addendum</option>
                                </select>
                            </td>
                            <td>
                                <input type="checkbox" name="soRegion_sort" value="Yes"/> Subtotal
                                &nbsp;&nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <select>
                                    <option value="">None</option>
                                    <option value="Region">Region</option>
                                    <option value="Location">Location</option>
                                    <option value="Analyst">Analyst</option>
                                    <option value="Farmer">Farmer</option>
                                    <option value="Applicant">Applicant</option>
                                    <option value="Crop Year">Crop Year</option>
                                    <option value="Season">Season</option>
                                    <option value="Loan Type">Loan Type</option>
                                    <option value="Addendum">Addendum</option>
                                </select>
                            </td>
                            <td>
                                <input type="checkbox" name="soRegion_sort" value="Yes"/> Subtotal
                                &nbsp;&nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <select>
                                    <option value="">None</option>
                                    <option value="Region">Region</option>
                                    <option value="Location">Location</option>
                                    <option value="Analyst">Analyst</option>
                                    <option value="Farmer">Farmer</option>
                                    <option value="Applicant">Applicant</option>
                                    <option value="Crop Year">Crop Year</option>
                                    <option value="Season">Season</option>
                                    <option value="Loan Type">Loan Type</option>
                                    <option value="Addendum">Addendum</option>
                                </select>
                            </td>
                            <td>
                                <input type="checkbox" name="soRegion_sort" value="Yes"/> Subtotal
                                &nbsp;&nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <select>
                                    <option value="">None</option>
                                    <option value="Region">Region</option>
                                    <option value="Location">Location</option>
                                    <option value="Analyst">Analyst</option>
                                    <option value="Farmer">Farmer</option>
                                    <option value="Applicant">Applicant</option>
                                    <option value="Crop Year">Crop Year</option>
                                    <option value="Season">Season</option>
                                    <option value="Loan Type">Loan Type</option>
                                    <option value="Addendum">Addendum</option>
                                </select>
                            </td>
                            <td>
                                <input type="checkbox" name="soRegion_sort" value="Yes"/> Subtotal
                                &nbsp;&nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <select>
                                    <option value="">None</option>
                                    <option value="Region">Region</option>
                                    <option value="Location">Location</option>
                                    <option value="Analyst">Analyst</option>
                                    <option value="Farmer">Farmer</option>
                                    <option value="Applicant">Applicant</option>
                                    <option value="Crop Year">Crop Year</option>
                                    <option value="Season">Season</option>
                                    <option value="Loan Type">Loan Type</option>
                                    <option value="Addendum">Addendum</option>
                                </select>
                            </td>
                            <td>
                                <input type="checkbox" name="soRegion_sort" value="Yes"/> Subtotal
                                &nbsp;&nbsp;
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="form-group col-md-4 offset-col-md-3">
                    <label>Reporting Fields:</label>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label>Reporting Period</label>
                </div>
                <div class="form-group col-md-8">
                    <input type="radio" name="la_act_per" value="fiscal" checked/> Fiscal Year
                    &nbsp;&nbsp;
                    <input type="radio" name="la_act_per" value="fiscal"/> Crop Year
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label>Loan Activity Comparison Period</label>
                </div>
                <div class="form-group col-md-8">
                    <input type="checkbox" name="com_comp_per" value="Current MTD"/> MTD
                    &nbsp;&nbsp;
                    <input type="checkbox" name="com_comp_per" value="Current YTD"/> YTD
                    &nbsp;&nbsp;
                    <input type="checkbox" name="com_comp_per" value="Previous MTD"/> PMTD
                    &nbsp;&nbsp;
                    <input type="checkbox" name="com_comp_per" value="Previous YTD"/> PYTD
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label>Committee Reports</label>
                </div>
                <div class="form-group col-md-8">
                    <input type="radio" name="cr_sort" value="analyst" checked/> Sort by Analyst
                    &nbsp;&nbsp;
                    <input type="radio" name="cr_sort" value="committee"/> Sort by Committee Member
                </div>
            </div>
        </fieldset>
        <div class="row">&nbsp;</div>
        <div class="row" style="margin: 40px 0;">

            <div class="control-group col-md-10 col-md-offset-1">
                <input type="submit" name="submit" value="Update Settings" class="btn btn-large btn-primary"/>
            </div>
        </div>
        <br><br><br><br>
    </form>

    <div>
        <!--<p>{{$scope}}</p>-->
    </div>
</div>