<style>
    .table>tbody>tr>td{ padding:5px !important;}
    .enabled{ color: #ffff00; }
    .disabled{ color: #999999; }
</style>
<div class="frmFull_Page">
  <div class="row frmBarsm clr-black">
      <div ng-include="'angular/layout/topbars/_black.loan.bar.html'"></div>
  </div>

  <div class="row frmBar clr-darkgreen" style="margin-top: -12px;" ng-show="XColView">
    <div class="col-md-12">
      <h5>Cross Collateral View</h5>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-12" style="margin-bottom: -20px;">
      <div ng-include="'angular/layout/topbars/loanProgress.html'"></div>
    </div>
  </div>

  <hr style="margin-top: 5px;"/>

  <div class="row" style="display:none;">
    <div class="col-md-12">
      <pre>{{loan|json}}</pre>
    </div>
  </div>

    <div class="row" ng-show="toggleComment">
        <div class="container">
            <div class="col-md-12">
                <div ng-include="'angular/loans/comments/_loan.comment.form.html'"></div>
            </div>
        </div>
    </div>

  <div class="row" ng-show="!toggleComment">
    <div class="col-md-2">
      <div>
        <div ng-if="loan.loan_type_id == 1" ng-include="'angular/layout/sidebars/allIn.html'"></div>
        <div ng-if="loan.loan_type_id == 2" ng-include="'angular/layout/sidebars/agInput.html'"></div>
        <div ng-if="loan.loan_type_id == 3" ng-include="'angular/layout/sidebars/agPro.html'"></div>
        <div ng-if="loan.loan_type_id == 4" ng-include="'angular/layout/sidebars/agProFasttrack.html'"></div>
        <div ng-if="loan.loan_type_id == 5" ng-include="'angular/layout/sidebars/capitalBridge.html'"></div>
        <div ng-if="loan.loan_type_id == 6" ng-include="'angular/layout/sidebars/agVest.html'"></div>
        <div ng-if="loan.loan_type_id == 7" ng-include="'angular/layout/sidebars/grainStorage.html'"></div>
      </div>
    </div>
    <div class="col-md-10">
      <div ui-view>
        <pre>{{loan | json}}</pre>
      </div>
    </div>
  </div>
</div>
<!--<pre>{{loan | json}}</pre>-->