<style>
  th{ text-align:center; }
</style>
<fieldset>
  <!--<pre>{{screens | json}}</pre>-->
  <legend>Required Documents</legend>
  <!--TODO: Rework this GUI and build upload functionality-->
  <table class="table table-striped">
    <tr>
      <th style="width:30%">Document</th>
      <th style="width:12%;">Requested</th>
      <th style="width:12%;">Received</th>
      <th style="width:20%;">Reason Pending</th>
    </tr>
    <tr>
      <td colspan="4" ng-if="!docs || docs.length == 0">
        <strong>No Documents Found.</strong>
      </td>
    </tr>
    <tr ng-repeat="d in docs">
      <td>{{d.document}}</td>
      <td class="text-center">
        <span class="glyphicon glyphicon-pushpin" ng-if="!d.date_requested" ></span>
        <span ng-if="d.date_requested">
            {{d.date_requested | date:'M/d/yy'}}
        </span>
      </td>
      <td class="text-center">
        <span class="glyphicon glyphicon-cloud-upload" ng-if="!d.date_received"></span>
        <span ng-if="d.date_received">
          <a target="_blank" href="{{file_url + d.path + d.filename}}" download="{{d.filename}}">
            {{d.date_received | date:'M/d/yy'}}
          </a>
        </span>
      </td>
      <td>
        <input type="text" class="form-control" ng-model="d.reason_pending"/>
      </td>
    </tr>
  </table>
    <div class="row">
        <div class="col-md-12 text-right" style="padding-top:25px;">
        <span ng-if="newapplication">
          <button style="margin-right:10px;" class="btn btn-primary" ng-click="moveFromDocs()">Next</button>
        </span>
        <span ng-if="!newapplication">
          <button style="margin-right:10px;" class="btn btn-primary" ng-click="moveFromDocs()">UPDATE</button>
        </span>
        </div>
    </div>
</fieldset>
<!--<pre>{{docs | json}}</pre>-->