<table class="table table-striped rowed">
  <tr>
    <th>Contract Number</th>
    <th>Contract Date</th>
    <th>Delivery Due Date</th>
    <th>Contract Amount</th>
    <th>Contract Price</th>
    <th>Landowner Share</th>
    <th>Expected Revenue</th>
    <th>Eligible Proceeds</th>
  </tr>
  <tr>
    <td colspan="8" ng-if="storage.length == 0">
      <strong>No contracts found!</strong>
    </td>
  </tr>
  <tr ng-repeat="store in storage">
    <td>
      {{store.contract_number}}
    </td>
    <td class="text-center">
      {{store.contract_date}}
    </td>
    <td class="text-center">
      {{store.delivery_date}}
    </td>
    <td class="text-right">
      {{store.contract_amount|number:0}}
    </td>
    <td class="text-right">
      {{store.contract_price|flexCurrency:4}}
    </td>
    <td class="text-right">
      {{store.owner_share|flexPercent:1}}
    </td>
    <td class="text-right">
      {{store.revenue|flexCurrency:0}}
    </td>
    <td class="text-right">
      {{store.eligible_proceeds|flexCurrency:0}}
    </td>
  </tr>
  <tr class="success">
    <td colspan="3">Total</td>
    <td class="text-right">
      {{total_stored.acres|number:0}}
    </td>
    <td colspan="2">&nbsp;</td>
    <td class="text-right">
      {{total_stored.revenue|flexCurrency:0}}
    </td>
    <td class="text-right">
      {{total_stored.eligible|flexCurrency:0}}
    </td>
  </tr>
</table>
