<table class="table table-striped rowed">
  <tr>
    <th>Contract Number</th>
    <th>Contract Date</th>
    <th>Delivery Due Date</th>
    <th>Contract Amount</th>
    <th>Contract Price</th>
    <th>Landowner Share</th>
    <th>Expected Revenue</th>
    <th>Eligible Proceeds</th>
  </tr>
  <tr>
    <td>Jazzman</td>
    <td class="text-center">09/01/2015</td>
    <td class="text-center">04/31/2016</td>
    <td class="text-right">{{11000|number:0}}</td>
    <td class="text-right">{{17.9000|flexCurrency:4}}</td>
    <td class="text-right">{{20.0|flexPercent:1}}</td>
    <td class="text-right">{{157520|flexCurrency:0}}</td>
    <td class="text-right">{{118140|flexCurrency:0}}</td>
  </tr>
  <tr>
    <td>Hybrid</td>
    <td class="text-center">09/01/2015</td>
    <td class="text-center">04/31/2016</td>
    <td class="text-right">{{28000|number:0}}</td>
    <td class="text-right">{{15.5500|flexCurrency:4}}</td>
    <td class="text-right">{{20.0|flexPercent:1}}</td>
    <td class="text-right">{{348320|flexCurrency:0}}</td>
    <td class="text-right">{{261240|flexCurrency:0}}</td>
  </tr>
  <tr class="success">
    <td colspan="3">Total</td>
    <td class="text-right">{{39000|number:0}}</td>
    <td colspan="2">&nbsp;</td>
    <td class="text-right">{{505840|flexCurrency:0}}</td>
    <td class="text-right">{{379380|flexCurrency:0}}</td>
  </tr>
</table>
