<style></style>
<fieldset>
  <legend>Fund Disbursement</legend>
  <div class="row">
  <div class="col-md-12">
  <table class="table table-striped rowed">
  <tbody>
  <tr>
    <td style="width:28%;">Category</td>
    <td class="text-center" style="width:18%;">Budget</td>
    <td class="text-center" style="width:18%;">Spent</td>
    <td class="text-center" style="width:18%;">Remaining</td>
    <td class="text-center" style="width:18%;">Requested</td>
  </tr>
  <tr ng-repeat="exp in loan.expenses.byCat">
      <td>
          {{exp.expense}}
      </td>
      <td class="text-right">
          {{exp.calc_arm|flexZeroCurrency:2}}
      </td>
      <td class="text-right">
          {{0|flexZeroCurrency:2}}
      </td>
      <td class="text-right">
          {{exp.calc_arm|flexZeroCurrency:2}}
      </td>
      <td></td>
  </tr>
  <tr class="success">
    <td>Total</td>
    <td class="text-right">
      {{disburse_arm_total() | flexZeroCurrency:2 }}
    </td>
    <td class="text-center">
      {{disburse_rem_total()| flexZeroCurrency:2 }}
    </td>
    <td class="text-right">
      {{disburse_spent_total() | flexZeroCurrency:2 }}
    </td>
    <td class="text-center">
      {{calc_disburse.total()| flexZeroCurrency:2 }}
      <br />
      <button class="btn btn-success btn-xs" ng-click="requestDisbursement(disburse.total)">Request</button>
    </td>
  </tr>
  </tbody>
  </table>
  </div>
  </div>
</fieldset>