<div class="btn-group-vertical" style="padding-top: 10px; width:98%;">
  <a ui-sref-active="active" ui-sref="admin.crops" class="btn btn-default">Crops</a>
  <a ui-sref-active="active" ui-sref="admin.distributors" class="btn btn-default">Distributors</a>
  <a ui-sref-active="active" ui-sref="admin.entitytypes" class="btn btn-default">Entity Types</a>
  <a ui-sref-active="active" ui-sref="admin.instypes" class="btn btn-default">Insurance Types</a>
  <a ui-sref-active="active" ui-sref="admin.loantypes" class="btn btn-default">Loan Types</a>
  <a ui-sref-active="active" ui-sref="admin.locations" class="btn btn-default">Locations</a>
  <a ui-sref-active="active" ui-sref="admin.regions" class="btn btn-default">Regions</a>
  <a ui-sref-active="active" ui-sref="admin.reports" class="btn btn-default">Reports</a>
  <a ui-sref-active="active" ui-sref="admin.roles" class="btn btn-default">Roles</a>
  <a ui-sref-active="active" ui-sref="admin.units" class="btn btn-default">Measurement Units</a>
  <a ui-sref-active="active" ui-sref="admin.users" class="btn btn-default">Users</a>
</div>