<div class="btn-group-vertical" style="padding-top: 10px; width:98%;">
  <a ui-sref-active="active" ui-sref="edit.summary" class="btn btn-default">Summary</a>
  <a ui-sref-active="active" ui-sref="edit.underwriting" class="btn btn-default">Underwriting</a>
  <a ui-sref-active="active" ui-sref="edit.terms" class="btn btn-default">Terms</a>
  <a ui-sref-active="active" ui-sref="edit.committee" class="btn btn-default">Committee</a>
  <a ui-sref-active="active" ui-sref="edit.comments" class="btn btn-default">Comments</a>
  <a ui-sref-active="active" ui-sref="edit.farmer" class="btn btn-default">Farmer</a>
  <a ui-sref-active="active" ui-sref="edit.applicant" class="btn btn-default">Applicant</a>
  <a ui-sref-active="active" ui-sref="edit.quests" class="btn btn-default">Questions</a>
  <a ui-sref-active="active" ui-sref="edit.storage" class="btn btn-default">Grain Storage</a>
  <a ui-sref-active="active" ui-sref="edit.prerequisites" class="btn btn-default">Prerequisites</a>
  <a ui-sref-active="active" ui-sref="edit.closing" class="btn btn-default">Closing</a>
  <a ui-sref-active="active" ui-sref="edit.disbursement" class="btn btn-default">Disbursement</a>
  <a ui-sref-active="active" ui-sref="edit.audit" class="btn btn-default">Audit</a>
  <!--<a ui-sref-active="active" ui-sref="edit.farmdetails" class="btn btn-default">Farm Details</a>-->
  <!--<a ui-sref="edit.acres" class="btn btn-default">Acres</a>-->
</div>