<div>
    <tabset>
        <tab heading="Loan Comment">
            <div class="form-group">
                <label>Loan Comment:</label>
                <textarea class="form-control" rows="5" ng-model="loan.comments.Loan[0].comment"></textarea>
                <br/>
                <button class="btn btn-primary" ng-click="updateLoanComment()">UPDATE</button>
            </div>
        </tab>
        <tab heading="Addendum Comment">
            <div class="form-group">
                <label>Addendum Comment:</label>
                <textarea class="form-control" rows="5" ng-model="loan.comments.Addendum[0].comment"></textarea>
                <br/>
                <button class="btn btn-primary" ng-click="updateAddendumComment()">UPDATE</button>
            </div>
        </tab>
        <tab heading="Watchlist Comment">
            <div class="form-group">
                <label>Watchlist Comment:</label>
                <textarea class="form-control" rows="5" ng-model="loan.comments.Watch[0].comment"></textarea>
                <br/>
                <button class="btn btn-primary" ng-click="updateWatchlistComment()">UPDATE</button>
            </div>
        </tab>
    </tabset>
</div>