<div ng-controller="AdminLocationsController">
    <div ui-view></div>
    <!--<pre>{{locations | json}}</pre>-->
    <table class="table table-striped table-bordered table-hover table-condensed">
        <tr>
            <th style="width:15%;">Location</th>
            <th style="width:15%;">Phone</th>
            <th style="width:15%;">Region</th>
            <th style="width:15%;">Manager</th>
            <th style="width:15%;">Actions</th>
        </tr>
        <tr ng-repeat="l in feeder.locations">
            <td>
                {{ l.location }}
            </td>
            <td>
                {{ l.phone | phone }}
            </td>
            <td>
                {{ l.region }}
            </td>
            <td>
                {{ l.manager }}
            </td>
            <td style="white-space: nowrap">
                <a class="btn btn-success" ui-sref="admin.locations.edit({locationId:l.id})">edit</a>
                <button class="btn btn-danger" ng-really-message="This action cannot be undone. Are you sure?" ng-really-click="removeLocation($index, l.id)">del</button>
            </td>
        </tr>
    </table>

    <button class="btn btn-default" ng-click="addLocation()">Add New Location</button>
    <br/><br/><br/><br/>
</div>