<!--<pre>{{user | json}}</pre>-->
<form class="form-horizontal" region="form">
    <div class="form-group">
        <label class="col-sm-2 control-label">Region</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" ng-model="region.region" placeholder="Region"/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-6">
            <a class="btn btn-success" ng-click="saveRegion(region.id, region)" ui-sref="admin.regions.list">Submit</a>
            &nbsp;&nbsp;&nbsp;
            <a ui-sref="admin.regions.list" class="btn btn-default">Cancel</a>
        </div>
    </div>
</form>
<br><br/>