<span class="glyphicon glyphicon-plus indicon clrOff" tooltip="Addendum"></span>
<span class="glyphicon glyphicon-fire indicon clrOff" tooltip="Bankruptcy History"></span>
<span class="glyphicon glyphicon-stats indicon clrOff" tooltip="Third Party Credit Required"></span>
<span class="glyphicon glyphicon-flag indicon clrOff" tooltip="Added Land in Database"></span>
<span class="glyphicon glyphicon-tower indicon clrOff" tooltip="Controlled Disbursement"></span>
<span class="glyphicon glyphicon-paperclip indicon clrOff" tooltip="Attachments"></span>