<table class="table table-striped rowed disp-sm" style="width:100%; margin: 0 auto;">
    <tr>
        <th>Source</th>
        <th style="width:7%">Acres</th>
        <th style="width:7%">Yield</th>
        <th style="width:7%">Price</th>
        <th style="width:7%">Share</th>
        <th style="width:7%">Crops</th>
        <th style="width:7%">Bk Adj</th>
        <th style="width:7%">Hrv Adj</th>
        <th style="width:7%">Adj Total</th>
        <th style="width:7%">Insurance</th>
        <th style="width:7%">Discount</th>
        <th style="width:7%">Over Disc</th>
        <th style="width:7%">NRP</th>
    </tr>
    <tr ng-repeat="c in loan.loancrops" ng-if="c.is_active == '1'">
        <td>{{c.crop.name}}</td>
        <td class="text-right" ng-class="gtZero(c.acres)">
            {{c.acres | number:1}}
        </td>
        <td class="text-right" ng-class="gtZero(c.prod_yield)">
            {{c.prod_yield | number:1}}
        </td>
        <td class="text-right" ng-class="gtZero(c.prod_price)">
            {{c.prod_price | flexCurrency:4}}
        </td>
        <td class="text-right" ng-class="gtZero(c.prod_share)">
            {{c.prod_share | flexPercent:1}}
        </td>
        <td class="text-right bright" ng-class="gtZero(c.crop_value)">
            {{c.crop_value | flexCurrency:0}}
        </td>
        <td class="text-right" ng-class="gtZero(c.adj_book_value)">
            {{c.adj_book_value | flexCurrency:0}}
        </td>
        <td class="text-right" ng-class="gtZero(c.adj_harvest_value)">
            {{c.adj_harvest_value | flexCurrency:0}}
        </td>
        <td class="text-right bright" ng-class="gtZero(c.adj_total_value)">
            {{c.adj_total_value | flexCurrency:0}}
        </td>
        <td class="text-right" ng-class="gtZero(c.ins_value)">
            {{c.ins_value | flexCurrency:0}}
        </td>
        <td class="text-right" ng-class="gtZero(c.ins_value)">
            {{c.ins_value | flexCurrency:0}}
        </td>
        <td class="text-right" ng-class="gtZero(c.ins_value)">
            {{c.ins_value | flexCurrency:0}}
        </td>
        <td class="text-right" ng-class="gtZero(c.ins_value)">
            {{c.ins_value | flexCurrency:0}}
        </td>
    </tr>
    <tr>
        <td colspan="12">FSA Payment</td>
        <td class="text-right" ng-class="gtZero(loan.fins.total_fsa_payment)">
            {{loan.fins.total_fsa_payment | flexCurrency:0}}
        </td>
    </tr>
    <tr>
        <td colspan="12">Other</td>
        <td ng-class=gtZero(loan.fins.total_claims)>
            {{loan.fins.total_claims | flexCurrency:0}}
        </td>
    </tr>
    <tr class="success">
        <td class="text-left">Totals</td>
        <td class="text-right">{{loan.fins.total_acres | number:1}}</td>
        <td colspan="6">&nbsp;</td>
        <td class="text-right" ng-class="gtZero(AppFactory.income_totalCollateral(loan))">
            {{AppFactory.income_totalCollateral(loan) | flexCurrency:0}}
        </td>
        <td colspan="4">&nbsp;</td>
    </tr>
</table>
<!--<pre>{{loan.loancrops | json}}</pre>-->