<style>
  .uline{ border-botton: 1px solid #333 !Important; }
  .lg-text{ font-size: 16px;}
</style>
<!--LOAN EXCEPTIONS-->
<fieldset>
  <legend>Loan Exceptions</legend>
  <div class="row">
    <div class="form-group col-md-10 col-md-offset-1">
        <div ng-include="'angular/loans/underwriting/_loan.exceptions.html'"></div>
    </div>
  </div>
</fieldset>
<br/><br/>
<!--LOAN CONDITIONS-->
<fieldset>
  <legend>Loan/Collateral Conditions</legend>
  <div class="row">
    <div class="form-group col-md-12">
      <div ng-include="'angular/loans/underwriting/_collateral.conditions.html'"></div>
    </div>
  </div>
</fieldset>
<br/><br/>
<!--PROJECTED INCOME-->
<fieldset>
    <legend>Detailed Projected Income</legend>
    <div class="row">
        <div class="form-group col-md-12">
            <div ng-include="'angular/loans/underwriting/_income.table.html'"></div>
        </div>
    </div>
</fieldset>
<br/><br/>
<!--INSURANCE COVERAGE-->
<fieldset>
    <legend>Detailed Insurance Coverage</legend>
    <div class="row">
        <div class="form-group col-md-12">
            <div ng-include="'angular/loans/underwriting/_insurance.tbl.html'"></div>
        </div>
    </div>
</fieldset>
<br/><br/>
<!--COLLATERAL SUMMARY-->
<fieldset ng-if="loan.loan_type_id != 7">
  <legend>Collateral Summary</legend>
  <div class="row">
    <div class="form-group col-md-12">
      <div ng-include="'angular/loans/underwriting/_collateral.tbl.html'"></div>
    </div>
  </div>
</fieldset>
<br/><br/>

<fieldset ng-if="loan.has_addendum">
  <legend>Loan History</legend>
  <div class="row">
    <div class="col-md-12">
      <div ng-include="'angular/loans/underwriting/_loan.history.tbl.html'"></div>
    </div>
  </div>
</fieldset>
<!--<pre>{{addendums|json}}</pre>-->
<!--<pre>{{globals|json}}</pre>-->