<fieldset name="FarmerInformation">
  <legend>FARMER INFORMATION</legend>
  <!--TODO: Form Validation-->
  <form novalidate>
    <h6 class="text-right small pulled-up">
      <span class="req">*</span> indicates Required Field
    </h6>
    <div class="row">
      <div class="form-group col-sm-12">
        <!-- FARMER/SSN/DOB -->
        <div class="row">
          <div class="form_group col-sm-7 required">
            <label><span class="req">*</span>
              Name (Last Name, First Name):
            </label>
            <input type="text"
                   id="farmer"
                   ng-model="farmer.farmer"
                   typeahead="f.farmer for f in farmers | filter:$viewValue | limitTo:8"
                   class="form-control"
                   typeahead-on-select="onFarmerSelect($item, $model, $label)"
                   autocomplete="false"/>
          </div>
          <div class="form-group col-sm-3">
            <label><span class="req">*</span>
              SSN / Tax ID:</label>
            <input type="text"
                   class="form-control"
                   name="ssn"
                   ui-mask="999-99-9999"
                   ng-model="farmer.ssn"
                   style="width: 150px;"/>
          </div>
          <div class="col-sm-2">&nbsp;</div>
        </div>
        <!-- FARMER/SSN/DOB -->

        <!-- ADDRESS -->
        <div class="row">
          <div class="form-group col-sm-4">
            <label>Mailing Address:</label>
            <input type="text"
                   name="address"
                   ng-model="farmer.address"
                   class="form-control"/>
          </div>
          <div class="form-group col-sm-3">
            <label>City:</label>
            <input type="text" name="city" ng-model="farmer.city" class="form-control"/>
          </div>
          <div class="form-group col-sm-2">
            <label>State:</label>
            <select name="state"
                    ng-model="farmer.state_id"
                    class="form-control"
                    ng-options="s.id as s.state for s in feeder.states">
              <option value="">Please select ...</option>
            </select>
          </div>
          <div class="form-group col-sm-2">
            <label>Zip:</label>
            <input type="text"
                   name="zip"
                   ng-model="farmer.zip"
                   class="form-control"/>
          </div>
        </div>
        <!-- ADDRESS -->

        <!-- PHONE / EMAIL / INFO -->
        <div class="row">
          <div class="form-group col-sm-4">
            <label>Phone:</label>
            <input type="text"
                   name="phone"
                   ui-mask="(999) 999-9999"
                   ng-model="farmer.phone"
                   class="form-control"/>
          </div>
          <div class="form-group col-sm-3">
            <label>Email Address:</label>
            <input type="text"
                   name="email"
                   ng-model="farmer.email"
                   class="form-control"/>
          </div>
          <div class="form-group col-sm-2">
            <label>DOB:</label>
            <input type="text"
                   name="dob"
                   ui-mask="99/99/9999"
                   ng-model="farmer.dob"
                   class="form-control"
                   style="width: 140px;"/>
          </div>
          <div class="form-group col-sm-3">
            <label>Year Began Farming:</label>
            <input type="text"
                   name="first_year_farmer"
                   ng-model="farmer.first_year_farmer"
                   class="form-control"
                   style="width:120px;"/>
          </div>
          <div class="form-group col-sm-1" style="display:none;">
            <label>Loan: {{farmer.loan_id}}</label>
          </div>
        </div>
        <!-- PHONE / EMAIL / DOB -->
      </div>
      <div class="row">
        <div class="col-sm-12 text-right">
          <button style="margin-right:10px;"
                  class="btn btn-primary"
                  ng-click="createFarmer(farmer)"
                  ng-if="newapplication">
              NEXT
          </button>
            <button style="margin-right:10px;"
                    class="btn btn-primary"
                    ng-click="updateFarmer(farmer)"
                    ng-if="!newapplication">
                NEXT
            </button>
        </div>
      </div>
    </div>
  </form>
  <!--<pre>{{farmer | json}}</pre>-->
  <!--<pre>{{loan | json}}</pre>-->
</fieldset>