<!--<pre>{{user | json}}</pre>-->
<form class="form-horizontal" loantype="form">
    <div class="form-group">
        <label class="col-sm-2 control-label">Loantype</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" ng-model="loantype.loantype" placeholder="Loantype"/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-6">
            <a class="btn btn-success" ng-click="saveLoantype(loantype.id, loantype)" ui-sref="admin.loantypes.list">Submit</a>
            &nbsp;&nbsp;&nbsp;
            <a ui-sref="admin.loantypes.list" class="btn btn-default">Cancel</a>
        </div>
    </div>
</form>
<br><br/>