<div>
    <div ui-view></div>
    <!--<pre>{{locations | json}}</pre>-->
    <table class="table table-striped table-bordered table-hover table-condensed">
        <tr>
            <th style="width:15%;">Loantype</th>
            <th style="width:15%;">Actions</th>
        </tr>
        <tr ng-repeat="l in feeder.loantypes">
            <td>
                {{ l.loantype }}
            </td>
            <td style="white-space: nowrap">
                <a class="btn btn-success" ui-sref="admin.loantypes.edit({loantypeId:l.id})">edit</a>
                <button class="btn btn-danger" ng-really-message="This action cannot be undone. Are you sure?" ng-really-click="removeLoantype($index, l.id)">del</button>
            </td>
        </tr>
    </table>

    <button class="btn btn-default" ng-click="addLoantype()">Add New Loan Type</button>
    <br/><br/><br/><br/>
</div>