<!-- TODO: Trigger a LENDA if percents not default-->
<!--<pre>{{loan.priorlien|json}}</pre>-->
<table class="table table-striped rowed">
    <tr>
        <th style="width:37%;">&nbsp;</th>
        <th class="text-center" style="width:15%;">
            Prior Lien
        </th>
        <th class="text-center" style="width:12%;">
            Mkt Value
        </th>
        <th class="text-center" style="width:12%;">
            Discount
        </th>
        <th class="text-center" style="width:12%;">
            Value
        </th>
    </tr>
    <!--PROJECTED CROPS-->
    <tr>
        <td>Projected Crops</td>
        <td class="text-right">
            {{loan.priorlien[0].projected_crops|flexCurrency:0}}
        </td>
        <td class="text-right">
            {{loan.fins.adj_prod|flexCurrency:0}}
        </td>
        <td class="text-right">
            {{loan.fins.disc_prod_percent|flexPercent:1}}
        </td>
        <td class="text-right">
            {{AppFactory.calcPlannedCropValue(loan)|flexCurrency:0}}
        </td>
    </tr>
    <!--FSA ASSIGNMENT-->
    <tr>
        <td>FSA Assignment</td>
        <td class="text-right">
            {{loan.priorlien[0].fsa_payments|flexCurrency:0}}
        </td>
        <td class="text-right">
            {{loan.fins.total_fsa_payment| flexCurrency:0}}
        </td>
        <td class="text-right">
            {{loan.fins.fsa_assignment_percent|flexPercent:1}}
        </td>
        <td class="text-right">
            {{AppFactory.calcFSACollateralValue(loan)|flexCurrency:0}}
        </td>
    </tr>
    <!--INS OVER DISCOUNTED YIELD-->
    <tr>
        <td>Ins Over Discounted Yield</td>
        <td class="text-right">
            {{loan.priorlien[0].ins_over_discount|flexCurrency:0}}
        </td>
        <td class="text-right">
            {{loan.fins.ins_disc_prod|flexCurrency:0}}
        </td>
        <td class="text-right">
            {{loan.fins.disc_ins_percent|flexPercent:1}}
        </td>
        <td class="text-right">
            {{AppFactory.calcIODCollateralValue(loan)|flexCurrency:0}}
        </td>
    </tr>
    <!--TODO: ADDITIONAL NON RP DISCOUNT-->
    <tr>
        <td>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Additional Non RP Discount
        </td>
        <td class="text-right">
            {{loan.priorlien[0].nonrp_discount|flexCurrency:0}}
        </td>
        <td class="text-right">
            {{loan.insurance.nonrp.value|flexCurrency:0}}
        </td>
        <td class="text-right">
            {{loan.fins.non_rp_percent|flexPercent:1}}
        </td>
        <td class="text-right">
            {{AppFactory.calcNRPCollateralValue(loan)|flexCurrency:0}}
        </td>
    </tr>
    <!--TODO: SUPPLEMENTAL COVERAGE-->
    <tr>
        <td>Supplemental Coverage</td>
        <td class="text-right">
            {{loan.priorlien[0].supplemental_coverage|flexCurrency:0}}
        </td>
        <td></td>
        <td></td>
        <td>

        </td>
    </tr>
    <!--EQUIPMENT-->
    <tr>
        <td>Equipment</td>
        <td class="text-right">
            {{loan.priorlien[0].equipment|flexCurrency:0}}
        </td>
        <td class="text-right" ng-class=gtZero(loan.fins.collateral_equipment)>
            {{loan.fins.collateral_equipment | flexCurrency}}
        </td>
        <td class="text-right">
            {{loan.fins.equipment_percent|flexPercent:1}}
        </td>
        <td class="text-right" ng-class=gtZero(loan.fins.equipment_value)>
            {{AppFactory.calcEquipmentCollateralValue(loan)|flexCurrency:0}}
        </td>
    </tr>
    <!--REAL ESTATE-->
    <tr>
        <td>Real Estate</td>
        <td class="text-right">
            {{loan.priorlien[0].realestate|flexCurrency:0}}
        </td>
        <td class="text-right" ng-class=gtZero(loan.fins.collateral_realestate)>
            {{loan.fins.collateral_realestate | flexCurrency:0}}
        </td>
        <td class="text-right">
            {{loan.fins.realestate_percent|flexPercent:1}}
        </td>
        <td class="text-right" ng-class=gtZero(loan.fins.realestate_value)>
            {{AppFactory.calcRECollateralValue(loan)|flexCurrency:0}}
        </td>
    </tr>
    <!--CLAIMS-->
    <tr>
        <td>Claims</td>
        <td class="text-right">
            {{loan.priorlien[0].claims | flexCurrency:1}}
        </td>
        <td class="text-right" ng-class=gtZero(loan.fins.total_claims)>
            {{loan.fins.total_claims|flexCurrency:0}}
        </td>
        <td class="text-right">
            {{loan.fins.claims_percent|flexPercent:1}}
        </td>
        <td class="text-right" ng-class=gtZero(loan.fins.claims_value)>
            {{AppFactory.calcClaimsCollateralValue(loan)|flexCurrency:0}}
        </td>
    </tr>
    <!--TODO: OTHER COLLATERAL-->
    <tr>
        <td>Other</td>
        <td class="text-right">
            {{loan.priorlien[0].other|flexCurrency:0}}
        </td>
        <td></td>
        <td></td>
        <td>

        </td>
    </tr>
    <!--TOTALS-->
    <tr class="success">
        <td>Total Value</td>
        <td class="text-right">
            {{loan.priorlien[0].lientotal|flexCurrency:0}}
        </td>
        <td class="text-right">
            {{loan.fins.adj_prod * 1 + loan.fins.ins_disc_prod * 1 + loan.fins.total_fsa_payment * 1 + loan.fins.total_claims * 1 + loan.fins.collateral_equipment * 1 + loan.fins.collateral_realestate * 1 |
            flexCurrency:0}}
        </td>
        <td class="text-center"> - </td>
        <td class="text-right">
            {{loan.fins.pc_value * 1 + loan.fins.iod_value * 1 + loan.fins.fsa_value * 1 + loan.fins.claims_value * 1 + loan.fins.equipment_value * 1 + loan.fins.realestate_value * 1 | flexCurrency:0}}
        </td>
    </tr>
</table>