<div>
    <div ui-view></div>
    <!--<pre>{{locations | json}}</pre>-->
    <h3>User Management</h3>
    <table class="table table-striped table-bordered table-hover table-condensed">
        <tr>
            <td colspan="9">
                <input type="text" class="form-control" ng-model="filtery" style="width:260px;" placeholder="Filter List"/>
            </td>
        </tr>
        <tr>
            <th style="width:20%;">Username</th>
            <th style="width:20%;">Email</th>
            <th style="width:15%;">Phone</th>
            <th style="width:8%;">Role</th>
            <th style="width:8%;">LOC</th>
            <th style="width:8%;">Admin?</th>
            <th style="width: 90px !important;">Actions</th>
        </tr>
        <tr ng-repeat="u in users | filter:filtery">
            <td>
                {{ u.username }}
            </td>
            <td>
                {{ u.email }}
            </td>
            <td>
                {{ u.phone | phone }}
            </td>
            <td>
                {{ u.role }}
            </td>
            <td>
                {{ u.location }}
            </td>
            <td class="text-center">
                <input type="checkbox" name="is_admin" ng-model="u.is_admin"/>
            </td>
            <td style="white-space: nowrap;">
                <div class="btn-group" dropdown>
                    <button class="btn btn-success dropdown-toggle" dropdown-toggle type="button">
                        Action <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a ng-click="resetPassword(u.id)">Reset Password</a></li>
                        <li><a ui-sref="admin.users.edit({userId:u.id})">Edit</a></li>
                        <li><a ng-click="removeUser($index, u.id)">Delete</a></li>
                    </ul>
                </div>
            </td>
        </tr>
    </table>

    <button class="btn btn-default" ng-click="addUser()">Add New User</button>
    <br/><br/><br/><br/>
</div>